﻿<div data-view="plugins/messageBox" class="messageBox">
	<div class="modal-header">
		<h3 data-bind="text: title"></h3>
	</div>
	<div class="modal-body" data-bind="visible: message.length > 0">
		<p class="message" data-bind="html: message"></p>
	</div>
	<div class="modal-footer" data-bind="foreach: options">
		<button type="button" class="btn" 
		        data-bind="click: function () { $parent.selectOption($data); }, 
							text: $data, 
							css: { 'btn-primary': $index() == 0, autofocus: $index() == 0 }">			
		</button>
	</div>
</div>
