﻿<ul class="footer">
    <li><a data-bind="text: resources2.get('FooterView_Footer_HomeLabel'), attr:{ href:'#/welcome'}"  ></a></li>
    <li><a data-bind="text: resources2.get('FooterView_Footer_ContactCentreMailAddressLabel'), attr: { href: resources2.get('FooterView_Footer_ContactCentreMailAddress') }"></a></li>
    <li><span data-bind="text: resources2.get('FooterView_Footer_ContactCentrePhoneNumberLabel')"></span></li>
    <li><a data-bind="text: resources2.get('FooterView_Footer_AboutNSIWebAppLabel'), attr: { href: resources2.get('FooterView_Footer_AboutNSIWebAppUrl'), target: '_blank' }"></a></li>
    <li><a data-bind="text: resources2.get('FooterView_Footer_AboutThisSiteLabel'), attr: { href: resources2.get('FooterView_Footer_AboutThisSiteUrl'), target: '_blank' }"></a></li>
</ul>
<a data-bind="attr: { href: resources2.get('FooterView_Footer_NZGovtUrl'), target: '_blank' }" class="logo">
    <img src="content/images/logo-nz-govt.png" width="150" height="20" data-bind="attr: { alt: resources2.get('FooterView_Footer_NZGovtLabel'), title: resources2.get('FooterView_Footer_NZGovtLabel') }" />
</a>
