﻿<div>
	<div class="login" data-bind="visible: user().IsAuthenticated">
		<ul>
		    <li><span data-bind="text: resources2.get('HeaderSessionInfo_Header_LoggedIn')()"></span> <strong data-bind="text:loggedOnAs()"></strong></li>
			<li><input id="btnExitNSI" type="button" class="pie" data-bind="value: resources2.get('HeaderSessionInfo_Header_ButtonLogOut')(), click: onLogout" /></li>
		</ul>
	</div>
</div>