﻿<div>
	<nav class="mainNav" data-bind="visible: user().IsAuthenticated">
		<ul role="menubar" data-bind="foreach: visibleRoutes">
			<li role="menuitem" data-bind="css: { current: (hasActiveChild() || isActive()) }">
				<a data-bind="text: name, attr: { href: hash }, click: $root.checkAvailable"></a>
				<!-- ko if: function($data) { return data.visibleChildRoutes && data.visibleChildRoutes.length > 0 } -->
				<ul role="menu" data-bind="foreach: visibleChildRoutes, visible: $data.visibleChildRoutes.length > 0">
					<li role="menuitem" aria-haspopup="false" data-bind="css: { current: (hasActiveChild() || isActive()) }">
						<a data-bind="text: name, attr: { href: hash }, click: $root.checkAvailable"></a>
					</li>
				</ul>
				<!-- /ko -->
			</li>
		</ul>
	</nav>
</div>
