﻿
	<div >
		<div>


			<table id="batchResultsTable" class="fullWidth" data-bind="dataTable: resultsConfig,visible:batchRequestsResults().length > 0 ">
				<thead>
					<tr>
						<th></th>
						<th data-bind="text: resources.get('BatchResultsView_Filetype_Label')"></th>
						<th data-bind="text: resources.get('BatchResultsView_Filename_Label')"></th>
						<th data-bind="text: resources.get('BatchResultsView_CreatedOn_Label')"></th>
						<th data-bind="text: resources.get('BatchResultsView_UserID_Label')"></th>
						<th data-bind="text: resources.get('BatchResultsView_Status_Label')"></th>
						<th data-bind="text: resources.get('BatchResultsView_Downloaded_Label')"></th>
					</tr>
				</thead>

			</table>
		</div>
	</div>

<p class="message info" data-bind="visible: batchRequestsResults().length == 0 && hasPageLoaded()">
		<span class="icon info">Information Message.</span>
		<span data-bind="text: noResultsMessage"></span>
	</p>
<!--<p class="message" data-bind="visible: batchRequestsResults().length >= 1 ">
        <span class="icon">Information message</span>
        <strong>Assistance:</strong>
        <span data-bind="html: parameters.get('Upload_Status_Text2')"></span>
         
	</p>-->

<!-- END Primary Content Area -->



