﻿<div class="clear"></div>

<div data-bind="validationSummaryWidget: { validationErrors: allValidationErrors }"></div>

<h2>Generate change notification</h2>

<div class="form search container">
	<fieldset class="medium">
		<legend>Generate change notification</legend>
		<div class="row removeMargin">
			<label for="numProviderCode">From</label>
			<span class="pushDown">
				<input id="numProviderCode" type="radio" name="fromDate"
					   data-bind="checked: useCustomFromDate, checkedValue: false">				
				<span>Last change notification generated:</span>
				<span data-bind="text: lastDownloadedDateDisplay"></span>
			</span>
		</div>
		<div class="row">
			<label for="fromCustomDate"></label>
			
				<input id="useCustomFromDate" type="radio" name="fromDate"
					   data-bind="checked: useCustomFromDate, checkedValue: true">
					<input type="text" name="fromDate" id="fromCustomDate" placeholder="dd/mm/yyyy"
						   data-bind="valueAsDatePicker: customFromDate, hasFocus: isCustomFromDateSelected">
			
		</div>
		
		<div class="row">
			<span class="fauxLabel" id="txtTo" style="width:8.5em">To</span>
					
			<span aria-labelledby="txtTo" data-bind="text: currentDateTimeDisplay"></span>
			
		</div>

		<div class="clear"></div>

		<input type="button" value="View"
		       data-bind="click: onView, isPending: isLoadingData"/>

		<input type="button" value="Download"
		       data-bind="click: onDownload, isPending: isCheckingDownload"/>
	</fieldset>
</div>

<div class="tabs clear" data-bind="visible: resultMode">
	<ul role="tablist">
		<li id="tab-changeNotificationMode" class="pie" role="presentation" data-bind="click: setChangeNotificationMode, css: { current: isChangeNotificationMode }">
			<a role="tab" tabindex="0">
				<span>Changes</span>
				<span class="icon" data-bind="visible: isChangeNotificationMode"></span>
			</a>
		</li>
		<li id="tab-mergeRequestDeniedMode" class="pie" role="presentation" data-bind="click: setMergeRequestDeniedMode, css: { current: isMergeRequestDeniedMode }">
			<a role="tab" aria-controls="downloads" tabindex="0" >
				<span>Merge denials</span>
				<span class="icon" data-bind="visible: isMergeRequestDeniedMode"></span>
			</a>
		</li>
	</ul>
</div>

<div data-bind="visible: isChangeNotificationMode" class="clear">
	<table class="fullWidth" id="ChangeNotificationTable" data-bind="dataTable: changeNotificationResultsConfig, visible: changeNotificationResults().length > 0">
		<thead>
			<tr>
				<!--<th class="small">Change Indicator</th>-->			
				<th class="small">NSN</th>
				<th class="small">Family name</th>
				<th class="small">Given name(s)</th>
				<th class="small">Preferred name indicator</th>
				<th class="small">Birth date</th>
				<th class="small">Date of death</th>
				<th class="small">Gender</th>
				<th class="small">Name &amp; birth date verification</th>
				<th class="small">Residential status</th>
				<th class="small">Residential status verification</th>
				<th class="small">Student status</th>
				<th class="small">Modified by provider</th>
				<th class="small">Date modified</th>
			</tr>
		</thead>
	</table>
</div>



<div data-bind="visible: isMergeRequestDeniedMode" class="clear">
	<br/>
	<table class="" id="MergeRequestDeniedTable" data-bind="dataTable: mergeRequestDeniedTableConfig, visible: mergeRequestDeniedResults().length > 0">
		<thead>
			<tr>
				<th class="small">NSNs</th>
			</tr>
		</thead>
	</table>
</div>

