﻿<div data-bind="breadcrumbWidget: {}"></div>


<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources.get('BatchRequestsView_Heading')"></h1>
	<!--<input type="file" id="uploadFile" name="uploadFile[]"  />-->
	<div class="slide-overlay" data-bind="slideVisible: displayErrors().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading">
				<span class="icon">Error Message.</span>
				<span data-bind="text: resources.get('MergeStatusView_MergeStatus_ErrorLabel')"></span>
			</p>
			<ul data-bind="foreach: displayErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>
	<p class="message success" data-bind="visible: showSuccessMessage">
		<span class="icon">Success Message.</span><span data-bind="text: getFileName"></span>
	</p>
	<div id="upload">
		<input id="fileupload" type="file" name="files" style="width: 600px">
		<span data-bind="visible: displayErrors().length > 0, text: valMsg" class="error"></span>

		<input id="btnUpload" type="button" class="pie" data-bind="value: resources.get('BatchRequestsView_Upload_Button')" />
	</div>



	<p class="message info" data-bind="visible: batchRequestsResults().length == 0 && hasPageLoaded()">
		<span class="icon info">Information Message.</span>
		<span data-bind="text: noResultsMessage"></span>
	</p>

	<div data-bind="visible: batchRequestsResults().length > 0">
		<div>


			<table id="batchRequestsTable" class="fullWidth" data-bind="dataTable: resultsConfig">
				<thead>
					<tr>
						<th data-bind="text: resources.get('BatchRequestsView_Filetype_Label')"></th>
						<th data-bind="text: resources.get('BatchRequestsView_Filename_Label')"></th>
						<th data-bind="text: resources.get('BatchRequestsView_ReceivedOn_Label')"></th>
						<th data-bind="text: resources.get('BatchRequestsView_UserID_Label')"></th>
						<th data-bind="text: resources.get('BatchRequestsView_Status_Label')"></th>
					</tr>
				</thead>

			</table>
		</div>
	</div>

</div>
<!-- END Primary Content Area -->



