﻿<div data-bind="breadcrumbWidget: {}"></div>


<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1>Batch Results</h1>

	<div class="key">
		<div class="title" role="heading">Key</div>
		<ul>
			<li><span class="icon download">icon: download</span>Download</li>
			
		</ul>
	</div>
	<div class="tabs">
		<ul role="tablist" data-bind="foreach: routeTabs">
			<li class="pie current" role="presentation"
				data-bind="css: { current: isActive }, uniqueId: { prefix: 'tab-downloads'}">
				<a role="tab" aria-controls="downloads" aria-selected="true" tabindex="0"
					data-bind="attr: { href: hash }">
					<span data-bind="text: title"></span>
					<span class="icon" data-bind="visible: isActive"></span>
				</a>
			</li>
		</ul>
	</div>
<!--div tag missing for a purpose. do not put back in-->

<!-- ko router: { transition:'entrance', cacheViews:true }-->
<!--/ko-->

<!-- END Primary Content Area -->
