﻿<header class="banner">
<div class="inner">
	<div class="logo"><a href="/"><img src="content/images/logo-moe.png" width="236" height="70" alt="Go to home page - ORG. " /></a></div>
	<div class="title" role="heading">(APP)</div>
	
</div>
</header>

<div class="outer">

	<div id="main" role="main" class="primary">

		<span class="loading-small icon"></span> Loading...
	</div>
</div>