﻿@using System.Web
@using System.Web.Optimization

@model App.Core.AppHost.Models.HomeViewModel

<!doctype html>
<!--[if lt IE 7]> <html class="ie6 ie oldie" lang="en-nz"> <![endif]-->
<!--[if IE 7]> <html class="ie7 ie oldie" lang="en-nz"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie oldie" lang="en-nz"> <![endif]-->
<!--[if gt IE 8]> <html class="ie" lang="en-nz"> <![endif]-->
<!--[if ! IE]><!-->
<html lang="en-nz">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">

    <title>App</title>
    
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    @* Stop IE reverting to compatibility mode, if possible *@
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    @{
        if (false)
        { 
	@* Reference JS files to allow intellisense for development - Don't actually render to the client*@
        <script src="~/Scripts/_references.js"></script>
        }
		
    }

    @*<link rel="shortcut icon" href="favicon.ico">*@

    @Styles.Render("~/Content/css/css-bundle")
    <link href="~/Content/css/print.css"  media="print" rel="stylesheet" type="text/css" />

    
    <!-- Older Browsers HTML5 -->
    @*<script src="~/Content/js/modernizr.js"></script>
	<script src="~/Content/js/respond.min.js"></script>*@


    <!--[if lt IE 9]>
        <script src="Scripts/jquery-1.11.0.min.js"></script>
        <script src="Content/js/PIE.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
        @Scripts.Render("~/bundles/jquery")
	<!--<![endif]-->



	@*Load jquery-ui don't use bundle for this one*@
    <link href="~/Content/custom/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
</head>

<body data-cacheVersion="@Model.CacheBustingValue">
    @Html.AntiForgeryToken()
   
    @Scripts.Render("~/bundles/knockout")
    

<!--Reference the autogenerated SignalR hub script. -->
    <script src="signalr/hubs"></script>
   
    <div id="applicationHost">
        @Html.Partial("_splash")
    </div>


    @*@if (HttpContext.Current.IsDebuggingEnabled)
		{
			*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/require.js")" data-main="@Url.Content("~/App/main")"></script>
	
    @*}
		else
		{
			<!-- Remember to run the Durandal optimizer.exe to create the main-built.js  -->
			<script type="text/javascript" src="~/App/main-built.js"></script>
		}*@
	
    @* TODO: Fully control dev-specific features for a specific param (not just debug mode...) *@
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="~/Scripts/glimpse-knockout.js"></script>
    }
</body>

</html>

