﻿
@{
    Layout = null;
}
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" >
		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Sky Sigal">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="~/scripts/lib/reveal/reveal.js-current/css/reveal.min.css">
		<link rel="stylesheet" href="~/scripts/lib/reveal/reveal.js-current/css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="~/scripts/lib/reveal/reveal.js-current/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
		    //document.write( '<link rel="stylesheet" href="~/scripts/lib/reveal/reveal.js-current/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="~/scripts/lib/reveal/reveal.js-current/lib/js/html5shiv.js"></script>
		<![endif]-->

		<title>A Sky Sigal Presentation</title>
	</head>


	<body>
			
		<div class="reveal" >

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h2>Title</h2>
					<div>
					<img src="~/content/images/creator/logo.png"/>
					</div>
					<a style="font-size:0.5em" href="http://skysigal.com">SkySigal.com</a>
					<br/>
					<font style="font-size:0.5em">Solution Architect at:</font>
					<br/>
					<img src="~/content/images/creator/corp-logo.png"/>
					
				</section>
				<section>
					<h2>Example</h2>

<img uml='
package Presentation {
  class ServiceProxy {
    Client Endpoint
  }
}
package Application {
  class Service {
	Service Endpoint
  }
}

ServiceProxy .RIGHT.> Service

hide circle
hide methods
'>
					
				</section>

			</div>
		</div>
 		<script src="~/scripts/lib/reveal/reveal.js-current/lib/js/head.min.js"></script>
		<script src="~/scripts/lib/reveal/reveal.js-current/js/reveal.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="~/scripts/lib/reveal/deflate/rawdeflate.js"></script>
		<script src="~/scripts/lib/reveal/deflate/jquery_plantuml.js"></script>

		<script>

		    // Full list of configuration options available here:
		    // https://github.com/hakimel/reveal.js#configuration
		    Reveal.initialize({
		        controls: true,
		        progress: true,
		        history: true,
		        center: true,

		        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
		        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

		        // Parallax scrolling
		        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
		        // parallaxBackgroundSize: '2100px 900px',

		        // Optional libraries used to extend on reveal.js
		        dependencies: [
					{ src: '~/scripts/lib/reveal/reveal.js-current/lib/js/classList.js', condition: function () { return !document.body.classList; } },
					{ src: '~/scripts/lib/reveal/reveal.js-current/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
					{ src: '~/scripts/lib/reveal/reveal.js-current/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
					{ src: '~/scripts/lib/reveal/reveal.js-current/plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
					{ src: '~/scripts/lib/reveal/reveal.js-current/plugin/zoom-js/zoom.js', async: true, condition: function () { return !!document.body.classList; } },
					{ src: '~/scripts/lib/reveal/reveal.js-current/plugin/notes/notes.js', async: true, condition: function () { return !!document.body.classList; } }
		        ]
		    });

		</script>

	</body>
</html>