﻿
<div class="simplemodal-container" id="simplemodal-container" >
    <a title="Close" class="modalCloseImg simplemodal-close" data-bind="click: onCancel">Close</a>
    	<div class="slide-overlay" data-bind="slideVisible: validationGroup().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> Error:</p>
			<ul data-bind="foreach: validationGroup">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>
    <div tabindex="-1" class="simplemodal-wrap" >
        <div id="param-detail-1" class="modalBox modalBox-small">
            <h3 class="pie" data-bind="text: resources.get('ParameterDetailsView_Heading')() + ' - ' + parameter.Parameter()"></h3>
            <div class="inner">
                <div class="row">
                    <span class="fauxLabel" data-bind="text: resources.get('ParameterDetailsView_ParameterKey_Label')"></span>
                    <span data-bind="text: parameter.Parameter"></span>
                </div>
                <div class="row">
                    <span class="fauxLabel" data-bind="text: resources.get('ParameterDetailsView_ParameterDataType_Label')"></span>
                    <span data-bind="text: parameter.Datatype"></span>
                </div>
                <fieldset>
                    <legend data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></legend>
                    <div class="row" data-bind="visible: isStringVisible">
                        <label for="txtaValue" data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></label>
	                    <textarea id="txtaValue" name="" rows="5" cols="20" maxlength="1000"  data-bind="value: parameter.Value"></textarea>
                    </div>
                    <div class="row" data-bind="visible: isNumericVisible">
                        <label for="txtNumeric" data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></label>
	                    <input id="txtNumeric"  type="text" maxlength="1000" data-bind="value: parameter.Value"/>
                    </div>
                    <div class="row" data-bind="visible: isDateVisible">
                        <label for="txtDateValue" data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></label>
	                    <input id="txtDateValue" type="text"  class="small" placeholder="dd/mm/yyyy" data-bind="valueAsDatePicker: parameter.Value"/>

                    </div>                    
                    <div class="row" data-bind="visible: isDateTimeVisible">
                        <label for="txtDateTimeValue" data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></label>
                        <input id="txtDateTimeValue" type="text"  class="small" data-bind="valueAsDefaultDatePicker: parameter.Value"/>
                    </div>                    
                    <div class="row" data-bind="visible: isEmailURLVisible">
                        <label for="txtEmailURL" data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></label>
                        <!--<input id="txtEmailURL" class="small" type="text" maxlength="1000" data-bind="value: parameter.Value"/>-->
                        <textarea id="txtEmailURL" name="" rows="5" cols="20" maxlength="1000"  data-bind="value: parameter.Value"></textarea>
                    </div>
                    <div class="row radio" data-bind="visible: isBooleanVisible">
                        <span id="rdoBoolean" class="fauxLabel" data-bind="text: resources.get('ParameterDetailsView_ParameterValue_Label')"></span>
                        <ul aria-labelledby="rdoBoolean">
                            <li>
                                <input id="radYes" type="radio" name="valueBoolean" data-bind="value: resources.get('ParameterDetailsView_Boolean_Yes'), checked: valueBoolean" />
                                <label for="radYes" data-bind="text: labelYesBoolean"></label>
                            </li>
                            <li>
                                <input id="radNo" type="radio" name="valueBoolean" data-bind="value: resources.get('ParameterDetailsView_Boolean_No'), checked: valueBoolean" />
                                <label for="radNo" data-bind="text: labelNoBoolean"></label>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                
                <div class="row">
                    <span class="fauxLabel" data-bind="text: resources.get('ParameterDetailsView_ParameterDescription_Label')"></span>
                    <span data-bind="text: parameter.Description"></span>
                </div>
                <div class="row">
                    <span class="fauxLabel" data-bind="text: resources.get('ParameterDetailsView_ParameterType_Label')"></span>
                    <span data-bind="text: parameter.Parametertype"></span>
                </div>
                <div class="indent">
                    <input id="Button1" type="button" class="pie" data-bind="value: resources.get('ParameterDetailsView_Save_Button'), click: onSave"/>
                    <input id="Button2" type="button" class="pie cancel simplemodal-close" data-bind="value: resources.get('ParameterDetailsView_Cancel_Button'), click: onCancel"/>
                </div>
            </div>
        </div>
    </div>
</div>

