﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources.get('ParametersView_Heading')"></h1>

	<div class="key" data-bind="visible: canModifyParams">
		<div class="title" role="heading" data-bind="text: resources.get('ParametersView_Key_Label')"></div>
		<ul>
			<li><span class="icon edit">icon: edit</span><span data-bind="text: resources.get('ParametersView_Edit_Icon')"></span></li>
		</ul>
	</div>
	<div class="tabs">
		<ul role="tablist">
			<li id="tab-params" class="current" role="presentation"><a role="tab" aria-controls="params" aria-selected="false" tabindex="0"><span data-bind="text: resources.get('ParametersView_Parameters_Tab'), click: onParameterTabClick"></span></a></li>
			<li id="tab-messages" role="presentation"><a role="tab" aria-controls="messages" aria-selected="true" tabindex="-1"><span data-bind="text: resources.get('ParametersView_Messages_Tab'), click: onMessagesTabClick"></span></a></li>
		</ul>
	</div>
	<table class="fullWidth" id="params" aria-labelledby="tab-params" aria-hidden="false" aria-expanded="true" data-bind="dataTable: resultsConfig">
		<!--data-bind="dataTable: resultsConfig"-->
		<thead>
			<tr>
				<th class="small"></th>
				<th class="width100" data-bind="text: resources.get('ParametersView_Parameter_Label')"></th>
				<th class="width200" data-bind="text: resources.get('ParametersView_Value_Label')"></th>
				<th class="width200" data-bind="text: resources.get('ParametersView_Description_Label')"></th>
				<th class="width50" data-bind="text: resources.get('ParametersView_DataType_Label')"></th>
			</tr>
		</thead>
	</table>
</div>




<!-- END Primary Content Area -->
