﻿
<div data-bind="breadcrumbWidget: {}"></div>

<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources.get('ProviderDetailsView_Heading')"></h1>
	<div class="slide-overlay" data-bind="slideVisible: validationGroup().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> Error:</p>
			<ul data-bind="foreach: validationGroup">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>

	<!-- START Form Container -->
	<div class="floatLeft">
		<div class="form container">
			<fieldset>
				<legend data-bind="text: resources.get('ProviderDetailsView_ProviderDetails_Legend')"></legend>
				<p><span class="mandatory">* </span><span data-bind="text: resources.get('ProviderDetailsView_Mandatory_Label')"></span></p>
				<hr/>
				<div class="row">
					<span id="txtProviderName" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_ProviderName_Label')"></span>
					<span aria-labelledby="txtProviderName" data-bind="text: provider.ProviderName"></span>
				</div>
				<div class="row">
					<span id="numProviderCode" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_ProviderCode_Label')"></span>
					<span aria-labelledby="numProviderCode" data-bind="text: provider.ProviderCode"></span>
				</div>
				<div class="row">
					<label for="txtNSILiveDate" data-bind="text: resources.get('ProviderDetailsView_NSILiveDate_Label') "></label>
					<input id="txtNSILiveDate" type="text" 
						data-bind="placeholder: resources.get('ProviderDetailsView_ProviderDetailsViewNsiLiveDateDefaultValue'),
									valueAsFutureDatePicker: provider.NSILiveDate" 
						class="small" />
					<!--<a href="#" class="icon date" aria-labelledby="txtNSILiveDate">pick a date</a>-->
                    <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewNsiLiveDateHelp'), labelledBy: 'txtNSILiveDate' }"></span>
				</div>

				<hr />
				<div class="row radio">
					<fieldset class="">
						<legend>Receive Change Notifications</legend>
						<span id="select-receiveChange" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_ReceiveChangeNotifications_Label')"></span>
						<ul aria-labelledby="select-receiveChange">
							<li>
								<input id="radRCN-Yes" type="radio" name="receiveChange" value='Yes' data-bind="checked: provider.ReceiveChangeNotifications" />
								<label for="radRCN-Yes" data-bind="text: resources.get('ProviderDetailsView_Yes_Label')"></label>
							</li>
							<li>
								<input id="radRCN-No" type="radio" name="receiveChange" value='No' data-bind="checked: provider.ReceiveChangeNotifications" />
								<label for="radRCN-No" data-bind="text: resources.get('ProviderDetailsView_No_Label')"></label>
							</li>
						</ul>
						<span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewReceiveChangeNotificationsHelp'), labelledBy: 'select-receiveChange' }"></span>
					</fieldset>
				</div>
				<div class="row">
					<span id="dateLastChangeNotification" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_ChangeNotificationLastGeneratedOn_Label')"></span>
					<span aria-labelledby="dateLastChangeNotification" data-bind="textAsDateTime: provider.LastChangeNotificationDownloadDateTime"></span>
				</div>
				<div class="row radio">
					<fieldset class="">
						<legend>File format</legend>
						<span id="select-fileFormat" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_FFCN_Label')"></span>
						<ul aria-labelledby="select-fileFormat">
							<li>
								<input id="radXML" type="radio" name="fileFormat" value="XML" data-bind="checked: provider.FileFormatForChangeNotifications" />
								<label for="radXML" data-bind="text: resources.get('ProviderDetailsView_XML_Label')"></label>
							</li>
							<li>
								<input id="radDelimited" type="radio" name="fileFormat" value="Delimited" data-bind="checked: provider.FileFormatForChangeNotifications" />
								<label for="radDelimited" data-bind="text: resources.get('ProviderDetailsView_Delimited_Label')"></label>
							</li>
						</ul>
                        <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewFileFormatForChangeNotificationsHelp'), labelledBy: 'select-fileFormat' }"></span>
						
					</fieldset>
				</div>
				<div class="row radio">
					<fieldset>
						<legend>Macrons</legend>
						<span id="select-useMacrons" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_UseMacrons_Label')"></span>
						<ul aria-labelledby="select-useMacrons">
							<li>
								<input id="radMacron-Yes" type="radio" name="macron" value="Yes" data-bind="checked: provider.UseMacrons" />
								<label for="radMacron-Yes" data-bind="text: resources.get('ProviderDetailsView_Yes_Label')"></label>
							</li>
							<li>
								<input id="radMacron-No" type="radio" name="macron" value="No" data-bind="checked: provider.UseMacrons" />
								<label for="radMacron-No" data-bind="text: resources.get('ProviderDetailsView_No_Label')"></label>
							</li>
						</ul>
                        <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewUseMacronsHelp'), labelledBy: 'select-useMacrons' }"></span>
					
					</fieldset>
				</div>
				<div class="row radio">
					<fieldset>
						<legend>Manual merge</legend>
						<span id="select-manualMerge" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_ManualMergeRequired_Label') "></span>
						<ul aria-labelledby="select-manualMerge">
							<li>
								<input id="radManualMerge-Yes" type="radio" name="manualMerge" value="Yes" data-bind="checked: provider.ManualMergeRequired" />
								<label for="radManualMerge-Yes" data-bind="text: resources.get('ProviderDetailsView_Yes_Label')"></label>
							</li>
							<li>
								<input id="radManualMerge-No" type="radio" name="manualMerge" value="No" data-bind="checked: provider.ManualMergeRequired" />
								<label for="radManualMerge-No" data-bind="text: resources.get('ProviderDetailsView_No_Label')"></label>
							</li>
						</ul>
                        <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewManualMergeRequiredHelp'), labelledBy: 'select-manualMerge' }"></span>
					
					</fieldset>
				</div>
				<div class="row check">
					<fieldset>
						<legend>Interfaces</legend>
						<span id="multiSelect-interfaces" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_Interfaces_Label')"></span>
						<ul aria-labelledby="multiSelect-interfaces">
							<li>

								<input id="chk-interface-Batch" type="checkbox" data-bind="checked: provider.InterfaceBatch" />
								<label for="chk-interface-Batch" data-bind="text: resources.get('ProviderDetailsView_BATCH_Label')"></label>
							</li>
							<li>
								<input id="chk-interface-REST" type="checkbox" data-bind="checked: provider.InterfaceRest" />
								<label for="chk-interface-REST" data-bind="text: resources.get('ProviderDetailsView_REST_Label')"></label>								
							</li>
							<li>
								<input id="chk-interface-SOAP" type="checkbox" data-bind="checked: provider.InterfaceSOAP" />
								<label for="chk-interface-SOAP" data-bind="text: resources.get('ProviderDetailsView_SOAP_Label')"></label>
							</li>
							<li>								
								<input id="chk-interface-XML" type="checkbox" data-bind="checked: provider.InterfaceXML" />
								<label for="chk-interface-XML" data-bind="text: resources.get('ProviderDetailsView_XML_Label')"></label>
							</li>
						</ul>
                        <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewInterfacesHelp'), labelledBy: 'multiSelect-interfaces' }"></span>
					
					</fieldset>
				</div>
				<div class="row radio">
					<fieldset>
						<legend>On behalf</legend>
						<span id="select-on-behalf" class="fauxLabel" data-bind="text: resources.get('ProviderDetailsView_OnBehalf_Label')"></span>
						<ul aria-labelledby="select-on-behalf">
							<li>
								<input id="radOnBehalf-Yes" type="radio" name="onBehalf" value="Yes" data-bind="checked: provider.OnBehalf" />
								<label for="radOnBehalf-Yes" data-bind="text: resources.get('ProviderDetailsView_Yes_Label')"></label>
							</li>
							<li>
								<input id="radOnBehalf-No" type="radio" name="onBehalf" value="No" data-bind="checked: provider.OnBehalf" />
								<label for="radOnBehalf-No" data-bind="text: resources.get('ProviderDetailsView_No_Label')"></label>
							</li>
						</ul>
                        <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewOnBehalfHelp'), labelledBy: 'select-on-behalf' }"></span>
					
					</fieldset>
				</div>
				<div class="row">
					<fieldset>
						<legend>SPR duration</legend>
						<label for = "txtNumberOf" ><span data-bind="text: resources.get('ProviderDetailsView_SPRDuration_Label')"></span><span class="mandatory">*</span></label>
						<input id="txtNumberOf" type="text" aria-labelledby="multi-ActivePeriod numberOf" class="small" maxlength="4" data-bind="value: provider.SPRDuration" />
						<span data-bind="visible: notValidField(provider.SPRDuration, canShowErrors()), text: valMsg" class="error"></span>
						<span id="years" class="strong" data-bind="text: resources.get('ProviderDetailsView_Years_Label')"></span>
						&nbsp;
					    <span data-bind="helpIconWidget: { helpText: resources.get('ProviderDetailsView_ProviderDetailsViewSprDurationHelp'), labelledBy: 'multi-ActivePeriod numberOf' }"></span>

					
					</fieldset>
				</div>
			</fieldset>
		</div>
	</div>
	<!-- END Form Container -->

	<div class="clear container">
		<input id="btnSave" type="button" class="pie" 
		       data-bind="value: resources.get('ProviderDetailsView_Save_Button'),
							click: saveProvider,
							isPending: isSaving" />
		<input id="btnCancel" type="button" class="pie cancel" 
			data-bind="value: resources.get('ProviderDetailsView_Cancel_Button'), click: revertBackToProviderList" />
	</div>
</div>


