﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">

	<h1 data-bind="text: resources.get('ProviderListView_Heading')"></h1>

	<div class="key">
		<div class="title" role="heading" data-bind="text: resources.get('ProviderListView_Key_Label')"></div>
		<ul>
			<li><span class="icon edit">icon: edit</span><span data-bind="	text: resources.get('ProviderListView_EditRecord_Icon')"></span></li>
		</ul>
	</div>

	<div class="slide-overlay" data-bind="slideVisible: staticErrors().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> Error:</p>
			<ul data-bind="foreach: staticErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>

	<!-- START Search Area -->
	<div class="floatLeft">
		<div class="form search container">
			<fieldset class="medium">
				<legend data-bind="text: resources.get('ProviderListView_ProviderCodeSearch_Legend') "></legend>
				<div class="row">
					<label for="numProviderCode" data-bind="text: resources.get('ProviderListView_ProviderCode_Label') "></label>
					<input id="numProviderCode" type="text" class="medium" maxlength="10"
						data-bind="placeholder: resources.get('ProviderListView_ProviderListViewProviderCodeDefaultValue'),
									value: providerCode,
									enterKey: onProviderCodeSearch,
									valueUpdate: 'afterkeydown'"
						 />
				    <span data-bind="helpIconWidget: { helpText: resources.get('ProviderListView_ProviderListViewProviderCodeHelp'), labelledBy: 'numProviderCode' }"></span>

				
						</div>
				<input id="btnSearchProvider" type="button" class="pie" 
				       data-bind="value: resources.get('ProviderListView_Search_Button'),
									click: onProviderCodeSearch,
									isPending: isRunningProviderCodeSearch" />
			</fieldset>
			<span data-bind="text: resources.get('ProviderListView_Or_Label')"></span>
			<fieldset>
				<legend data-bind="text: resources.get('ProviderListView_DetailsSearch_Legend')"></legend>
				<div class="row">
					<label for="txtName" data-bind="text: resources.get('ProviderListView_ProviderName_Label') "></label>
					<input id="txtName" type="text" aria-required="true" maxlength="200"
					       data-bind="attr: { placeholder: resources.get('ProviderListView_ProviderListViewProviderNameDefaultValue') },
										value: providerName,
										enterKey: onProviderNameSearch,
										valueUpdate: 'afterkeydown'" />
                    
				    <span data-bind="helpIconWidget: { helpText: resources.get('ProviderListView_ProviderListViewProviderNameHelp'), labelledBy: 'numProviderCode' }"></span>

				</div>
				<input id="btnNameSearch" type="button" class="pie" 
				       data-bind="value: resources.get('ProviderListView_Search_Button'),
									click: onProviderNameSearch,
									isPending: isRunningProviderNameSearch" />
				<a data-bind="click:onClear">Clear</a>
			</fieldset>
		</div>
	</div>
	<!-- END Search Area -->
	
	<div class="clear"></div>

	<div data-bind="visible: !hasPageLoaded()" class="center">
		<br />
		<br />
		<span class="loading-small icon"></span>Loading
	</div>

	<p class="message info" data-bind="visible: providerRequestResults().length == 0 && hasDoneSearch">
		<span class="icon info">Information Message.</span>
		<span data-bind="text: noResultsMessage"></span>
	</p>
	
	<div data-bind="visible: providerRequestResults().length > 0">
		<div>
		
			<table class="fullWidth" id="ProviderListTable" data-bind="dataTable: resultsConfig">
				<thead>
					<tr>
						<th class="small"></th>
						<th class="width100" data-bind="text: resources.get('ProviderListView_ProviderCode_Label')"></th>
						<th data-bind="text: resources.get('ProviderListView_ProviderName_Label')"></th>
						<th class="width135" data-bind="text: resources.get('ProviderListView_NSILiveDate_Label')"></th>
						<th class="width135 allowWrap" data-bind="text: resources.get('ProviderListView_ReceiveChangeNotifications_Label')"></th>
						<th class="width150 allowWrap" data-bind="text: resources.get('ProviderListView_FFCN_Label')"></th>
						<th class="width100" data-bind="text: resources.get('ProviderListView_UseMacrons_Label')"></th>
						<th class="width135 allowWrap" data-bind="text: resources.get('ProviderListView_ManualMergeRequired_Label')"></th>
						<th class="width150"data-bind="text: resources.get('ProviderListView_Interfaces_Label')"></th>
						<th class="width100 allowWrap" data-bind="text: resources.get('ProviderListView_OnBehalf_Label')"></th>
						<th class="width100" data-bind="text: resources.get('ProviderListView_SPRDuration_Label')"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>



	<!-- END Primary Content Area -->

</div>
