.outer {
	input {
		&[type=button] {
			@include background-image(linear-gradient(#0062f8, #000842));
				-pie-background: linear-gradient(#0062f8, #000842);
			
			background-color: #005ea9;
			border: 1px solid $secondary;
			color: #fff;
			cursor: pointer;
			font-family: $baseFont;
			font-size: $base-font-size;
			height: pem(30);
			overflow: visible;
			margin-right: $spacing;
			padding: 0 ($spacing / 2);
			position: relative;
			text-shadow: 1px 1px 0 $secondary;  
			width: auto;
			z-index: 1; 

			&::-moz-focus-inner {
				border: 0; 
				padding: 0; 
				margin: -1px 0;
			}
		
			&:focus,
			&:hover { 
				@include background-image(linear-gradient(#033c87, #00053b)); 
					-pie-background: linear-gradient(#033c87, #00053b);

				background-color: $secondary;
			}
			&:active { 
				@include background-image(linear-gradient(#71b2dc, #49a3e3)); 
					-pie-background: linear-gradient(#71b2dc, #49a3e3);
			}

			&.cancel {
				background: none;
					-pie-background: none;
				color: $link;
				border: 0;
				margin-left: $spacing;
				text-decoration: underline;
				text-shadow: 0 0 0; 
			}

			&.indent { margin-left: pem(183); }

			.small & { margin-left: pem(42);  }
			.medium &,
			.mediumLabels & { margin-left: pem(102); }

			.longLabels & { 
				margin-left: pem(210); 
			}

			@extend %controlDisable;
		}
		
		&[type=submit] {
			@extend [type=button]; 
		}
	}

	button { 
		@extend input[type=button]; 

		span {
			@include background-image(linear-gradient(#0062f8, #000842));
				-pie-background: linear-gradient(#0062f8, #000842);
			@include border-radius(100px);

			border: 1px solid $secondary;
			padding: ($spacing / 6) ($spacing / 2);
			position: absolute;
			right: -$spacing;
			top: -$spacing;
		}
	}
	
	.longLabels {
		input {
			&.indent {
				margin-left: pem(210); 
			}
		}
	}
}

.pageBtns { 
	clear: both;
	margin-top: $spacing * 2; 

	input:first-child { margin-left: 0; }
}