.primary {

	form {
		clear:left;
		}
}

.container {
	background-color: $primary;
	border: 1px solid $boxLine;
	float: left;
	margin: $spacing $spacing $spacing 0;
	max-width: pem(850);
	padding: $spacing;
	width: auto;

	h2 {
		margin: 0;
		text-align: center;
	}

	.home & { 
		margin-top: $spacing * 4;
		padding: ($spacing * 2) ($spacing * 3) ($spacing * 3); 
	}

	.welcome & { 
		min-height: pem(230);
		padding: $spacing ($spacing * 3);
		width: pem(430); 

		h2 { 
			text-align: left;

			+ p { margin-top: $spacing; }
		}

		ul { 
			float: left; 
			width: 100%;
		}

	}

	li { 
		margin-top: $spacing; 

		&:first-child { margin-top: 0;  }
	}

	nav { margin: $spacing 0;  }

	+ p { 
		max-width: pem(430); 

		strong { 
			white-space: nowrap; 
		}

		span:first-child { display: block; }
	}
}