.key {
	
	border: 1px solid $boxLine;
	float: right;
	font-weight: bold;
	margin-top: -$spacing  * 2;
	padding: $spacing;
	position: relative;

	@media all and (max-width: $medium-window) { margin-top: 0; } 

	.title {
		@include adjust-font-size-to(16px);
		@include adjust-leading-to(1);

		margin-bottom: $spacing / 2;
	}

	ul {  
		@include horizontal-list; 

		li { 
			margin-left: $spacing / 2;

			&:first-child { margin-left: 0; }

			&.match { 
				background-color: $highlight;
				padding: $spacing / 2.5;
			}
		}
	}

	.icon {
		 margin-right: $spacing / 2;

		 .ie7 & { float: left; }
	}
}