/*
	SimpleModal Basic Modal Dialog
	http://simplemodal.com
	Copyright (c) 2013 Eric Martin - http://ericmmartin.com
	Licensed under the MIT license:
	http://www.opensource.org/licenses/mit-license.php
*/

.modalBox { 
	display: none;
	clear: both;
	padding-bottom: $spacing; 
	width: 100%; 

	.inner { 
		padding: 0 $spacing;
		width: 100%; 
	}

	h3 { 
		@include background-image(linear-gradient(#fff, $primary));
			-pie-background: linear-gradient(#fff, $primary);

		background-color: $primary;
		border-bottom: 2px solid $borderLine;
		margin: 0 0 $spacing;
		padding: ($spacing / 4) 0;
		text-align: center;
	}

	.row {
		clear: both;
		display: block;
		width: 100%; 
		white-space: nowrap; overflow: hidden;

		* { white-space: normal;  }

		.fauxLabel {
			margin-bottom: 0;
			width: pem(200);

			+ span { 
				float: none; 
				margin-bottom: 0;
			}
		}

		label { width: pem(200); }

		.textInput {
			border: 1px dashed $borderLineDark;
			border-width: 0 1px;
			display: inline-block;
			padding: 0 $spacing $spacing;
			vertical-align: top;
			width: pem(250); 

			+ .textInput { 
				border: 0; 
				margin-right: $spacing * 2;
			}

			&.change { 
				background-color: $primary;
				font-weight: bold; 
			}

			span { font-weight: normal; }
		}

		li { list-style-position: outside; }

		input,
		textarea { 
			float: left; 
			width: pem(200); 
		}
		select { width: auto; }
	}

	.rollback { 
		margin-top: $spacing; 

		textarea { width: pem(400); }

		&.noDisplay { display: none; }
	}

	.indent { 
		clear: both;
		margin-left: pem(213); 
	}

	&.modalBox-small {
		.inner { padding: $spacing ($spacing * 2); }

		.row {
			.fauxLabel, label {
				width: pem(120);
			}

			textarea { 
				max-width: 60%; 

				.ie8 & { max-width: 50%;  }
			}

			input[type=radio] { margin: 0 ($spacing / 3) 0 0; }
		}

		.indent { margin-left: pem(133); }
	}
}

#simplemodal-overlay { background-color: #000; }

#simplemodal-container {
	background-color: #fff;
	border: 10px solid #fff;

	.modalCloseImg {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-close');
		@include inline-block; 

		cursor: pointer;
		height: #{sprite-height('sprite-base', 'icon-close')};
		position: absolute;
		right: 10px;
		top: 8px;  
		width: #{sprite-width('sprite-base', 'icon-close')};	
		z-index: 9999;
	}

	.simplemodal-wrap { border: 3px solid $secondary; }
}
