.paging {
	@include adjust-leading-to(2.5);
	
	clear: both;
	width: 100%;

	.ie7 & { @include adjust-leading-to(1); margin-top: $spacing * 2;}

	div { @include inline-block;}

	ul {  
		@include horizontal-list; 
		@include inline-block;

		margin: (-$spacing / 1.5) $spacing 0; 			

		li { 
			font-weight: bold;

			a { font-weight: normal; }
		}
	}

	input + & { margin-left: $spacing * 2; }

	table + & { @include adjust-leading-to(2); }
}



