.tabs {  
	margin-top: $spacing * 4.1; 
	position: relative;
	float: left;

	.ie8 & { clear: both; }

	li {	
		@include background-image(linear-gradient(#fff, #d1d1d1));
			.oldie & { background-color: #d1d1d1; }
		@include adjust-font-size-to(15px);
								
		border: 1px solid $borderLineDark;
		cursor: pointer;
		float: left;
		

		a { 
			color: $bodyText; 
			display: block;
			padding: ($spacing / 2) $spacing;
			text-decoration: none;
		}

		&:first-child { border-right: 0; }

		&.current {
			@include background-image(linear-gradient($secondary, $secondary));

				.oldie & { background-color: $secondary; }

			a { color: #fff; }

			.icon {
				@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-triangle-down-white');

				height: #{sprite-height('sprite-base', 'arrow-triangle-down-white')};
				margin-left: $spacing / 2;
				width: #{sprite-width('sprite-base', 'arrow-triangle-down-white')};				
			}
		}
	}

	+ table { 
		margin-top: 0; 

		+ table { margin-top: 0; }
	}
}

