.toggle {
	clear: both;
	float: left;
	margin: $spacing 0;

	.hider {
		background-color: $primary;
		border: 1px solid $boxLine;
		border-bottom: 0;
		float: left;
		cursor: pointer;
		margin-bottom: -1px;
		padding: $spacing;
		position: relative;
		width: pem(123);
		white-space: nowrap;
		z-index: 1;

		.ie7 & { margin-bottom: -4px; }

		.student-history & {
			background-color: transparent;
			border: 0;	
			margin: 0 $spacing 0 0;
			padding: 0;		
			width: auto;
		}
		
		.icon {
			@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-triangle-down');

			height: #{sprite-height('sprite-base', 'arrow-triangle-down')};
			margin-left: $spacing / 2;
			width: #{sprite-width('sprite-base', 'arrow-triangle-down')};	
			
			.ie7 & { 
				float: right;
				margin-top: -#{sprite-height('sprite-base', 'arrow-triangle-down') * 2};
			}				
	
			&.closed {
				@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-triangle-up');

				height: #{sprite-height('sprite-base', 'arrow-triangle-up')};
				width: #{sprite-width('sprite-base', 'arrow-triangle-up')};					
			}								
		}
	}

	.toggleMe { 
		clear: left;
		float: left;
		margin: 0;
		padding: $spacing; 		

		.student-history & { 
			float: none;
			padding: ($spacing /2) 0 0; 
		}
	}
}