.tooltip {
	@include inline-block;

	cursor: pointer;
	z-index: 0; 

	[role=heading] {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-help');
		@include hide-text('left');

		height: #{sprite-height('sprite-base', 'icon-help')};
		width: #{sprite-width('sprite-base', 'icon-help')};
	}

	.tip,
	.angle { 
		display: none; 
		position: absolute;
	}

	.helptext { 
		position: relative; 
		top: -30px;
	}

	&:hover {
		.angle { 
			@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-tooltip');
			@include inline-block; 

			height: #{sprite-height('sprite-base', 'arrow-tooltip')};
			left: 20px;
			top: -3px;
			width: #{sprite-width('sprite-base', 'arrow-tooltip')};	
			z-index: 200;
		}
		.tip {
			@include inline-block;
				
			background-color: #fff;		
			border: 1px solid $boxLineBright;	
			display: block;
			font-size: 90%;
			padding: ($spacing / 2) $spacing 0;
			top: -3px;
			left:  #{sprite-width('sprite-base', 'arrow-tooltip') + 19px };
			min-width: 220px;
			z-index: 100; 
		}
	}
}