﻿@model dynamic

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>Home</h2>


<div class="well">
    ...and top of the morn to ya! (You're looking especially fine today, I have to say).
    
    <div style="text-align:center">
        <quote style="font-style:italic;">Start every day off with a smile and get it over with.</quote>
        <br/>
        W. C. Fields
    </div>
</div>


<div class="alert alert-info">
    You're looking at the Back Tier's website.
    <br/>
    It's intended only to develop pages that can help infrastructure support to analyse
    the health of the application.
</div>


    
