﻿@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 ie oldie" lang="en-nz"> <![endif]-->
<!--[if IE 7]> <html class="ie7 ie oldie" lang="en-nz"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie oldie" lang="en-nz"> <![endif]-->
<!--[if gt IE 8]> <html class="ie" lang="en-nz"> <![endif]-->
<!--[if ! IE]><!-->
<!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Title</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width" />
        @*<link rel="shortcut icon" href="favicon.ico">*@
        @* Stop IE reverting to compatibility mode, if possible *@
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        @Styles.Render("~/Content/css/css-bundle")
        @Scripts.Render("~/bundles/jquery")
        @*Load jquery-ui don't use bundle for this one*@
        <link href="~/Content/custom/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    </head>

    <body>
        @RenderBody()
        @if (HttpContext.Current.IsDebuggingEnabled){<script src="~/Scripts/glimpse-knockout.js"></script>}
    </body>
</html>
