﻿@{
    ViewBag.Title = "Undefined";
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 ie oldie" lang="en-nz"> <![endif]-->
<!--[if IE 7]> <html class="ie7 ie oldie" lang="en-nz"> <![endif]-->
<!--[if IE 8]> <html class="ie8 ie oldie" lang="en-nz"> <![endif]-->
<!--[if gt IE 8]> <html class="ie" lang="en-nz"> <![endif]-->
<!--[if ! IE]><!-->
<!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>@ViewBag.Title</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width" />
        @*<link rel="shortcut icon" href="favicon.ico">*@
        @* Stop IE reverting to compatibility mode, if possible *@
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <link href="~/Content/custom/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />

          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

          <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    </head>

    <body>
        @{Html.RenderPartial("_MVC_Layout_Menu");}
        @RenderBody()
        @if (HttpContext.Current.IsDebuggingEnabled){<script src="~/Scripts/glimpse-knockout.js"></script>}
    </body>
</html>
