﻿<div>
	<div data-bind="visible: isVisible">
		<!--<h2>Denied record(s)</h2>-->
		<h2 data-bind="text: resources.get('MergeDeniedPairWidgetView_MergeDeniedPairWidgetView_Header')"></h2>
		<table class="autoWidth">
			<thead>
				<tr>
					<th class="small"></th>
					<th data-bind="text: resources.get('MergeDeniedPairWidgetView_MergeDeniedPairWidgetView_NSNLabel')"></th>
					<th data-bind="text: resources.get('MergeDeniedPairWidgetView_MergeDeniedPairWidgetView_ReasonLabel')"></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: mergeDeniedPairs">
				<tr>
					<td><a class="icon delete" data-bind="visible: $parent.showRemoveMergeDenied,
															click: $parent.onDeleteMergeDeniedPair,
															attr: { title: resources.get('MergeDecisionView_MergeDecisionViewDeleteSymbolButtonTip') }" >
						 
					    </a></td>
					<td><a data-bind="text: Student1Nsn, attr: { href: '#/students/view/' + Student1Nsn }"></a>
						<a data-bind="text: Student2Nsn, attr: { href: '#/students/view/' + Student2Nsn }"></a></td>
					<td data-bind="text: MergeDeniedReason"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>