﻿<!-- START Primary Content Area -->
<div id="main" role="main" class="primary home">
	<h1 class="page-title" data-bind="text: resources2.get('HomeView_ViewTitle')"></h1>
    
    <p class="message info" data-bind="visible: messageCodeTextVisible()">
        <span class="icon info">Information Message.</span>
        <span data-bind="text: messageCodeText()"></span>
    </p>


    <div class="floatLeft readability">
		<h2 data-bind="text: resources2.get('HomeView_ViewSubtitle')"></h2>
		<p data-bind="text: resources2.get('HomeView_AboutNsiContent1')"></p>
	    <p data-bind="text: resources2.get('HomeView_AboutNsiContent2')"></p>
        <p data-bind="text: resources2.get('HomeView_AboutNsiContent3')"></p>
	</div>
	<div class="floatLeft">
		<div class="container">
			<nav>
				<ul data-bind="foreach: listOfLinks">
					<li><a data-bind="attr: { href: target }, text: title "></a></li>
				</ul>
			</nav>
		    <input id="btnAccessNSI" type="button" class="pie button" 
                   data-bind="value: resources2.get('HomeView_AccessNSIActionText'), click: onLogin" />
		</div>
	</div>
</div>

<!-- END Primary Content Area -->