﻿<a href="#main" accesskey="[" class="hidden">[Jump to content]</a>
<header class="banner">
	<div class="inner">
		<div class="logo">
			<a href="#/welcome">
				<img src="content/images/logo-moe.png" width="236" height="70" data-bind="attr: { title: resources.get('ShellView_ShellViewMoeLogoTip'), alt: resources.get('ShellView_ShellViewMoeLogoTip') }" />
			</a>
		</div>

		<div class="title" role="heading">National Student Index (NSI)</div>
		<!--ko compose: {model: 'viewmodels/masterpage/headerSessionInfo'} -->
		<!--/ko-->
	</div>
	<!--ko compose: {model: 'viewmodels/masterpage/nav'} -->
	<!--/ko-->
</header>

<div class="outer">

	<div id="content" data-bind="router: { transition: 'entrance', cacheViews: false }"></div>

	<!-- Student view page -->
	<script id="studentAltNamesRowTemplate" type="text/html">
		<td data-bind="text: CreatedDateTime, visible: false"></td>
		<td data-bind="text: FamilyName"></td>
		<td data-bind="text: GivenNames"></td>
		<td data-bind="text: NameBirthDateVerificationMethod"></td>
		<td data-bind="text: PreferredNameIndicatorDisplay"></td>
	</script>

	<script id="challengesRowTemplate" type="text/html">
		<td class="noWrap" data-bind="text: ChallengeStatus"></td>
		<td class="noWrap" data-bind="text: ChallengeType"></td>
		<td class="noWrap" data-bind="textAsDate: CreatedDateTime"></td>
		<td class="noWrap" data-bind="text: CreatedByProvider"></td>
	</script>

	<!-- Student edit page -->

	<script id="challengesEditRowTemplate" type="text/html">
		<td>
			<select title="Status" 
				data-bind="value: ChallengeStatusFK,
							visible: $root.checks.canModifyChallengeStatus,
							options: $root.referenceData.challengeStatus,
							optionsText: 'Value',
							optionsValue: 'Key',
							uniqueId: { prefix: 'selChallenge'}">
			</select>
			<span data-bind="text: ChallengeStatus, visible: !($root.checks.canModifyChallengeStatus)"></span>

		</td>
		<td data-bind="text: ChallengeType"></td>
		<td class="noWrap" data-bind="textAsDate: CreatedDateTime"></td>
		<td class="noWrap" data-bind="text: CreatedByProvider"></td>
	</script>

	<script id="editStudentDisplayAltNamesRowTemplate" type="text/html">
		<td data-bind="visible: $root.checks.canDeleteAltName">
			<a class="icon delete"
			   data-bind="visible: $root.enums.nameBirthDateVerificationMethod.birthRegister != NameBirthDateVerificationMethodFK(),
							click: $root.onDeleteExistingAltName,
							attr: { title: resources.get('ModifyStudentView_ModifyStudentViewDeleteSymbolButtonTip') }">delete</a></td>
		<td>
			<span data-bind="text: FamilyName"></span></td>
		<td>
			<span data-bind="text: GivenNames"></span>
		</td>
		<td>
			<span data-bind="text: NameBirthDateVerificationMethod"></span>
		</td>
		<td class="center">
			<input type="radio" name="radPrefName" 
			       data-bind="attr: { title: resources.get('ModifyStudentView_ModifyStudentViewAltSetAsPreferredNameTip') },
							radioChecked: PreferredNameIndicator,
							uniqueId: { prefix: 'radPreferredName'}" />
		</td>
		<td><span data-bind="text: CreatedByProvider"></span> on <span data-bind="textAsDate: CreatedDateTime"></span></td>
	</script>

	<!-- Merge Entry page -->
	<script id="MergeEntryRowTemplate" type="text/html">
		<td><span class="icon link" 
		          data-bind="visible: SlaveRecordCount > 0,
								text: resources.get('MergeEntryView_MergeEntryViewMasterWithSlavesSymbolTip'),
								attr: { title: resources.get('MergeEntryView_MergeEntryViewMasterWithSlavesSymbolTip') }"></span></td>
				<td><span class="icon altName"
			data-bind="visible: IsAlternateNameMatch, attr: { title: resources.get('StudentSearchView_StudentSearchViewAlternativeNameSymbolTip') }">
			</span></td>
		<td><a href="#" class="icon remove" 
		       data-bind="click: $root.onRemoveFromMergeRequest,
							text: resources.get('MergeEntryView_MergeEntryViewRemoveSymbolButtonInRecordsToMergeTableTip'),
							attr: { title: resources.get('MergeEntryView_MergeEntryViewRemoveSymbolButtonInRecordsToMergeTableTip') }"
		       title="Remove record from merge list. "></a></td>

		<td class="center">
			<input type="checkbox" data-bind="checked: isSelectedForMerge, uniqueId: { prefix: 'checkMerge'}" /></td>
		<td class="noWrap"><a data-bind="text: NSN, attr: { href: '#/students/view/' + $data.NSN }"></a>
			<span class="icon inactive" data-bind="visible: StudentStatusId == 2, attr: { title: resources.get('StudentSearchView_StudentSearchViewInactiveStudentSymbolTip') }">inactive record</span>
		</td>
		<td data-bind="text: FamilyName"></td>
		<td data-bind="text: GivenNamesSummary"></td>
		<td data-bind="textAsDate: BirthDate"></td>
		<td data-bind="text: NameBirthDateVerificationSummary"></td>
		<td data-bind="text: Gender"></td>
		<td data-bind="text: ResidentialStatus"></td>
		<td data-bind="text: ResidentialStatusVerificationSummary"></td>
		<td><span class="strong" data-bind="text: CreatedByProviderName"></span>
			on <span class="strong" data-bind="textAsDate: CreatedOn"></span></td>

	</script>

	<!-- Search page -->
	<script id="studentResultRowTemplate" type="text/html">
		<td><span class="icon link" data-bind="visible: SlaveRecordCount > 0, attr: { title: resources.get('StudentSearchView_StudentSearchViewMasterWithSlavesSymbolTip') }">
			<span data-bind="text: $parent.searchResultGrid_MasterRecord"></span></span></td>
		<td><span class="icon altName"
			data-bind="visible: IsAlternateNameMatch, attr: { title: resources.get('StudentSearchView_StudentSearchViewAlternativeNameSymbolTip') }">
			<span data-bind="text: $parent.searchResultGrid_AltName"></span></span></td>
		<td><a class="icon view" data-bind="attr: { href: '#/students/view/' + $data.NSN, title: resources.get('StudentSearchView_StudentSearchViewViewSymbolButtonTip') }">
			<span data-bind="text: $parent.searchResultGrid_View"></span>View</a></td>
		<td><a class="icon merge clickable" 
				data-bind="visible: $root.isRequestMergeModeEnabled() && !isSelectedForMerge(),
	click: function () { $parent.onAddToMergeList($data); },
	attr: { title: resources.get('StudentSearchView_StudentSearchViewMergeSymbolButtonTip') }">
			<span data-bind="text: $parent.searchResultGrid_Merge"></span>
			<span data-bind="text: isSelectedForMerge"></span>
		</a></td>
		<td data-bind="text: MatchScore"></td>
		<td><a data-bind="attr: { href: '#/students/view/' + $data.NSN }">
			<span data-bind="text: NSN"></span>
			<span class="icon inactive" data-bind="visible: isInactive, attr: { title: resources.get('StudentSearchView_StudentSearchViewInactiveStudentSymbolTip') }">inactive record</span>
		</a></td>
		<td data-bind="text: FamilyName"></td>
		<td><span data-bind="text: GivenNamesSummary"></span></td>
		<td data-bind="textAsDate: BirthDate"></td>
		<!--<td data-bind="textAsDate: BirthDate"></td>-->
		<td data-bind="text: Gender"></td>
		<td data-bind="text: ResidentialStatus"></td>
		<td><span class="strong" data-bind="text: CreatedByProviderName"></span> on <span class="strong" data-bind="	textAsDate: CreatedOn"></span></td>
	</script>

	<script id="RecordsToMergeRowTemplate" type="text/html">

		<td><span class="icon link" data-bind="visible: SlaveRecordCount > 0, attr: { title: resources.get('StudentSearchView_StudentSearchViewMasterWithSlavesSymbolTip') }">
			<span data-bind="text: $parent.searchResultGrid_MasterRecord"></span></span></td>
		<td><span class="icon altName"
			data-bind="visible: IsAlternateNameMatch, attr: { title: resources.get('StudentSearchView_StudentSearchViewAlternativeNameSymbolTip') }">
			<span data-bind="text: $parent.searchResultGrid_AltName"></span></span></td>
		<td><a class="icon view" data-bind="attr: { href: '#/students/view/' + $data.NSN, title: resources.get('StudentSearchView_StudentSearchViewViewSymbolButtonTip') }">
			<span data-bind="text: $parent.searchResultGrid_View"></span></a></td>
		<td><a class="icon remove clickable" data-bind="click: function () { $parent.onRemoveItem($data); }, attr: { title: resources.get('StudentSearchView_StudentSearchViewRemoveSymbolButtonTip') }">
			<span data-bind="text: $parent.searchResultGrid_Merge"></span></a></td>
		<td data-bind="textAsInt: MatchScore"></td>
		<td><a data-bind="text: NSN, attr: { href: '#/students/view/' + $data.NSN }"></a></td>
		<td data-bind="text: FamilyName"></td>
		<td><span data-bind="text: GivenNamesSummary"></span></td>
		<td data-bind="textAsDate: BirthDate"></td>
		<td data-bind="text: Gender"></td>
		<td data-bind="text: ResidentialStatus"></td>
		<td><span class="strong" data-bind="text: CreatedByProviderName"></span> on <span class="strong" data-bind="	textAsDate: CreatedOn"></span></td>
	</script>

	<!-- Student History page -->
	<script id="RecordUpdateHistoryRowTemplate" type="text/html">
		<td data-bind="textAsDate: ModifiedDateTime"></td>
		<td data-bind="text: ModifiedByProviderName"></td>
		<td data-bind="text: UpdateType"></td>
		<td data-bind="text: FieldUpdated"></td>
		<td data-bind="text: OldValue"></td>
		<td data-bind="text: NewValue"></td>
	</script>

	<!-- Merge Decision page -->
	<script id="MergeDecisionAltNamesRowTemplate" type="text/html">
		<td><a data-bind="text: Nsn, attr: { href: '#/students/view/' + Nsn }"></a></td>
		<td data-bind="text: FamilyName"></td>
		<td data-bind="text: GivenNames"></td>
		<td data-bind="text: NameBirthDateVerificationMethod"></td>
		<td>
			<span data-bind="text: CreatedByUser"></span>
			<span data-bind="text: CreatedByProvider"></span>
			<span data-bind="text: resources.get('MergeDecisionView_MergeDecision_On')"></span>
			<span data-bind="textAsDate: CreatedDateTime"></span>
		</td>
	</script>

	<!-- AddStudent page -->
	<script id="addStudentResultRowTemplate" type="text/html">
		<td><span class="icon link" data-bind="visible: SlaveRecordCount > 0, attr: { title: resources.get('StudentSearchView_StudentSearchViewMasterWithSlavesSymbolTip') }">
			    <span data-bind="text: $parent.searchResultGrid_MasterRecord"></span></span></td>
		<td><span class="icon altName"
		          data-bind="visible: IsAlternateNameMatch, attr: { title: resources.get('StudentSearchView_StudentSearchViewAlternativeNameSymbolTip') }">
			    <span data-bind="text: $parent.searchResultGrid_AltName"></span></span></td>
		<td><a class="icon view" data-bind="attr: { href: '#/students/view/' + $data.NSN, title: resources.get('StudentSearchView_StudentSearchViewViewSymbolButtonTip') },
												click: $parent.onNavigateToView">
			    <span data-bind="text: $parent.searchResultGrid_View"></span></a></td>
		<td data-bind="text: MatchScore"></td>
		<td>
			<a data-bind="text: NSN, attr: { href: '#/students/view/' + $data.NSN }, click: $parent.onNavigateToView"></a>
			<span class="icon inactive" data-bind="visible: isInactive,
														attr: { title: resources.get('StudentSearchView_StudentSearchViewInactiveStudentSymbolTip') }">inactive record</span>
		</td>
		<td data-bind="text: FamilyName"></td>
		<td><span data-bind="text: GivenNamesSummary"></span></td>
		<td data-bind="textAsDate: BirthDate"></td>
		<!--<td data-bind="textAsDate: BirthDate"></td>-->
		<td data-bind="text: Gender"></td>
		<td data-bind="text: ResidentialStatus"></td>
		<td><span class="strong" data-bind="text: CreatedByProviderName"></span> on <span class="strong" data-bind="textAsDate: CreatedOn"></span></td>
	</script>

	<script id="addStudentAltNamesRowTemplate" type="text/html">
		<td data-bind="text: FamilyName"></td>
		<td data-bind="text: GivenNames"></td>
		<td data-bind="text: NameBirthDateVerificationMethod"></td>
		<td data-bind="text: PreferredNameIndicatorDisplay"></td>
	</script>

	<!-- Student Provider Relationship modal -->
	<script id="studentProviderRelationshipModalTemplate" type="text/html">
		<td data-bind="text: ProviderName"></td>
		<td data-bind="textAsDate: DateCreated"></td>
		<td>

			<span data-bind="textAsDate: UntilDate, visible: !($parent.isInEditMode())"></span>

			<span data-bind="visible: $parent.isInEditMode">
				<span class="mandatory" style="color: #990000">*</span>
				<input type="text" class="small" placeholder="dd/mm/yyyy" data-bind="valueAsFutureDatePicker: UntilDate"/>							
			</span>
		</td>
	</script>

		<!--Provider List page-->
	<script id="ProviderListRowTemplate" type="text/html">
		<td>
			<a href="#" class="icon edit" 
			   data-bind="attr: { title: resources.get('ProviderListView_ProviderListViewEditSymbolButtonTip') },
							click: $root.onViewProviderClick">Edit
			</a></td>
		<!--<td><span class="icon edit" data-bind="attr: { title: resources.get('ProviderListView_ProviderListViewEditSymbolButtonTip') }"></span></td>-->
		<td data-bind="text: ProviderCode"></td>
		<td data-bind="text: ProviderName"></td>
		<td data-bind="textAsDate: NSILiveDate"></td>
		<td data-bind="text: ReceiveChangeNotifications"></td>
		<td data-bind="text: FileFormatForChangeNotifications"></td>
		<td data-bind="text: UseMacrons"></td>
		<td data-bind="text: ManualMergeRequired"></td>
		<td data-bind="text: Interfaces"></td>
		<td data-bind="text: OnBehalf"></td>
		<td data-bind="text: SPRDuration"></td>
	</script>
	
	<!--Parameter List Page-->
	<script id="ParametersRowTemplate" type="text/html">
		<td><a href="#" class="icon edit" 
		       data-bind="attr: { title: $root.help },
							click: $root.onViewParameterClick,
							visible: ($root.canModifyParams && IsEditable)">Edit</a></td>
		<td data-bind="text: Parameter"></td>
		<td class ="allowBreak " data-bind="text: Value"></td>
		<td data-bind="text: Description"></td>
		<td data-bind="text: Datatype"></td>
	</script>
	
		<!--Batch Request Page-->
	<script id="BatchRequestsRowTemplate" type="text/html">
		<td data-bind="text: FileType"></td>
		<td data-bind="text: RequestFileName"></td>
		<td data-bind="text: ReceivedOn"></td>
		<td data-bind="text: UserId"></td>
		<td data-bind="text: Status"></td>
	</script>
	
	<!--Batch Results Page-->
	<script id="BatchResultsRowTemplate" type="text/html">
		<td>
			<a href="#" class="icon download" 
			   data-bind="attr: { title: resources.get('BatchResultsView_BatchResultsViewDownloadSymbolButtonTip')},
	click: $root.onDownload, visible: showDownload">Download
			</a></td>
		<td data-bind="text: FileType"></td>
		<td><a data-bind="text: ResponseFileName, click: $root.onDownload"></a></td>
		<td data-bind="text: ReceivedOn"></td>
		<td data-bind="text: UserId"></td>
		<td data-bind="text: Status"></td>
		<td data-bind="text: Downloaded"></td>
	</script>
	
	<!--Change notifications Page-->
	<script id="ChangeNotificationRowTemplate" type="text/html">
		<td class="sorting_asc" data-bind="css: { highlight: IsChanged.MasterNsn }">
			<a data-bind="text: Student.NSN, attr: { href: '#/students/view/' + Student.NSN }"></a>
			<span data-bind="visible: Student.MasterNSN">
				(Master NSN: <a data-bind="text: Student.MasterNSN, attr: { href: '#/students/view/' + Student.MasterNSN }"></a>)
			</span>
		</td>
		<td data-bind="text: Student.FamilyName, css: { highlight: IsChanged.FamilyName }"></td>
		<td data-bind="text: Student.GivenNames, css: { highlight: IsChanged.GivenNames }"></td>
		<td data-bind="text: Student.PreferredNameIndicatorDisplay, css: { highlight: IsChanged.PreferredNameIndicator }"></td>
		<td data-bind="text: Student.BirthDate, css: { highlight: IsChanged.BirthDate }"></td>
		<td data-bind="text: Student.DateOfDeath, css: { highlight: IsChanged.DateOfDeath }"></td>
		<td data-bind="text: Student.Gender, css: { highlight: IsChanged.Gender }"></td>
		<td data-bind="text: Student.NameBirthDateVerificationMethod, css: { highlight: IsChanged.NameDobVerification }"></td>
		<td data-bind="text: Student.ResidentialStatus, css: { highlight: IsChanged.ResidentialStatus }"></td>
		<td data-bind="text: Student.ResidentialStatusVerificationMethod, css: { highlight: IsChanged.ResidentialStatusVerification }"></td>
		<td data-bind="text: Student.StudentStatus, css: { highlight: IsChanged.StudentStatus }"></td>
		<td data-bind="text: Student.ModifiedByProviderName"></td>
		<td data-bind="text: Student.ModifiedDateTime"></td>
		
		
	</script>
	
	<script id="MergeRequestDeniedRowTemplate" type="text/html">
		<td class="sorting_asc">
			<div data-bind="foreach: Nsns">
				<div>
					<a data-bind="text: $data, attr: { href: '#/students/view/' + $data }"></a>
				</div>
			</div>
			<!--<a data-bind="text: Student.NSN, attr: { href: '#/students/view/' + Student.NSN }"></a>
			<span data-bind="visible: Student.MasterNSN">
				(Master NSN: <a data-bind="text: Student.MasterNSN, attr: { href: '#/students/view/' + Student.MasterNSN }"></a>)
			</span>-->
		</td>
	</script>


	<footer>
		<!--ko compose: {model: 'viewmodels/masterpage/footer'} -->
		<!--/ko-->
	</footer>
</div>
