﻿<!--<section>-->


    <!-- START Primary Content Area -->
    <div id="main" role="main" class="primary welcome">
	    <h1><span data-bind="text: resources2.get('WelcomeView_ViewTitle')"></span> <strong data-bind="    text: user().DisplayName"></strong></h1>

        <div class="container">
            <h2 data-bind="text: currentParameters.get('MOTD')"></h2>
	        <div>
		        <p data-bind="text: currentParameters.get('MOTD2')"></p>
	        </div>
        </div>
        <div class="container">
            <h2 data-bind="text: resources2.get('WelcomeView_LabelTextMyNSI')"></h2>
            <nav>
                <ul>
                    <li><a data-bind="text: resources2.get('WelcomeView_LabelTextNavActionChangePassword'), attr: { href: currentParameters.get('esaa_url_password') }"></a></li>
                    <li><a data-bind="text: resources2.get('WelcomeView_LabelTextNavActionChangeChallengePhase'), attr: { href: currentParameters.get('esaa_url_challenge') }"></a></li>
	                <li><a data-bind="text: resources2.get('WelcomeView_LabelTextNavActionChangeMyDetails'), attr: { href: currentParameters.get('esaa_url_details') }" ></a></li>
					
					<!--NSIPRJ-2198: Removed because of CR070-->
	                <!--<li><a data-bind="text: resources2.get('WelcomeView_LabelTextNavActionChangeInstitution'), attr: { href: currentParameters.get('esaa_url_context') }"></a></li>-->
                </ul>
            </nav>
        </div>
        <p>
            <span data-bind="text: currentParameters.get('MOTD3')"></span>
        </p>
    </div>
    <!-- END Primary Content Area -->
<!--</section>-->
