﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources.get('TransactionActivityReportView_Heading')"></h1>
	<!-- START Validation -->
	<div class="slide-overlay" data-bind="slideVisible: displayErrors().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading">
				<span class="icon">Error Message.</span>
				<span data-bind="text: resources.get('MergeStatusView_MergeStatus_ErrorLabel')"></span>
			</p>
			<ul data-bind="foreach: displayErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>
	<!-- END Validation -->
	<!-- START Search Area -->
	<div class="floatLeft fullWidth">
		<div class="toggle search">
			<a href="#" class="hider closed"><span class="hide">Hide</span><span class="hide hidden">Show</span> search<span class="icon">hide/show toggle</span></a>
			<div class="form container toggleMe">
				<fieldset>
					<legend>Report details</legend>
					<p><span class="mandatory">* </span><span>Mandatory fields</span></p>
					<!--<br/>-->
					<div class="row">
						<div class="floatLeft">
							<label for="chkProvider" id="AllProviders"><span data-bind="text: resources.get('TransactionActivityReportView_Provider_Label')"></span><span class="mandatory" data-bind="	visible: !currentProvider()">*</span></label>
							<label for="provider" style="text-align: left; width: 200px"  data-bind="text: currentProvider, visible: currentProvider().length > 0"></label>
							<!--</div> 
								<div class="row check check-row">-->
							<!--<span id="Span1" class="fauxLabel invisible">All providers</span>-->
							<span class="AllProviders" data-bind="visible: canShowProviderSelector">
							<input id="chkProvider" type="checkbox" aria-labelledby="provider" data-bind="checked: isAllProvidersEnabled, click: clearRetrievedProvider" />
							<!--<label  data-bind="text: resources.get('TransactionActivityReportView_AllProviders_Label'), visible: canShowProviderSelector"></label>-->
							<span class="strong" data-bind="text: resources.get('TransactionActivityReportView_AllProviders_Label')"></span>
							<input id="txtProviderID" type="text" placeholder="9999999999" class="small" maxlength="10" data-bind="disable: isAllProvidersEnabled, value: providerToGet, valueUpdate: 'input'" />
							<span data-bind="helpIconWidget: { helpText: resources.get('TransactionActivityReportView_TransactionActivityReportViewAllProvidersHelp'), labelledBy: 'txtProviderID' }"></span>
								</span>
						</div>
					</div>
					<br/>
					<br/>
					<div class="row">
						<div class="floatLeft">
							<label id="user"><span data-bind="text: resources.get('TransactionActivityReportView_User_Label')"></span><span class="mandatory">*</span></label>
							<input id="chkUser" type="checkbox" aria-labelledby="user" data-bind="disable: isAllUsersEnabled, checked: isAllUsersChecked, click: clearRetrievedUser" />
							<span class="strong" data-bind="text: resources.get('TransactionActivityReportView_AllUsers_Label')"></span>
							<input id="txtUserID" type="text" class="small" maxlength="200" data-bind="disable: isAllUsersChecked, value: userToGet, valueUpdate: 'input'" />
							<span data-bind="helpIconWidget: { helpText: resources.get('TransactionActivityReportView_TransactionActivityReportViewAllUsersHelp'), labelledBy: 'txtUserID' }"></span>
						</div>
					</div>
					<br/>
					<br/>
					<div class="row">
						<label for="selTransaction" data-bind="text: resources.get('TransactionActivityReportView_Transaction_Label')"></label>
						<select id="selTransaction"
							data-bind=" value: selectedTransactionType,
	options: transactionTypeOptions,
	optionsText: 'Value',
	optionsValue: 'Key'">
						</select>
					</div>
					<div class="row">
						<label for="selDateRange" data-bind="text: resources.get('TransactionActivityReportView_DateRange_Label')"></label>
						<select id="selDateRange" data-bind=" value: selectedDateRange,
	options: dateRange
	">
						</select>
					</div>
					<div class="row">
						<div class="floatLeft">
							<label for="txtStartDate"><span data-bind="text: resources.get('TransactionActivityReportView_StartDate_Label')"></span><span class="mandatory">*</span></label>
							<input id="txtStartDate" type="text" class="small" placeholder="dd/mm/yyyy" data-bind="valueAsDatePicker: startDate, disable: DateDisable, placeholder: resources.get('TransactionActivityReportView_TransactionActivityReportViewStartDateDefaultValue')" />
						</div>
						<div class="floatRight">
							<label for="txtEndDate"><span data-bind="text: resources.get('TransactionActivityReportView_EndDate_Label')"></span><span class="mandatory">*</span></label>
							<input id="txtEndDate" type="text" class="small" placeholder="dd/mm/yyyy" data-bind="valueAsDatePicker: endDate, disable: DateDisable, placeholder: resources.get('TransactionActivityReportView_TransactionActivityReportViewEndDateDefaultValue')" />
						</div>
					</div>
					<p></p>
					<div align="center">
						<input id="btnGenerate" type="button" class="pie" data-bind="value: resources.get('TransactionActivityReportView_Generate_Button'), click: doGenerate, isPending: isRunningSearch" />
						<!--<input id="btnReset" type="button" class="pie" data-bind="value: resources.get('TransactionActivityReportView_Reset_Button'), click: reset" />-->
						<a data-bind="click:reset">Clear</a>
					</div>
				</fieldset>

			</div>

		</div>
		<p class="message info" data-bind="visible: showNoResultsMessage">
			<span class="icon info">Information Message.</span>
			<span data-bind="text: noResultsMessage"></span>
		</p>
	</div>
</div>
<!-- END Search Area -->



