﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources.get('MergeStatusView_MergeStatus_Title')"></h1>
	<!-- START Validation -->
	<div class="slide-overlay" data-bind="slideVisible: displayErrors().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading">
				<span class="icon">Error Message.</span>
				<span data-bind="text: resources.get('MergeStatusView_MergeStatus_ErrorLabel')"></span>
			</p>
			<ul data-bind="foreach: displayErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>
	<!-- END Validation -->

	<!-- START Form Container -->
	<div class="floatLeft fullWidth">
		<div class="toggle">
			<a href="#" class="hider closed">
				<span class="hide" data-bind="text: resources.get('MergeStatusView_MergeStatus_Hide')"></span>
				<span class="hide hidden" data-bind="text: resources.get('MergeStatusView_MergeStatus_Show')"></span>
				<span data-bind="text: resources.get('MergeStatusView_MergeStatus_SearchTab')"></span>
				<span class="icon">hide/show toggle</span>
			</a>
			<form class="form container toggleMe longLabels" data-bind="submit: doGenerate">
				<fieldset>
					<legend>Merge request details</legend>
					<div class="row check">
						<div class="inline">
							<span id="provider" class="fauxLabel" data-bind="text: resources.get('MergeStatusView_MergeStatus_ReqByProvider')"></span>
							<input id="chkProvider" type="checkbox" aria-labelledby="provider" data-bind="checked: isAllProvidersEnabled, visible: canShowProviderSelector, click: clearRetrievedProvider" />
							<label for="chkProvider" data-bind="text: resources.get('MergeStatusView_MergeStatus_AllProviders'), visible: canShowProviderSelector"></label>
							<span data-bind="text: currentProvider, visible: currentProvider().length > 0"></span>
						</div>
						<div class="floatRight">
							<label for="txtMergeIncNSN" data-bind="text: resources.get('MergeStatusView_MergeStatus_ReqIncNSN')"></label>
							<input id="txtMergeIncNSN" type="text" placeholder="9999999999" class="small" maxlength="10" data-bind="value: MergeNSN, valueUpdate: 'input'" />
						</div>
					</div>
					<div class="row" data-bind="visible: canShowProviderSelector">
						<label for="txtProviderCode" class="invisible" data-bind="text: resources.get('MergeStatusView_MergeStatus_ProviderCode')"></label>
						<input id="txtProviderCode" type="text" placeholder="9999999999" class="small" data-bind="disable: isAllProvidersEnabled, value: providerToGet, valueUpdate: 'input'" maxlength="10" />
					    <span data-bind="helpIconWidget: { helpText: resources.get('MergeStatusView_MergeStatusViewProviderCodeHelp'), labelledBy: 'txtProviderCode' }"></span>
						<span data-bind="text: retrievedProvider"></span>
					</div>
					<div class="row check">
						<fieldset>
							<legend>User</legend>
							<span id="multi-User" class="fauxLabel multi" data-bind="text: resources.get('MergeStatusView_MergeStatus_ReqByUser'), css: notValidCss(UserId)"></span>
							<input id="chk-allUsers" type="checkbox" aria-labelledby="multi-User chk-allUsers-label" class="check" data-bind="checked: isAllUsersEnabled, click: OnClickAllUsers" />
							<label id="chk-allUsers-label" for="chk-allUsers" data-bind="text: resources.get('MergeStatusView_MergeStatus_AllUsers')"></label>
							<label id="userID" for="txtuserID" class="hidden" data-bind="text: resources.get('MergeStatusView_MergeStatus_UserId')"></label>
							<input id="txtuserID" type="text" aria-labelledby="multi-User userID" class="medium" data-bind="disable: isAllUsersEnabled, value: UserId, valueUpdate: 'input', checked: AllUsersUnchecked" maxlength="200" />
						    <span data-bind="helpIconWidget: { helpText: resources.get('MergeStatusView_MergeStatusViewUserIdHelp'), labelledBy: 'chk-allUsers' }"></span>

						</fieldset>
					</div>
					<div class="row">
						<label for="txtMergeRequestedFrom" data-bind="text: resources.get('MergeStatusView_MergeStatus_ReqFrom'), css: notValidCss(reqDateFrom)"></label>
						<div class="floatLeft">
							<input id="txtMergeRequestedFrom" type="text" placeholder="dd/mm/yyyy" class="small" data-bind="valueAsDatePicker: reqDateFrom" />
						</div>
						<div class="floatRight width100">
							<label for="txtMergeRequestedto" data-bind="text: resources.get('MergeStatusView_MergeStatus_ReqTo'), css: notValidCss(reqDateTo)"></label>
							<div class="floatLeft">
								<input id="txtMergeRequestedto" type="text" placeholder="dd/mm/yyyy" class="small" data-bind="valueAsDatePicker: reqDateTo, disable: reqDateTo.disabled" />
							     <span data-bind="helpIconWidget: { helpText: resources.get('MergeStatusView_MergeStatusViewMergesRequestedToHelp'), labelledBy: 'txtMergeRequestedto', hasDatepicker: true }"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<label for="txtDateStatusLastChangedFrom" data-bind="text: resources.get('MergeStatusView_MergeStatus_DateLastChangedFrom'), css: notValidCss(lastChangeDateFrom)"></label>
						<div class="floatLeft">
							<input id="txtDateStatusLastChangedFrom" type="text" placeholder="dd/mm/yyyy" class="small" data-bind="valueAsDatePicker: lastChangeDateFrom" />
						</div>
						<div class="floatRight width100">
							<label for="txtDateStatusLastChangedTo" data-bind="text: resources.get('MergeStatusView_MergeStatus_DateLastChangedTo'), css: notValidCss(lastChangeDateTo)"></label>
							<div class="floatLeft">
								<input id="txtDateStatusLastChangedTo" type="text" placeholder="dd/mm/yyyy" class="small" data-bind="valueAsDatePicker: lastChangeDateTo, disable: lastChangeDateTo.disabled" />
							    
							    <span data-bind="helpIconWidget: { helpText: resources.get('MergeStatusView_MergeStatusViewDateStatusLastChangedToHelp'), labelledBy: 'txtDateStatusLastChangedTo', hasDatepicker: true }"></span>
							</div>
						</div>
					</div>
					<div class="row check"></div>
					<div class="row">
						<label for="selMergeRequestStatus" data-bind="text: resources.get('MergeStatusView_MergeStatus_RequestStatus')"></label>
						<select id="selMergeRequestStatus" name="selMergeRequestStatus"
							data-bind=" value: selectedRequestStatus,
	options: mergeStatusesDropDown,
	optionsText: 'Value',
	optionsValue: 'Key'">
						</select>
					</div>
				</fieldset>
				<div class="row">
					<label></label>
					<input id="btnGenerate" type="submit" class="pie" value="Generate" data-bind="click: doGenerate, isPending: isRunningSearch" />
					<a data-bind="click: onClear">Clear</a>
				</div>
			</form>
		</div>
	</div>
	<!-- END Form Container -->
	<div data-bind="slideVisible: showResultsContainer">
		<p class="message info" data-bind="visible: !showResult() && !isRunningSearch()">
			<span class="icon info">Information Message.</span>
			<span data-bind="text: resources.get('MessageCode_General_NoSearchResultsFound_785')"></span>
		</p>
		<!--<span data-bind="visible: !showResult(), text: resources.get('MessageCode_General_NoSearchResultsFound_785')"></span>-->
		<div data-bind="visible: showResult">
			<h2 data-bind="text: resources.get('MergeStatusView_MergeStatus_StatusResult')"></h2>
			<table class="fullWidth" id="MergeStatusTable" data-bind="dataTable: resultsConfig">
				<thead>
					<tr>
						<th class="small allowWrap" data-bind="text: resources.get('MergeStatusView_MergeStatus_ProviderCode')"></th>
						<th data-bind="text: resources.get('MergeStatusView_MergeStatus_ReqBy')"></th>
						<th class="allowWrap" data-bind="text: resources.get('MergeStatusView_MergeStatus_StudentsInReq')"></th>
						<th data-bind="text: resources.get('MergeStatusView_MergeStatus_RequestStatus')"></th>
						<th class="allowWrap" data-bind="text: resources.get('MergeStatusView_MergeStatus_DateLastChanged')"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<script id="MergeStatusRowTemplate" type="text/html">

	<td data-bind="text: ProviderCode"></td>
	<td data-bind="text: RequestedBySummary"></td>
	<td>
		<ul data-bind="foreach: NSNs">
			<li><a data-bind="text: $data, attr: { href: '#/students/view/' + $data }"></a></li>
		</ul>
	</td>
	<td data-bind="text: MergeStatusSummary"></td>
	<td data-bind="textAsDate: ModifiedDateTime"></td>

</script>
