<div class="messageBox">
    <div class="modal-header">
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
	    <ul data-bind="foreach: messages" class="message">
		    <li>
			    <span data-bind="text: PresentationAttributes.Text"></span>
			    <ul data-bind="foreach: InnerMessages">
				    <li>
					    <span data-bind="text: PresentationAttributes.Text"></span>
				    </li>
			    </ul>
		    </li>
	    </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-bind="click: ok">Ok</button>
    </div>
</div>