<div class="simplemodal-container" id="simplemodal-container" >
	<a title="Close" class="modalCloseImg simplemodal-close" data-bind="click: onCancel">Close</a>
	<div tabindex="-1" class="simplemodal-wrap" >
		<div class="modalBox simplemodal-data" id="modal-deny" aria-labelledby="btnDeny" style="display: block;">
			<h3 class="pie" data-bind="text: modalTitle"></h3>
			<div class="inner">
				<ul data-bind="foreach: bulletPoints" class="allowList">
					<li data-bind="text: $data"></li>
				</ul>
				<div class="pageBtns">
					<input class="pie" id="btnDeny2" type="button" value="Yes" data-bind="click: onYes">
					<input type="button" id="btnCancel2"  class="pie cancel simplemodal-close" value="No" data-bind="click: onCancel" />
				</div>
			</div>
		</div>
	</div>
</div>