<div data-bind="breadcrumbWidget: {}"></div>

<div id="main" role="main" class="primary student-history">
    <h1 data-bind="text: resources2.get('MergeHistoryView_MergeHistory_CompareStudentHistory')"></h1>
    <!--<div>
        <input id="btnCompare" type="button" class="pie viewModal" value="Compare selected" data-modal="#compare-details" aria-controls="compare-details" />
    </div>-->
    <!-- ko foreach: studentMergeHistory-->
    <div class="toggle">
        <h2 class="hider closed">
            <span data-bind="text: 'NSN ' + Nsn + ' ' + Name + ' '"></span>
             <span class="icon">hide/show toggle</span>
        </h2>
     
            <div class="floatRight">
	            <button class="pie viewModal" data-modal="#relationships" aria-controls="relationships" 
	                    data-bind="visible: $parent.shouldShowRelationships, click: $parent.onShowSprs, uniqueId: { prefix: 'btnRelationships' }">
		            
					<!-- ko text: resources.get('MergeHistoryView_MergeHistory_RelationshipsButton') --><!-- /ko -->
					<span class="pie" data-bind="text: sprCount"></span>
	            </button>
				
            </div>
            <div class="toggleMe">
                <table data-bind="dataTable: datatableConfig, uniqueId: { prefix: 'tbl_CompareStudentHistory' }" class="fullWidth">
                    <thead>
                        <tr>
							<th><span data-bind="text: $parent.resources2.get('MergeHistoryView_MergeHistory_ModifiedDate')"></span></th>
							<th><span data-bind="text: $parent.resources2.get('MergeHistoryView_MergeHistory_ModifiedBy')"></span></th>
							<th><span data-bind="text: $parent.resources2.get('MergeHistoryView_MergeHistory_UpdateType')"></span></th>
							<th><span data-bind="text: $parent.resources2.get('MergeHistoryView_MergeHistory_FieldUpdated')"></span></th>
							<th><span data-bind="text: $parent.resources2.get('MergeHistoryView_MergeHistory_OldValue')"></span></th>
							<th><span data-bind="text: $parent.resources2.get('MergeHistoryView_MergeHistory_NewValue')"></span></th>
                        </tr>
                    </thead>

                    <!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
                        See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
                        -->

                </table>
            </div>
        </div>
<!-- /ko -->
    </div>