﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
	
	<h1 data-bind="text: resources2.get('MergeListView_MergeList_Header')"></h1>
		<div class="key">
		<div class="title" role="heading" data-bind="text: resources2.get('MergeListView_MergeList_KeyLabel')"></div>
		<ul>
			<li><span class="icon decision">icon: decision</span><span data-bind="text: resources2.get('MergeListView_MergeList_MergeDecisionLabel')"></span></li>
		</ul>
	</div>
	<div class="slide-overlay" data-bind="slideVisible: staticErrors().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> Error:</p>
			<ul data-bind="foreach: staticErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>

	<div class="floatLeft">
		<div class="toggle search">
			<a href="#" class="hider closed">
				<span class="hide" data-bind="text: resources2.get('MergeListView_MergeList_HideLabel')"></span>
					<span class="hide hidden" data-bind="text: resources2.get('MergeListView_MergeList_ShowLabel')"></span> <span data-bind="text: resources2.get('MergeListView_MergeList_SearchLabel')"></span><span class="icon">hide/show toggle</span>
			</a>

			<div class="form container toggleMe">
				<fieldset class="small">
					<legend data-bind="text: resources2.get('MergeListView_MergeList_NSNNumberLegend')"></legend>
					<div class="row">
						<label for="numNSN" data-bind="text: resources2.get('MergeListView_MergeList_NSNLabel')"></label>
						<input id="numNSN" type="text" class="medium" maxlength="10"
						       data-bind="attr: { placeholder: resources.get('MergeListView_MergeListViewNsnDefaultValue') },
											value: nsnSearchInput,
											enterKey: onNsnSearch,
											valueUpdate: 'keyup'" />
						<span data-bind="helpIconWidget: { helpText: resources.get('MergeListView_MergeListViewNsnHelp'), labelledBy: 'numNSN' }"></span>
			
					</div>
					<input id="btnSearchNSN" type="button" class="pie" 
					       data-bind="value: resources2.get('MergeListView_MergeList_SearchButton'),
									click: onNsnSearch,
									isPending: isLoadingNsnSearch" />
					<a data-bind="click: onClear">Clear</a>
				</fieldset>

				<span data-bind="text: resources2.get('MergeListView_MergeList_OrLabel')"></span>
				
				<fieldset>
					<legend data-bind="text: resources2.get('MergeListView_MergeList_SearchDetailsLegend')"></legend>
					<div class="row">
						<label for="numProviderCode" data-bind="text: resources2.get('MergeListView_MergeList_ProviderCodeLabel')"></label>
						<input id="numProviderCode" type="text"  class="medium" maxlength="10"
						       data-bind="value: searchCriteria.providerCode,
											placeholder:resources.get('MergeListView_MergeListViewProviderCodeDefaultValue'),
											enterKey: onCriteriaSearch, valueUpdate: 'input'" />
						
                        <span data-bind="helpIconWidget: { helpText: resources.get('MergeListView_MergeListViewProviderCodeHelp'), labelledBy: 'numProviderCode' }"></span>
			
					</div>
					<div class="row">
						<label for="txtFamilyName" data-bind="text: resources2.get('MergeListView_MergeList_FamilyNameLabel')"></label>
						<input id="txtFamilyName" type="text" placeholder="Family name" maxlength="100"
						       data-bind="value: searchCriteria.familyName, enterKey: onCriteriaSearch, valueUpdate: 'afterkeyup'" />
					</div>
					<div class="row">
						<label for="txtGivenNames" data-bind="text:resources2.get('MergeListView_MergeList_GivenNamesLabel')"></label>
						<input id="txtGivenNames" type="text" placeholder="Given name(s)" maxlength="300"
						       data-bind="value: searchCriteria.givenNames, enterKey: onCriteriaSearch, valueUpdate: 'afterkeyup'" />
					</div>
					<input id="btnSearchProvider" type="button" class="pie" 
					       data-bind="value: resources2.get('MergeListView_MergeList_SearchButton'),
										click: onCriteriaSearch,
										isPending: isLoadingCriteriaSearch" />
					<a data-bind="click: onClear">Clear</a>
				</fieldset>
			</div>
		</div>
	</div>
	
	<div class="clear"></div>

	<div data-bind="visible: !hasPageLoaded()" class="center">
		<br/><br/>
		<span class="loading-small icon"></span> Loading
	</div>

	<p class="message info" data-bind="visible: shouldDisplayNoResultsMessage">
        <span class="icon info">Information Message.</span>
        <span data-bind="text: noResultsMessage"></span>
    </p>

	<div data-bind="visible: mergeRequestResults().length > 0" class="clear">	
		<table class="fullWidth" id="MergeListTable" data-bind="dataTable: resultsConfig">
			<thead>
				<tr>
					<th class="small"></th>
					<th class="width110 sortable" data-bind="text: resources2.get('MergeListView_MergeList_NSNLabel')"></th>
					<th class="sortable" data-bind="text: resources2.get('MergeListView_MergeList_FamilyNameLabel')"></th>
					<th class="sortable" data-bind="text: resources2.get('MergeListView_MergeList_GivenNamesLabel')"></th>
					<th class="width110 sortable" data-bind="text: resources2.get('MergeListView_MergeList_BirthDateLabel')"></th>
					<th class="sortable" data-bind="text: resources2.get('MergeListView_MergeList_ResidentialStatusLabel')"></th>
					<th class="sortable" data-bind="text: resources2.get('MergeListView_MergeList_RecordCreatedByLabel')"></th>
					<th class="allowWrap sortable" data-bind="text: resources2.get('MergeListView_MergeList_MergeRequestedByLabel')"></th>
					<th class="allowWrap sortable" data-bind="text: resources2.get('MergeListView_MergeList_AssignedToLabel')"></th>
					<th class="allowWrap" data-bind="text: resources2.get('MergeListView_MergeList_AssignToMeLabel')"></th>									
				</tr>
			</thead>
		</table>	
	</div>
	
	<script id="MergeListRowTemplate" type="text/html">
		<td>Loading...</td>
	</script>
	
	<script id="MergeListTableTemplate" type="text/html">
		<!-- ko foreach: $data -->
			<!-- ko foreach: MergeDetails -->
			<tr data-bind="css: $index() === $parent.MergeDetails.length - 1 ? 'addBorder' : 'noBorder'">
			
				<td data-bind="visible: $index() === 0,
								attr: { rowspan: $parent.MergeDetails.length}">
					<a href="#" class="icon decision" data-bind="attr: { title: 'Complete merge decision.', href: '#/merge/decision/' + $parent.MergeRequestId }">Decision</a>
				</td>
				<td><a data-bind="text: Nsn, attr: { href: '#/students/view/' + Nsn }"></a></td>
				<td data-bind="text: FamilyName"></td>
				<td data-bind="text: GivenNames"></td>
				<td data-bind="textAsDate: BirthDate"></td>
				<td data-bind="text: ResidentialStatus"></td>
				<td data-bind="text: RecordCreatedBySummary"></td>
				<td data-bind="text: $parent.CreatedBySummary,
									visible: $index() === 0, attr: { rowspan: $parent.MergeDetails.length }"></td>
				<td data-bind="visible: $index() === 0, text: $parent.AssignedToUser, attr: { rowspan: $parent.MergeDetails.length }"></td>
				<td data-bind="visible: $index() === 0, attr: { rowspan: $parent.MergeDetails.length }" class="center">
					<input data-bind="attr: { title: resources.get('MergeListView_MergeListViewAssignToMeTip')}, checked: $parent.IsAssignedToMe, click: function () { return $root.onChangeAssignToMe($parent); }" type="checkbox"/>
				</td>
			</tr>
			<!-- /ko -->
		<!-- /ko -->
	</script>
		
</div>