﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- Start Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources.get('MergeDecisionView_MergeDecision_Title')"></h1>
	
	<div class="key strong">
		<div class="title" role="heading"><span data-bind=" text: resources.get('MergeDecisionView_MergeDecision_Key')"></span></div>
		<ul>
			<li><span class="icon link">icon: linked</span><span data-bind="text: resources.get('MergeDecisionView_MergeDecision_MasterWithSlaves')"></span></li>
			<li><span class="icon delete">icon: delete</span><span data-bind="text: resources.get('MergeDecisionView_MergeDecision_Delete')"></span></li>
	
		</ul>
	</div>

	<div>
		<input id="btnHistory" type="button" class="pie" data-bind="value: resources.get('MergeDecisionView_MergeDecision_HistoryButton'), click: navToMergeHistory" />
	</div>


	
	<div data-bind="visible: !hasPageLoaded()" class="center">
        <br />
        <br />
        <span class="loading-small icon"></span>Loading
	</div>
	

	<div data-bind="visible: hasPageLoaded">
	<div data-bind="mergeDeniedPairsWidget: { items: mergeDeniedPairs }"></div>
		
	

		<h2 data-bind="text: resources.get('MergeDecisionView_MergeDecision_RecordsToMerge')"></h2>
		
	

		<div class="message info">
			<span class="icon">Information Message.</span>
			<span data-bind="visible: manualInterventionMessages().length === 0, text: resources.get('MergeDecisionView_MergeDecision_ManualInterventionMessage')"></span>
			<span data-bind="if: manualInterventionMessages().length > 0">
				<div data-bind="foreach: manualInterventionMessages" class="">
		    
					<span data-bind="text: PresentationAttributes.Text"></span>
					<ul data-bind="foreach: InnerMessages">
						<li>
							<span data-bind="text: PresentationAttributes.Text"></span>
						</li>
					</ul>
		    
				</div>
			</span>
		</div>
		
	

		<table class="fullWidth">
		<thead>
			<tr>
				<th class="small"></th>
				<th class="small allowWrap" data-bind="text: resources.get('MergeDecisionView_MergeDecision_IncludeInMerge')"></th>
				<th class="width110" data-bind="text: resources.get('MergeDecisionView_MergeDecision_NSN')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_FamilyName')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_GivenNames'), attr: { colspan: numberOfCol() }"></th>
				<th class="width110" data-bind="text: resources.get('MergeDecisionView_MergeDecision_BirthDate')"></th>
				<th class="allowWrap" data-bind="text: resources.get('MergeDecisionView_MergeDecision_NameAndBirthDateVerification')"></th>
				<th class="width110" data-bind="text: resources.get('MergeDecisionView_MergeDecision_Gender')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_ResidentialStatus')"></th>
				<th class="allowWrap" data-bind="text: resources.get('MergeDecisionView_MergeDecision_ResidentialStatusVerification')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_RecordStatus')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_RecordCreatedBy')"></th>
			</tr>
		</thead>
		<tbody data-bind="foreach: mergeDetails">
                <tr>
				<td>
					<span class="icon link" data-bind="visible: HasSlaveRecords, attr: { title: resources.get('MergeDecisionView_MergeDecisionViewMasterWithSlavesSymbolTip') }">
						<!--<span data-bind="text: resources.get('MergeDecisionView_MergeDecision_MasterRecord')"></span>-->
					</span>
				</td>
				<td class="center">
					<input type="checkbox" data-bind="checkedNumeric: isSelectedForMerge, attr: { title: resources.get('MergeDecisionView_MergeDecisionViewIncludeInMergeTip') }" /></td>
	                
						<td data-bind="css: { highlight: $root.selections.masterStudentId() === StudentId }">
							<input type="radio" name="masterNsn" data-bind="checked: $root.selections.masterStudentId,
																			checkedValue: StudentId,
																			enable: $root.selections.masterStudentId() == StudentId,
																			visible: false" />
					<a data-bind="text: Nsn, attr: { href: '#/students/view/' + Nsn }"></a>
				</td>
				
					<td class="noWrap" data-bind="css: { highlight: $root.selections.familyName() === StudentId, noRadio: !enableName }">
						<input type="radio" name="familyName" data-bind="checked: $root.selections.familyName,
																		checkedValue: StudentId,
																		visible: enableName,
																		enable: enableName,
																		attr: { title: resources.get('MergeDecisionView_MergeDecisionViewFamilyNameTip') }" />
					<span data-bind="text: FamilyName, cssDisable: enableName" />
				</td>
					<td class="noWrap" data-bind="css: { highlight: $root.selections.givenName1() === StudentId, noDisplay: ($root.givenName1Found() === 0) }">
						<input type="radio" name="givenName1" data-bind="checked: $root.selections.givenName1,
																	checkedValue: StudentId,
																	visible: !($root.isNameAndDobLocked()) && $root.givenName1Found(),
																enable: enableName,
																attr: { title: resources.get('MergeDecisionView_MergeDecisionViewGivenName1Tip') }" />
		            <span data-bind="text: GivenName1, cssDisable: enableName" />
	            </td>
					<td class="noWrap" data-bind="css: { highlight: $root.selections.givenName2() === StudentId, noDisplay: ($root.givenName2Found() === 0) }">
						<input type="radio" name="givenName2" data-bind="checked: $root.selections.givenName2,
																		checkedValue: StudentId,
																		visible: !($root.isNameAndDobLocked()) && $root.givenName2Found(),
																	enable: enableName,
																	attr: { title: resources.get('MergeDecisionView_MergeDecisionViewGivenName2Tip') }" />
		            <span data-bind="text: GivenName2, cssDisable: enableName" />
	            </td>
					<td class="noWrap" data-bind="css: { highlight: $root.selections.givenName3() === StudentId, noDisplay: ($root.givenName3Found() === 0) }">
						<input type="radio" name="givenName3" data-bind="checked    : $root.selections.givenName3,
																		checkedValue: StudentId,
																		visible: !($root.isNameAndDobLocked()) && $root.givenName3Found(),
																	enable: enableName,
																	attr: { title: resources.get('MergeDecisionView_MergeDecisionViewGivenName3Tip') }" />
					<span data-bind="text: GivenName3, cssDisable: enableName" />
				</td>
					<td class="noWrap" data-bind="css: { highlight: $root.selections.birthDate() === StudentId, noRadio: ($root.isNameAndDobLocked()) || !enableName }">
						<input type="radio" name="birthDate" data-bind="checked: $root.selections.birthDate,
																		checkedValue: StudentId,
																		visible: !($root.isNameAndDobLocked()) && enableName,
																		enable: enableName,
																		attr: { title: resources.get('MergeDecisionView_MergeDecisionViewBirthDateTip') }" />					
					<span data-bind="textAsDate: BirthDate, cssDisable: enableName" />
				</td>
				
					<td data-bind="css: { highlight: $root.selections.birthDate() === StudentId }">
					<span data-bind="text: NameBirthDateVerificationSummary, cssDisable: enableName" />
                        <hr data-bind="visible: NameDobConfirmedByMOEDateTime" />
					<div class="strong" data-bind="visible: NameDobConfirmedByMOEDateTime, text: resources.get('MergeDecisionView_MergeDecision_ConfirmedByMinistry')"></div>

				</td>
					<td data-bind="css: { highlight: $root.selections.gender() === StudentId }">
						<input type="radio" name="gender" data-bind="checked: $root.selections.gender,
																		checkedValue: StudentId,
																		attr: { title: resources.get('MergeDecisionView_MergeDecisionViewGenderTip') }" />
					<span data-bind="text: Gender"></span>			
				</td>
					<td data-bind="css: { highlight: $root.selections.residentialStatus() === StudentId, noRadio: !enableResidentialStatus }">
						<input type="radio" name="residentialStatus" data-bind="checked: $root.selections.residentialStatus,
																				checkedValue: StudentId,
																				visible: enableResidentialStatus,
																				enable: enableResidentialStatus,
																				attr: { title: resources.get('MergeDecisionView_MergeDecisionViewResidentialStatusTip') }" />
					<span data-bind="text: ResidentialStatus,
									cssDisable: enableResidentialStatus" />
				</td>

					<td data-bind="css: { highlight: $root.selections.residentialStatus() === StudentId }">
					<span data-bind="text: ResidentialStatusVerificationSummary, cssDisable: enableResidentialStatus" />
                        <hr data-bind="visible: ResidentialStatusConfirmedByMOEDateTime" />
					<div class="strong" data-bind="visible: ResidentialStatusConfirmedByMOEDateTime, text: resources.get('MergeDecisionView_MergeDecision_ConfirmedByMinistry')"></div>
				</td>
				<td data-bind="text: studentStatusSummary, css: { highlight: $root.selections.masterStudentId() == StudentId }"></td>
                    <td data-bind="css: { highlight: $root.selections.masterStudentId() === StudentId }">
                        <span data-bind="text: RecordCreatedByUser" /> 
                        <span data-bind="text: RecordCreatedByProvider" /> 
                        <span data-bind="text: resources.get('MergeDecisionView_MergeDecision_On')" />
                        <span data-bind="textAsDate: RecordCreatedOn" />
                    </td>
			</tr>
		</tbody>
	</table>

	<h2 data-bind="text: resources.get('MergeDecisionView_MergeDecision_AltNameTitle')"></h2>
        <table  id="tbl_AltNames" class="autoWidth" data-bind=" dataTable: mergeDecisionAltNamesTableConfig">
		<thead>
			<tr>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_NSN')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_FamilyName')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_GivenNames')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_Verification')"></th>
				<th data-bind="text: resources.get('MergeDecisionView_MergeDecision_CreatedBy')"></th>
			</tr>
		</thead>

           <!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
				See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
				-->
	</table>

	<hr />
	<div class="clear container">
		<input id="btnDeny" type="button" class="pie" 
		       data-bind="click: onDeny,
							enable: isDenyEnabled,
							isPending: isRunningDeny,
							value: resources.get('MergeDecisionView_MergeDecision_DenyButton')" />
		<input id="btnDiscard" type="button" class="pie" 
		       data-bind="click: onDiscard,
							isPending: isRunningDiscard,
							value: resources.get('MergeDecisionView_MergeDecision_DiscardButton')" />
		<input id="btnMerge" type="button" class="pie" 
		       data-bind="click: onMerge,
							enable: isMergeEnabled,
							isPending: isRunningMerge,
							value: resources.get('MergeDecisionView_MergeDecision_MergeButton')" />
		<input id="btnCancel" type="button" class="pie cancel" data-bind="click: onCancel, value: resources.get('MergeDecisionView_MergeDecision_CancelButton')" />
	</div>
		
		</div>
</div>
<!-- END Primary Content Area -->
