﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">

	<h1 data-bind="text: resources2.get('MergeEntryView_MergeEntry_Header')"></h1>

	<div class="slide-overlay" data-bind="slideVisible: displayErrors().length > 0 || extraSubmitError().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive" data-bind="visible: extraSubmitError().length > 0">
			<p role="heading">
				<span class="icon">Error Message.</span>
				<span data-bind="text: resources2.get('MessageCode_Validation_MergeRejected_956')"></span>
			</p>
			<ul data-bind="foreach: extraSubmitError">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
		<div class="message error" aria-live="assertive" data-bind="visible: displayErrors().length > 0">
			<p role="heading">
				<span class="icon">Error Message.</span>
				<span data-bind="text: resources2.get('MergeEntryView_MergeEntry_ErrorLabel')"></span>
			</p>
			<ul data-bind="foreach: displayErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>

	<p class="message success" data-bind="visible: showSuccessMsg">
		<span class="icon">Success Message.</span><span data-bind="text: resources2.get('MessageCode_Confirmation_StudentRecordsDenied_052')"></span>
	</p>

	<div class="message error" aria-live="assertive" data-bind="visible: hasUnprocessedRequestsByStudentsError().length > 0">
		<p role="heading">
			<span class="icon">Error Message.</span>
			<span data-bind="text: hasUnprocessedRequestsByStudentsError"></span>
		</p>
	</div>
	
	<div class="key">
		<div class="title" role="heading" data-bind="text: resources2.get('MergeEntryView_MergeEntry_Key')"></div>
		<ul>
			<li><span class="icon link">icon: linked</span><span data-bind="text: resources2.get('MergeEntryView_MergeEntry_MasterWithSlavesLabel')"></span></li>
			<li><span class="icon altName">icon: alt name</span><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_IconAltName')"></span></li>
			<li data-bind="visible: isDeleteKeyVisible"><span class="icon delete">icon: delete</span><span data-bind="	text: resources2.get('MergeEntryView_MergeEntry_DeleteLabel')"></span></li>
			<li><span class="icon remove">icon: remove</span><span data-bind="text: resources2.get('MergeEntryView_MergeEntry_RemoveIconLabel')"></span></li>
			<li><span class="icon inactive">icon: inactive</span><span data-bind="text: resources2.get('MergeEntryView_MergeEntry_InactiveIconLabel')"></span></li>
		</ul>
	</div>

	<div class="floatLeft">
		<div class="form search container">
			<fieldset class="medium">
				<legend data-bind="text: resources2.get('MergeEntryView_MergeEntry_NsnSearchLabel') "></legend>
				<div class="row">
					<label for="numNSN" data-bind="css: displayErrors().length > 0 ? 'errorLabel' : 'normalColourLabel', text: resources2.get('MergeEntryView_MergeEntry_NSNLabel')"></label>

					<input id="numNSN" type="text" maxlength="10"
					       data-bind="value: nsnInput,
										placeholder: resources.get('MergeEntryView_MergeEntryViewNsnDefaultValue'), 
										enterKey: onAddNsn,
										valueUpdate: 'keyup',
										css: displayErrors().length > 0 ? 'errorBorder' : 'normalBorder'" />
				    <span data-bind="helpIconWidget: { helpText: resources.get('MergeEntryView_MergeEntryViewNsnHelp'), labelledBy: 'numNSN' }"></span>

				
				</div>
				<input id="btnSearchNSN" type="button" class="pie" 
				       data-bind="click: onAddNsn,
									isPending: isRunningAddNsn,
									value: resources2.get('MergeEntryView_MergeEntry_RetrieveStudentRecordButton')" />
			</fieldset>
		</div>
	</div>



	<div data-bind="visible: mergeDeniedPairs().length > 0">
		<!--<h2 class="strong" data-bind="text: resources2.get('MergeEntryView_MergeEntry_DeniedRecordsTitle')"></h2>-->
		<h2 data-bind="text: resources2.get('MergeEntryView_MergeEntry_DeniedRecordsTitle')"></h2>
		<div class="message info">
			<span class="icon">Information Message.</span>
			<span data-bind="text: resources2.get('MessageCode_Confirmation_ReviewDeniedRecords_057')"></span>
		</div>
		<table class="autoWidth">
			<thead>
				<tr>
					<th class="small" data-bind="visible: showRemoveMergeDenied"></th>
					<th data-bind="text: resources2.get('MergeEntryView_MergeEntry_NSNLabel')"></th>
					<th data-bind="text: resources2.get('MergeEntryView_MergeEntry_ReasonLabel')"></th>
				</tr>
			</thead>
			<tbody data-bind="foreach: sortedMergeDeniedPairs">
				<tr>
					<!-- ko if: $root.showRemoveMergeDenied -->
					<td><a class="icon delete" data-bind="visible: $root.showRemoveMergeDenied, click: $root.onDeleteMergeDeniedPair, attr: { title: resources2.get('MergeEntryView_MergeEntryViewDeleteSymbolButtonInDeniedRecordSTableTip') }"><span data-bind="    text: resources2.get('MergeEntryView_MergeEntry_DeleteLabel')"></span></a></td>
					<!-- /ko -->
					<td><a data-bind="text: Student1Nsn, attr: { href: '#/students/view/' + Student1Nsn }"></a>
						<a data-bind="text: Student2Nsn, attr: { href: '#/students/view/' + Student2Nsn }"></a></td>
					<td data-bind="text: MergeDeniedReason"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div data-bind="visible: mergeRequest.records().length > 0" class="clear">
		


		<div class="message error" aria-live="assertive" data-bind="visible: mergeRequestWarnings() && mergeRequestWarnings().length > 0">
			<!-- ko foreach: mergeRequestWarnings -->
			<p role="heading"><span class="icon">Error Message.</span> <span data-bind="text: PresentationAttributes.Text"></span></p>

			<ul data-bind="foreach: InnerMessages">
				<li><span data-bind="text: PresentationAttributes.Text"></span></li>
			</ul>

			<!-- /ko -->
		</div>

		<h2 class="strong" data-bind="text: resources2.get('MergeEntryView_MergeEntry_RecordsToMergeLabel')"></h2>
		<table class="fullWidth" data-bind="dataTable: resultsConfig">
			<thead>
				<tr>
					<th class="small"></th>
					<th class="small"></th>
					<th class="small"></th>
					<th class="small allowWrap" data-bind="text: resources2.get('MergeEntryView_MergeEntry_Select')"></th>
					<th class="width110" data-bind="text: resources2.get('MergeEntryView_MergeEntry_NSNLabel')"></th>
					<th data-bind="text: resources2.get('MergeEntryView_MergeEntry_FamilyName')"></th>
					<th data-bind="text: resources2.get('MergeEntryView_MergeEntry_GivenNames')"></th>
					<th class="width110" data-bind="text: resources2.get('MergeEntryView_MergeEntry_BirthDate')"></th>
					<th class="allowWrap" data-bind="text: resources2.get('MergeEntryView_MergeEntry_NameAndBirthDateVerification')"></th>
					<th class="width110" data-bind="text: resources2.get('MergeEntryView_MergeEntry_Gender')"></th>
					<th data-bind="text: resources2.get('MergeEntryView_MergeEntry_ResidentialStatus')"></th>
					<th class="allowWrap" data-bind="text: resources2.get('MergeEntryView_MergeEntry_ResidentialStatusVerification')"></th>
					<th data-bind="text: resources2.get('MergeEntryView_MergeEntry_RecordCreatedBy')"></th>
				</tr>
			</thead>

			<!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
				See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
				-->


		</table>

		<hr />
		<div class="clear container">
			<input id="btnRequest" type="button" class="pie"
			       data-bind="click: onRequestMerge,
								enabled: canRequestMerge,
								isPending: isRequestingMerge,
								value: resources2.get('MergeEntryView_MergeEntry_RequestMergeButton')" />
			<input id="btnDeny" type="button" class="pie viewModal" aria-controls="modal-deny" data-modal="#modal-deny"
				data-bind="click: onDeny, visible: showDenyMerge, enable: canDenyMerge, value: resources2.get('MergeEntryView_MergeEntry_DenyButton')" />
		</div>
	</div>
</div>
