<div class="simplemodal-container" id="simplemodal-container" >
	<a title="Close" class="modalCloseImg simplemodal-close" data-bind="click: onCancel">Close</a>
	<div tabindex="-1" class="simplemodal-wrap" >
		<div class="modalBox simplemodal-data" id="modal-deny" aria-labelledby="btnDeny" style="display: block;">
			<!--<h3 class="pie">Denial Reason</h3>-->
			<h3 class="pie" data-bind="text:resources2.get('MergeDenialReasonModalView_MergeDenialReason_Header')"></h3>
			<div class="inner">
				<fieldset>
					<legend data-bind="text: resources2.get('MergeDenialReasonModalView_MergeDenialReason_DenialReasonLegend')"></legend>
					<p data-bind="text: resources2.get('MergeDenialReasonModalView_MergeDenialReason_DisplayLabel')"></p>
					<div class="row">
						<label class="hidden" for="selReason" data-bind="text: resources2.get('MergeDenialReasonModalView_MergeDenialReason_ReasonLabel')"></label>
						<select data-bind="value: denialReason,
											options: referenceData.get('MergeDeniedReason'),
											optionsText: 'Value',
											optionsValue: 'Key'">
						</select>
					</div>
				</fieldset>
				<div class="pageBtns">
					<input class="pie" id="Button1" type="button"  data-bind="value: resources2.get('MergeDenialReasonModalView_MergeDenialReason_DenyButton'), click: onDeny">
					<input id="btnCancel2" type="button" class="pie cancel simplemodal-close"  data-bind=" value : resources2.get('MergeDenialReasonModalView_MergeDenialReason_CancelButton'), click: onCancel" >
				</div>
			</div>
		</div>
	</div>
</div>