﻿@model dynamic

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>Setup</h2>




<div class="alert alert-info">
    You're looking at the Back Tier's website.
    <br/>


    
</div>


    
