﻿<#@ template debug="true" hostspecific="true" language="C#v3.5" #>
<#@ include file="EF.Utility.CS.ttinclude" #>
<#@ assembly name="$(ProjectDir)..\packages\log4net.2.0.3\lib\net40-full\Log4Net.dll" #>
<#@ assembly name="$(ProjectDir)..\packages\LinqToExcel.1.10.1\lib\Remotion.dll" #>
<#@ assembly name="$(ProjectDir)..\packages\LinqToExcel.1.10.1\lib\Remotion.Interfaces.Dll" #>
<#@ assembly name="$(ProjectDir)..\packages\LinqToExcel.1.10.1\lib\Remotion.Data.Linq.Dll" #>
<#@ assembly name="$(ProjectDir)..\packages\LinqToExcel.1.10.1\lib\LinqToExcel.Dll" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="LinqToExcel" #>
<#@ import namespace="LinqToExcel.Query" #>
<#@ assembly name="EnvDTE" #>
<#@ output extension=".cs" #>
<#
//==================================================
		//Step: determin the namespace to use for this file.
		var hostServiceProvider = (IServiceProvider)Host;
		var dte = 
			(EnvDTE.DTE)hostServiceProvider.GetService(typeof(EnvDTE.DTE));
		var activeSolutionProjects = (Array)dte.ActiveSolutionProjects;
		var dteProject = (EnvDTE.Project)activeSolutionProjects.GetValue(0);
		var defaultNamespace =  dteProject.Properties.Item("DefaultNamespace").Value;
		var templateDir = Path.GetDirectoryName(Host.TemplateFile);
		var fullPath = dteProject.Properties.Item("FullPath").Value.ToString();
		fullPath = 
			fullPath.EndsWith("\\") 
				? fullPath.Substring(0, fullPath.Length-1) 
				: fullPath;
		var subNamespace = 
			templateDir.Replace(fullPath, string.Empty).Replace("\\", ".");
		var fileNamespace = string.Concat(defaultNamespace, subNamespace);
//==================================================
		// Find the Source Excel File:

		// Find the Excel file's path, relative to current host template:
		string fileName = Host.ResolvePath(".\\Source\\Resources.xlsx");


		// Open Excel file as Queryable object:
		var excelQueryFactory = new ExcelQueryFactory(fileName);

		// Get list of Sheets. which will be basis of classes to create:
		string[] sheetNames = excelQueryFactory.GetWorksheetNames().ToArray();
//==================================================
#>
/*
README
/======
This file is automatically generated by ResourceGenerator.tt

* Input: `.\Source\Resources.xlsx` folder
* Output: this file, pointing to a set of *.cs files (one per Sheet in the Source Excel file) 
*/
using System.Collections.Generic;
using System.Data.Entity;
using XAct.Resources;

namespace <#=fileNamespace#>
{
  public class Seeder_Resources {
	public List<Resource> Create(){
      var results = new List<XAct.Resources.Resource>();
<#
	    foreach(string sheetName in sheetNames){
#>
		results.AddRange(new Seeder_Resources_<#=sheetName#>().Create());
<#
	  }
#>
      return results;
	}	
  }
}
<#
//==================================================
		// T4 templates can spit out one or more pages.
		// In this case, we want one page per Spreadsheet tab.
		// For that, without requiring dependencies on 3rd party ttincludes, 
		// we can use a fileManager:

		EntityFrameworkTemplateFileManager entityFrameworkTemplateFileManager = EntityFrameworkTemplateFileManager.Create(this);
//==================================================


		// Iterate through sheet names, creating a new code file each time:
		foreach(string sheetName in sheetNames)
		{
			//Get the queryable sheet:
			var sheet = excelQueryFactory.Worksheet(sheetName);
			
			// From the sheet, get all the Resources defined on it:
            // var resourceDefinitions = sheet.Where(x => x["Group"].Cast<string>() == "GrpA").ToArray();
			var resourceDefinitions = sheet.ToArray();

			// Create a file called 'Resources_Whatever.cs', beside this file:
			entityFrameworkTemplateFileManager.StartNewFile( string.Format("Seeder_Resources_{0}.cs",sheetName));
//==================================================
 #>
using System;
using System.Collections.Generic;
using System.Data.Entity;
using XAct.Library.Settings;
using XAct.Resources;
using System.Data.Entity.Migrations;
using App.Core.Infrastructure.Services;

namespace <#=fileNamespace#>
{
	public class Seeder_Resources_<#=sheetName#> 
	{
        public List<Resource> Create()
        {
	        var results = new List<Resource>
	        {
<#           
             foreach (var r in resourceDefinitions)   
             {
			 //Each row in the sheet is: ResourceFilter|ResourceKey|ResourceText

			 string resourceFilter = r["ResourceFilter"];
			 if (string.IsNullOrEmpty(resourceFilter)){ resourceFilter = sheetName;}

				//Find all MessageText columns (eg: MessageText, MessageText_en-EN, MessageText_fr-FR, etc.)
				string[] textColumnNames = r.ColumnNames.ToArray().Where(x=>x.StartsWith("ResourceText",StringComparison.InvariantCultureIgnoreCase)).ToArray();
				foreach(string textColumnName in textColumnNames)
				{
				    string cultureCode = textColumnName.Substring("ResourceText".Length).Trim(new[]{'_',':',' '});
					string resourceText = r[textColumnName];
					if ((string.IsNullOrEmpty(resourceText)) && (!string.IsNullOrEmpty(cultureCode))){continue;}
#>
				    new Resource(GenGuid(), "<#=resourceFilter#>", "<#=r["ResourceKey"]#>", "<#=resourceText#>", "<#=cultureCode#>"),
<#
			   } 
             }
#>
			};
			return results;
		}

		private Guid GenGuid()
        {
            var result = XAct.DependencyResolver.Current.GetInstance<IDistributedIdService>().NewGuid();

            return result;
        }

	}//~class
}//~ns
<#
//==================================================
			entityFrameworkTemplateFileManager.EndBlock();
            }//~loop through sheetNames
//==================================================
		// Important: Process the blocks, and convert them to output files:
		entityFrameworkTemplateFileManager.Process(true);
//==================================================
#>
