﻿<div><div data-bind="visible: isVisible">
		<h2 data-bind="text: resources.get('AddStudentView_AddStudentViewResultsHeader')"></h2>

		<table id="tblAddStudentSearchResults" class="fullWidth" data-bind="dataTable: resultsConfig">
			<thead>
				<tr>
					<th class="small"></th>
					<th class="small"></th>
					<th class="small"></th>
					<th class="width100"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_Score')"></span></th>
					<th class="width100" id="NSNheader"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_NSN')"></span></th>
					<th class="width200"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_FamilyName')"></span></th>
					<th class="width200"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_GivenName')"></span></th>
					<th class="width100"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_BirthDate')"></span></th>
					<th class="width100"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_Gender')"></span></th>
					<th class="width150"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_ResidentialStatus')"></span></th>
					<th class="sortable" data-bind="click: doCreatedByCustomSort4Search" id="createdByOnHeader"><span data-bind="	text: resources.get('SearchResultsGridView_SearchResultsGrid_CreatedBy')"></span></th>
				</tr>
			</thead>

			<!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
				See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
				-->

		</table>
	</div>
</div>
