﻿<div>


 
      
    

    <div data-bind="visible: isVisible">
        <!--<h2>Records to merge</h2>-->
		
	    <h2 data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_Header')"></h2>

        <input id="btnMergeRequest" type="button" class="pie"  data-bind="click: onMerge, enable: isRequestMergeEnabled, value: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_MergeEntryButton')" />
        <input id="btnCancelMerge" type="button" class="pie cancel"  data-bind="click: onCancel, value: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_CancelButton')" />

        <p class="message error"  aria-live="assertive" data-bind="visible: mergeRequest.showMaxAllowedRecordsError">
            <span class="icon">Error Message.</span>
            <span data-bind="text: resources.get('MessageCode_Validation_MaxTenStudentRecords_353')"></span>
        </p>
        <table id="tblMergeRequest" class="fullWidth" data-bind="dataTable: resultsConfig">
            <thead>
                <tr>
                    <th class="small"></th>
                    <th class="small"></th>
                    <th class="small"></th>
                    <th class="small"></th>
                    <!--<th class="width100 sortable"><span data-bind="text: searchResultGridTitle_Score"></span></th>
                    <th class="width100 sortable"><span data-bind="text: searchResultGridTitle_NSN"></span></th>
                    <th class="width200 sortable"><span data-bind="text: searchResultGridTitle_Familyname"></span></th>
                    <th class="width200 sortable"><span data-bind="text: searchResultGridTitle_Givenname"></span></th>
                    <th class="width100 sortable"><span data-bind="text: searchResultGridTitle_Birthdate"></span></th>
                    <th class="width100 sortable"><span data-bind="text: searchResultGridTitle_Gender"></span></th>
                    <th class="width150 sortable"><span data-bind="text: searchResultGridTitle_ResidentialStatus"></span></th>
                    <th class="sortable"><span data-bind="text: searchResultGridTitle_CreatedBy"></span></th>-->
					


					<th class="width100 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_Score')"></span></th>
                    <th class="width100 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_NSN')"></span></th>
                    <th class="width200 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_FamilyName')"></span></th>
                    <th class="width200 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_GivenName')"></span></th>
                    <th class="width100 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_BirthDate')"></span></th>
                    <th class="width100 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_Gender')"></span></th>
                    <th class="width150 sortable"><span data-bind="text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_ResidentialStatus')"></span></th>
	                <th class="sortable" data-bind="click: doCreatedByOnCustomSort4Merge" id="recordCreatedByOnHeader"><span data-bind="	text: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_CreatedBy')"></span></th>
                </tr>
            </thead>

            <!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
				See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
				-->

        </table>

        <input id="btnMergeRequest2" type="button" class="pie"  data-bind="click: onMerge, enable: isRequestMergeEnabled, value: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_MergeEntryButton')" />
	    <input id="btnCancelMerge2" type="button" class="pie cancel"  data-bind="click: onCancel, value: resources.get('SearchRecordsToMergeView_SearchRecordsToMerge_CancelButton')" />

    </div>
</div>
