﻿<div>

    <script type="text/html" id="searchResultsButtons-template">
        <input type="button" class="pie"  data-bind="value: resources.get('SearchResultsGridView_SearchResultsGrid_ResetButton'), click: onReset" />
        <input type="button" class="pie"  data-bind="value: resources.get('SearchResultsGridView_SearchResultsGrid_RequestMergeButton'), visible: isRequestMergeAvailable, click: onEnableRequestMerge, disable: isRequestMergeModeEnabled" />
        <p class="message info" data-bind="visible: isRequestMergeModeEnabled">
            <span class="icon">Information Message.</span>
            <span data-bind="text: resources.get('MessageCode_Information_UpTo10StudentMerge_015')"></span>
        </p>
    </script>

    <p class="message info" data-bind="visible: currentSearchInfoMessage">
        <span class="icon info">Information Message.</span>
        <span data-bind="text: currentSearchInfoMessage"></span>
    </p>

	<div data-bind="visible: isVisible">
		<h2 data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_ResultsHeader')"></h2>

		<div class="key">
			<div class="title" role="heading" data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_Key')"></div>
			<ul>
				<li class="match"><strong data-bind="text: resources2.get('SearchResultsGridView_SearchResultsGrid_DefiniteMatch')"></strong></li>
				<li><span class="icon link">icon: link</span><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_IconLink')"></span></li>
				<li><span class="icon altName">icon: alt name</span><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_IconAltName')"></span></li>
				<li><span class="icon view">icon: view</span><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_IconView')"></span></li>
				<li><span class="icon inactive">icon: inactive</span><span data-bind="	text: resources.get('SearchResultsGridView_SearchResultsGrid_IconInactive')"></span></li>
				<li data-bind="visible: isRequestMergeModeEnabled"><span class="icon merge">icon: merge</span><span data-bind="	text: resources.get('SearchResultsGridView_SearchResultsGrid_IconMerge')"></span></li>
				<li data-bind="visible: isRequestMergeModeEnabled"><span class="icon remove">icon: remove</span><span data-bind="	text: resources.get('SearchResultsGridView_SearchResultsGrid_IconRemove')"></span></li>
			</ul>
		</div>

		<!-- ko template: { name: 'searchResultsButtons-template'} -->
		<!-- /ko -->

		<table id="tblSearchResults" class="fullWidth" data-bind="dataTable: resultsConfig">
			<thead>
				<tr>
					<th class="small"></th>
					<th class="small"></th>
					<th class="small"></th>
					<th class="small"></th>
					<th class="width100"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_Score')"></span></th>
					<th class="width100" id="NSNheader"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_NSN')"></span></th>
					<th class="width200"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_FamilyName')"></span></th>
					<th class="width200"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_GivenName')"></span></th>
					<th class="width100"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_BirthDate')"></span></th>
					<th class="width100"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_Gender')"></span></th>
					<th class="width150"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_ResidentialStatus')"></span></th>
					<th class="sortable" data-bind="click: doCreatedByCustomSort4Search" id="createdByOnHeader"><span data-bind="text: resources.get('SearchResultsGridView_SearchResultsGrid_CreatedBy')"></span></th>
				</tr>
			</thead>

			<!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
				See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
				-->

		</table>

		<!-- ko template: { name: 'searchResultsButtons-template'} -->
		<!-- /ko -->

	</div>
	 <div class="clear" data-bind="visible: isAddStudentAvailable">
            <div class="container noFloat inline">
                <input id="btnAddStudent2" type="button"  class="pie"  data-bind="click: onAddStudent, value: resources2.get('SearchResultsGridView_SearchResultsGrid_AddStudentButton')" />
            </div>
        </div>
</div>
