<div data-bind="breadcrumbWidget: {}"></div>

<!-- Start Primary Content Area -->
<div id="main" role="main" class="primary">
	

	<!-- START Primary Content Area -->
	<div role="main" class="primary">
		<h1 data-bind="text: resources.get('AddStudentView_Heading')"></h1>

		<div class="key">
			<div class="title" role="heading" data-bind="text: resources.get('AddStudentView_Key_Heading')"></div>
			<ul>
				<li data-bind="visible: student.noResults">
					<span class="icon add">icon: add</span>
					<span data-bind="	text: resources.get('AddStudentView_Add_Icon')"></span>
				</li>
				<li data-bind="visible: student.noResults">
					<span class="icon delete">icon: delete</span>
					<span data-bind="	text: resources.get('AddStudentView_Delete_Icon')"></span>
				</li>
				<li data-bind="visible: student.ViewResults" class="match" >
					<strong data-bind="	text: resources.get('AddStudentView_Definite_match')"></strong>
				</li>
				<li data-bind="visible: student.ViewResults">
					<span class="icon link">icon: link</span>
					<span data-bind="text: resources.get('AddStudentView_Master_slaves')"></span>
				</li>
				<li data-bind="visible: student.ViewResults">
					<span class="icon altName">icon: alt name</span>
					<span data-bind="text: resources.get('AddStudentView_AlternativeName_Label')"></span>
				</li>
				<li data-bind="visible: student.ViewResults">
					<span class="icon view">icon: view</span>
					<span data-bind="text: resources.get('AddStudentView_View')"></span>
				</li>
				<li data-bind="visible: student.ViewResults">
					<span class="icon inactive">icon: inactive</span>
					<span data-bind="text: resources.get('AddStudentView_Inactive')"></span>
				</li>
			</ul>
		</div>
		<!-- START Validation -->
		<div class="slide-overlay" data-bind="slideVisible: displayErrors().length > 0, slideDuration: 300">
			<div class="message error" aria-live="assertive">
				<p role="heading">
					<span class="icon">Error Message.</span>
					<span data-bind="text: resources.get('AddStudentView_ErrorLabel')"></span>
				</p>
				<ul data-bind="foreach: displayErrors">
					<li data-bind="html: $data"></li>
				</ul>
			</div>
		</div>
		<!-- END Validation -->

		<div class="message error"  aria-live="assertive" data-bind="visible: student.ViewResults">

			<span class="icon">Error Message.</span>
			<span data-bind="text: errorMsg"></span>

		</div>

		<form>
			<!-- START Form Container -->
			<div class="floatLeft">
				<!-- MODE: Editable student -->

				<div class="form container" data-bind="visible: student.noResults">
					<p><span class="mandatory">*</span><span data-bind="text: resources.get('AddStudentView_MandatoryFields_Label')"></span></p>
					<fieldset>
						<legend data-bind="text: resources.get('AddStudentView_StudentDetails_Legend')"></legend>
						<fieldset>
							<legend data-bind="text: resources.get('AddStudentView_NameDetails_Legend')"></legend>
							<div class="row">
								<label for="txtFamilyName"><span data-bind="text: resources.get('AddStudentView_FamilyName_Label'), css: notValidCss([student.FamilyName])"></span><span class="mandatory">*</span></label>
							    <input id="txtFamilyName" maxlength="100" type="text" data-bind=" value: student.FamilyName, valueUpdate: 'change',placeholder: resources.get('AddStudentView_AddStudentViewFamilyNameDefaultValue')" aria-required="true">
								<span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewFamilyNameHelp'), labelledBy: 'txtFamilyName' }"></span>
							</div>
							<div class="row">
								<label for="txtGivenName1"><span data-bind="text: resources.get('AddStudentView_GivenName(s)_Label'), css: notValidCss([student.GivenName1, student.GivenName2, student.GivenName3])"></span><span class="mandatory">*</span></label>
							    <input id="txtGivenName1" maxlength="100" type="text" data-bind="value: student.GivenName1, valueUpdate: 'change', placeholder: resources.get('AddStudentView_AddStudentViewGivenName1DefaultValue') " aria-required="true">
							    <span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewGivenName1Help'), labelledBy: 'txtGivenName1' }"></span>
							</div>
							<div class="row">
								<label for="txtGivenName2" class="invisible" aria-hidden="true"><span data-bind="text: resources.get('AddStudentView_GivenName2_Label')"></span></label>
							    <input id="txtGivenName2" maxlength="100" type="text" data-bind="valueUpdate: 'change', value: student.GivenName2, placeholder: resources.get('AddStudentView_AddStudentViewGivenName2DefaultValue')">
							</div>
							<div class="row">
								<label for="txtGivenName3" class="invisible" aria-hidden="true"><span data-bind="text: resources.get('AddStudentView_GivenName3_Label')"></span></label>
							    <input id="txtGivenName3" maxlength="100" type="text" data-bind="valueUpdate: 'change', value: student.GivenName3,placeholder: resources.get('AddStudentView_AddStudentViewGivenName3DefaultValue')">
							</div>
							<div class="row radio">
								<input id="radNoPrefName" type="radio" name="radPrefName" value="No" data-bind="radioChecked: hasNoPreferredName">
								<label for="radNoPrefName" data-bind="text: resources.get('AddStudentView_NoPreferredName_Label')"></label>
							</div>
							<div class="row radio">
								<input id="radPreferredName" type="radio" name="radPrefName" value="Yes" data-bind="radioChecked: student.preferredName">
								<label for="radPreferredName" data-bind="text: resources.get('AddStudentView_SetAsPreferredName_Label')"></label>
							</div>
						</fieldset>
						<fieldset>
							<legend data-bind="text: resources.get('AddStudentView_DOBDetails_Legend')"></legend>
							<div class="row">
								<label for="txtDOB"><span data-bind="text: resources.get('AddStudentView_BirthDate_Label'), css: notValidCss([student.dob])"></span><span class="mandatory">*</span></label>
								<input id="txtDOB" class="small" type="text"
								       data-bind="valueAsDOBDatePicker: student.dob, placeholder: resources.get('StudentSearchView_StudentSearchViewBirthDateDefaultValue'), disable: student.isDobUnknown, hasfocus: student.dob.focused" />
							    
                                     <span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewBirthDateHelp'), labelledBy: 'txtDOB', hasDatepicker: true }"></span>
							 
							</div>
							<div class="row">
								
							    <input type="checkbox" data-bind="checked: student.isDobUnknown, click: confirmDOB" id="checkbox_unknown">
							    <label for="checkbox_unknown"></label>
                                <span data-bind="text: resources.get('AddStudentView_Unknown_Label'), css: notValidCss([student.isDobUnknown]), attr: { 'class': 'strong' }"></span>
							    <span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewUnknownHelp'), labelledBy: 'txtFamilyName' }"></span>
                           
							</div>
							<div class="row">
								<label for="selNameBirthVer" data-bind="text: resources.get('AddStudentView_NameAndBirthDateVerification_Label'), css: notValidCss([student.nameDobVerification])"></label>
							    <select id="selNameBirthVer"
							            data-bind="value: student.nameDobVerification, valueUpdate: 'input',
													options: referenceData.nameDobVerification,
													optionsText: 'Value',
													optionsValue: 'Key'">
							    </select>
                                <span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewNameBirthDateVerificationHelp'), labelledBy: 'selNameBirthVer' }"></span>
							 
							</div>
						</fieldset>
						<hr>
						<fieldset>
							<legend data-bind="text: resources.get('AddStudentView_ResidentDetails_Legend')"></legend>
							<div class="row">
								<label for="selResStatus" data-bind="text: resources.get('AddStudentView_ResidentialStatus_Label'), css: notValidCss([student.residentialStatus])"></label>
							    <select id="selResStatus"
							            data-bind="valueUpdate: 'input', value: student.residentialStatus,
													options: referenceData.residentialStatus,
													optionsText: 'Value',
													optionsValue: 'Key'">
							    </select>
                                <span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewResidentialStatusHelp'), labelledBy: 'selResStatus' }"></span>
				
							</div>
							<div class="row">
								<label for="selResStatusVer" data-bind="text: resources.get('AddStudentView_ResidentialStatusVerification_Label'), css: notValidCss([student.residentialStatusVerificationMethod])"></label>
							    <select id="selResStatusVer"
							            data-bind="valueUpdate: 'input', value: student.residentialStatusVerificationMethod,
													options: referenceData.residentialStatusVerification,
													optionsText: 'Value',
													optionsValue: 'Key'">
							    </select>
                                <span data-bind="helpIconWidget: { helpText: resources.get('AddStudentView_AddStudentViewResidentialStatusVerificationHelp'), labelledBy: 'selResStatusVer' }"></span>
								
							</div>
						</fieldset>
						<hr>
						<div class="row">
							<label for="selGender" data-bind="text: resources.get('AddStudentView_Gender_Label'), css: notValidCss([student.gender])"></label>
							<select id="selGender" class="small"
								data-bind="valueUpdate: 'input', value: student.gender,
											options: referenceData.gender,
											optionsText: 'Value',
											optionsValue: 'Key'">
							</select>
						</div>
					</fieldset>
				</div>
				
				<!-- MODE: View possible matches - Show student as read only -->

				<div class="form container" data-bind="visible: student.ViewResults">
					<fieldset>
						<legend data-bind="text: resources.get('AddStudentView_StudentDetails_Legend')"></legend>
						<fieldset>
							<legend data-bind="text: resources.get('AddStudentView_NameDetails_Legend')"></legend>
							<div class="row">
								<span id="txtFamilyName2" class="fauxLabel" data-bind="text: resources.get('AddStudentView_FamilyName_Label')"></span>
								<span aria-labelledby="txtFamilyName2" data-bind="text: student.FamilyName"></span>
							</div>
							<div class="row">
								<span id="txtGivenNames" class="fauxLabel" data-bind="text: resources.get('AddStudentView_GivenName(s)_Label')"></span>
								<span aria-labelledby="txtGivenNames" data-bind="text: student.GivenNames"></span>
							</div>

							<div class="row">
								<span id="txtPreferredName" class="fauxLabel" data-bind="text: resources.get('AddStudentView_SetAsPreferredName_Label')"></span>
								<span aria-labelledby="txtPreferredName" data-bind="text: student.preferredNameDisplay"></span>
							</div>

							<div class="row">
								<span id="Span1" class="fauxLabel" data-bind="text: resources.get('AddStudentView_BirthDate_Label')"></span>
								<span aria-labelledby="txtDOB" data-bind="text: student.dobDisplay"></span>
							</div>

							<div class="row">
								<span id="txtDOBVer" class="fauxLabel" data-bind="text: resources.get('AddStudentView_NameAndBirthDateVerification_Label')"></span>
								<span aria-labelledby="txtDOBVer" data-bind="text: student.nameDobVerification.val" />
							</div>
						</fieldset>
						<hr>
						<fieldset>
							<legend data-bind="text: resources.get('AddStudentView_ResidentDetails_Legend')"></legend>
							<div class="row">
								<span id="txtResStatus" class="fauxLabel" data-bind="text: resources.get('AddStudentView_ResidentialStatus_Label')"></span>
								<span aria-labelledby="txtResStatus" data-bind="text: student.residentialStatus.val" />
							</div>
							<div class="row">
								<span id="residentialStatusVerification" class="fauxLabel" data-bind="text: resources.get('AddStudentView_ResidentialStatusVerification_Label')"></span>
								<span aria-labelledby="residentialStatusVerification" data-bind="text: student.residentialStatusVerificationMethod.val" />
							</div>
						</fieldset>
						<hr>
						<div class="row">
							<span id="gender" class="fauxLabel" data-bind="text: resources.get('AddStudentView_Gender_Label')"></span>
							<span aria-labelledby="gender" data-bind="text: student.gender.val" />
						</div>
					</fieldset>
				</div>

			</div>


			<div data-bind="visible: student.noResults">
				<!-- ko editNewAltNamesWidget: editNewAltNamesWidgetConfig -->
				<!-- /ko -->
			</div>
			
			<!-- MODE: View possible matches results -->

			<div data-bind=" visible: student.ViewResults">
				<h2 data-bind="text: resources.get('AddStudentView_Alternative_names')"></h2>
				<table id="tbl_AddStudentAltName" data-bind="dataTable: addStudentAltNamesTableConfig, visible: hasAltNames">
					<thead>
						<tr>
							<th class="width150"><span data-bind="text: resources.get('AddStudentView_FamilyName_Label')"></span></th>
							<th class="width150"><span data-bind="text: resources.get('AddStudentView_GivenName(s)_Label')"></span></th>
							<th class="width150"><span data-bind="text: resources.get('AddStudentView_Verification_Label')"></span></th>
							<th class="width100"><span data-bind="text: resources.get('AddStudentView_SetAsPreferredName_Label')"></span></th>
						</tr>
					</thead>

					<!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
							See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
							-->
				</table>
			</div>
			<hr>

			<!-- ko compose: 'viewModels/students/_addStudentSearchResultsGrid' -->
			<!-- /ko -->

		
			<!-- END Form Container -->
		</form>
			<div class="clear container">
				<input id="btnSave" type="submit" class="pie" 
				       data-bind="click: onSave,
									value: resources.get('AddStudentView_Save_Button'),
									visible: saveBtnVisible,
									disable: saveBtnDisabled,
									isPending: isRunningSave" />
				<input id="btnConfirm" type="button" class="pie" 
				       data-bind="click: attemptAdd,
									value: resources.get('AddStudentView_Confirm_Button'),
									visible: confirmBtnVisible,
									isPending: isRunningConfirm" />
				<input id="btnCancel" type="button" class="pie cancel" 
				       data-bind="click: onCancel,
									value: resources.get('AddStudentView_Cancel_Button')" />
			</div>
	</div>
</div>

<!-- END Primary Content Area -->
