<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">
    <h1  data-bind="text: resources.get('CHCHView_CHCH_Title')"></h1>
    <div class="slide-overlay" data-bind="slideVisible: displayErrors().length > 0, slideDuration: 300">
		<div class="message error" aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> Error:</p>
			<ul data-bind="foreach: displayErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	    </div>
    <!-- START Form Container -->
    <div class="floatLeft">
                
        <p class="message info">
        <span class="icon info">Information Message.</span>
        <span data-bind="text: currentParameters.get('Challenge_Change_Text')"></span></p>
        <div class="form container">
            <p><span class="mandatory">*</span><span data-bind="text: resources.get('CHCHView_CHCH_MandatoryFields_Label')"></span></p>
            <fieldset>
                <legend data-bind="text: resources.get('CHCHView_CHCH_Legend')"></legend>
                <div class="row">
                    <span id="NSN-Number" class="fauxLabel" data-bind="text: resources.get('CHCHView_CHCH_NSN')"/>
                    <span aria-labelledby="NSN-Number" data-bind="text: nsn"/>
                </div>
                <div class="row">
                    <label for="cboChallengeType"><span data-bind="text: resources.get('CHCHView_CHCH_ChallengeType')"/><span class="mandatory">*</span></label>
                    <select id="cboChallengeType" data-bind="value: challengeType, options: challengeTypeOptions, optionsText: 'Value', optionsValue: 'Key'"></select>
                </div>
                <div class="row">
                    <label for="txtaChangeDetails"> <span data-bind="text: resources.get('CHCHView_CHCH_ReasonForChallenge')"/><span class="mandatory">*</span></label>
                    <textarea id="txtaChangeDetails" rows="10" cols="32"  data-bind="value: reasonInput, valueUpdate: 'input'" maxlength="1000"></textarea>
                   
                    <span data-bind="helpIconWidget: { helpText: resources.get('CHCHView_CHCHViewReasonForChallengeHelp'), labelledBy: 'txtaChangeDetails' }"></span>
                </div>
                <div class="row">
                    <label for="emlEmail"><span data-bind="text: resources.get('CHCHView_CHCH_YourEmailAddress')"/><span class="mandatory">*</span></label>
                    <input id="emlEmail"  data-bind="value: emailAddressInput, valueUpdate: 'input'" maxlength="200"/>
                    
                    <span data-bind="helpIconWidget: { helpText: resources.get('CHCHView_CHCHViewYourEmailAddressHelp'), labelledBy: 'emlEmail' }"></span>
                    
                    
                </div>
            </fieldset>
        </div>
        <div class="clear container">
	        <input id="btnSave" type="button" class="pie" 
	               data-bind="value: resources.get('CHCHView_CHCH_Submit'),
								click: saveChallengeChangeRequest,
								isPending: isSubmitting"/>
            <input id="btnCancel" type="button" class="pie cancel" data-bind="value: resources.get('CHCHView_CHCH_Cancel'), click: revertBackToStudentView"/>
        </div>
        </div>  
    </div>
    <!-- END Form Container -->

<!-- END Primary Content Area -->
