﻿<div data-bind="validationSummaryWidget: { validationErrors: allErrors }"></div>

<div data-bind="breadcrumbWidget: {}"></div>
<h1 data-bind="text: resources.get('ModifyStudentView_ModifyStudent_Title')"></h1>
<div class="key">
	<div class="title" role="heading" data-bind="text: resources.get('AddStudentView_Key_Heading')"></div>
	<ul>
		<li><span class="icon add">icon: add</span><span data-bind="text: resources.get('AddStudentView_Add_Icon')"></span></li>
		<li><span class="icon delete">icon: delete</span><span data-bind="text: resources.get('ModifyStudentView_Delete_Icon')"></span></li>
	</ul>
</div>
<p class="message info" data-bind="visible: topInfoMessages">
	<span class="icon info">Information Message.</span>
	<span data-bind="text: topInfoMessages"></span>
</p>

<div>
	<input id="btnHistory" type="button" class="pie"
	       data-bind="value: resources.get('ModifyStudentView_History_Button'),
						click: navToStudentHistory" />
		<input id="btnChallenge" type="button" class="pie"
		             data-bind="enable: currentStudent.isMaster,
								visible: shouldShowChallenge,
								value: resources.get('ModifyStudentView_Challenge_Button'),
								click: navToChallengeChange" />
</div>



<div class="floatLeft">

	<div class="form container">
		<div class="row">
			<h2 data-bind="text: currentStudent.GivenName1() + ' ' + currentStudent.FamilyName()"></h2>
		</div>
		<hr />
		<p><span class="mandatory">*</span><span data-bind="text: resources.get('ModifyStudentView_MandatoryFields_Label')"></span></p>
		<fieldset>
			<legend data-bind="text: resources.get('ModifyStudentView_StudentDetails_Legend')"></legend>
			<div class="row">
				<span id="numNSN" class="fauxLabel" data-bind="text: resources.get('ModifyStudentView_NSN_Label')"></span>
				<span aria-labelledby="numNSN" data-bind="text: currentStudent.NSN"></span>
			</div>
			<hr />
			<fieldset>
				<legend id="nameDetails" data-bind="text: resources.get('ModifyStudentView_NameDetails_Legend')"></legend>
				<div class="row">
					<label for="txtFamilyName"><span data-bind="text: resources.get('ModifyStudentView_FamilyName_Label')"></span><span class="mandatory">*</span></label>
				    <input id="txtFamilyName" type="text" aria-required="true" maxlength="100"
				           data-bind="value: currentStudent.FamilyName,
										enable: checks.canModifyName,
										valueUpdate: 'change',
										placeholder: resources.get('ModifyStudentView_ModifyStudentViewFamilyNameDefaultValue')" />
                    <span data-bind="helpIconWidget: { helpText: resources.get('ModifyStudentView_ModifyStudentViewFamilyNameHelp'), labelledBy: 'txtFamilyName' }"></span>

				</div>
				<div class="row">
					<label for="txtGivenName1"><span data-bind="text: resources.get('ModifyStudentView_GivenName(s)_Label')"></span><span class="mandatory">*</span></label>
				    <input id="txtGivenName1" type="text" aria-required="true" maxlength="100"
				           data-bind="value: currentStudent.GivenName1,
										enable: checks.canModifyName,
										valueUpdate: 'change',
										placeholder: resources.get('ModifyStudentView_ModifyStudentViewGivenName1DefaultValue')" />
                    <span data-bind="helpIconWidget: { helpText: resources.get('ModifyStudentView_ModifyStudentViewGivenName1Help'), labelledBy: 'txtGivenName1' }"></span>

				</div>
				<div class="row">
					<label for="txtGivenName2" class="invisible" aria-hidden="true" data-bind="text: resources.get('ModifyStudentView_GivenName2_Label')"></label>
					<input id="txtGivenName2" type="text" maxlength="100"
					       data-bind="value: currentStudent.GivenName2,
									enable: checks.canModifyName,
									valueUpdate: 'change',
									placeholder: resources.get('ModifyStudentView_ModifyStudentViewGivenName2DefaultValue')" />
				</div>
				<div class="row">
					<label for="txtGivenName3" class="invisible" aria-hidden="true" data-bind="text: resources.get('ModifyStudentView_GivenName3_Label')"></label>
					<input id="txtGivenName3" type="text" maxlength="100"
					       data-bind="value: currentStudent.GivenName3,
									enable: checks.canModifyName,
									valueUpdate: 'change',
									placeholder: resources.get('ModifyStudentView_ModifyStudentViewGivenName3DefaultValue')" />
				</div>
				<div class="row radio">
					<input id="radNoPreferredName" type="radio" name="radPrefName" data-bind="radioChecked: hasNoPreferredName" />
					<label for="radNoPreferredName" class="hideText" data-bind="text: 'No preferred name'"></label>
				</div>
				<div class="row radio">
					<input id="radPreferredName" type="radio" name="radPrefName" data-bind="radioChecked: currentStudent.PreferredNameIndicator" />
					<label for="radPreferredName" class="hideText" data-bind="text: resources.get('ModifyStudentView_SetAsPreferredName_Label')"></label>					
				</div>
			</fieldset>


			<fieldset>
				<legend data-bind="text: resources.get('ModifyStudentView_DOBDetails_Legend')"></legend>

				<div class="row" data-bind="visible: !checks.canModifyBirthDate()">
					<span class="fauxLabel"><span data-bind="text: resources.get('ModifyStudentView_BirthDate_Label')"></span><span class="mandatory">*</span></span>
				    <span data-bind="text: currentStudent.BirthDate"></span>
                    <span data-bind="helpIconWidget: { helpText: resources.get('ModifyStudentView_ModifyStudentViewBirthDateHelp'), labelledBy: 'txtDOB' }"></span>

				</div>

				<div class="row" data-bind="visible: checks.canModifyBirthDate">
					<label for="txtDOB"><span data-bind="text: resources.get('ModifyStudentView_BirthDate_Label')"></span><span class="mandatory">*</span></label>
					<input id="txtDOB" type="text" aria-required="true" class="small"
						data-bind="valueAsDOBDatePicker: currentStudent.BirthDate,
									disable: isBirthDateUnknown,
									placeholder: resources.get('ModifyStudentView_ModifyStudentViewBirthDateDefaultValue'), hasfocus: currentStudent.BirthDate.focused" />
					<span data-bind="helpIconWidget: {
	helpText: resources.get('ModifyStudentView_ModifyStudentViewBirthDateHelp'),
										labelledBy: 'txtDOB',
	hasDatepicker: true
}"></span>
				</div>

				<div class="row check" data-bind="visible: checks.canModifyBirthDate">
					<input id="noBirthDate" type="checkbox" data-bind="checked: isBirthDateUnknown" />
				    <label for="noBirthDate" class="hideText" data-bind="text: 'Unknown'"></label>
					<span data-bind="helpIconWidget: {
	helpText: resources.get('AddStudentView_AddStudentViewUnknownHelp'),
	labelledBy: 'noBirthDate'
}"></span>

				</div>
				<div class="row">
					<label for="selNameBirthVer" data-bind="text: resources.get('ModifyStudentView_NameAndBirthDateVerification_Label')"></label>
				    <select id="selNameBirthVer"
				            data-bind="value: currentStudent.NameBirthDateVerificationMethodFK,
										enable: checks.canModifyNameDobVerification,
										options: referenceData.nameDobVerification,
										optionsText: 'Value',
										optionsValue: 'Key'">
				    </select>
                    <span data-bind="helpIconWidget: { helpText: resources.get('ModifyStudentView_ModifyStudentViewNameBirthDateVerificationHelp'), labelledBy: 'selNameBirthVer' }"></span>
	
				</div>
				<div class="row" data-bind="visible: checks.isNameDobProviderSectionVisible">
					<label for="selVerBy" data-bind="text: resources.get('ModifyStudentView_VerifiedBy_Label'), visible: checks.canModifyVerified"></label>
					<select id="selVerBy" 
					        data-bind="visible: checks.canModifyVerified,
									value: currentStudent.NameBirthDateVerifiedByProviderFK,
									options: referenceData.studentProviderRelationships,
									optionsText: 'ProviderName',
									optionsValue: 'ProviderId'">
					</select>
					<label for="text-selVerBy" data-bind="text: resources.get('ModifyStudentView_VerifiedBy_Label'), visible: !checks.canModifyVerified"></label>
					<input id="text-selVerBy" readonly="readonly" type="text" data-bind="value: currentStudent.NameBirthDateVerificationProviderName, visible: !checks.canModifyVerified" />
				</div>
				<div class="row" data-bind="visible: checks.isNameDobProviderSectionVisible">
					<label for="selVerDate" data-bind="text: resources.get('ModifyStudentView_VerificationDate_Label'), visible: checks.canModifyVerified"></label>
					<span data-bind="visible: checks.canModifyVerified">
						<input id="selVerDate" type="text" aria-required="true" class="small" placeholder="dd/mm/yyyy"
						       data-bind="valueAsDatePicker: currentStudent.NameBirthDateVerificationDateTime" />
					</span>
					<label for="inputVerDate" data-bind="text: resources.get('ModifyStudentView_VerificationDate_Label'), visible: !checks.canModifyVerified"></label>
					<input id="inputVerDate" type="text" readonly="readonly" data-bind="value: currentStudent.NameBirthDateVerificationDateTime,
	visible: !checks.canModifyVerified" />
				</div>
				<div class="row check" data-bind="visible: checks.isNameDobProviderSectionVisible() && checks.canModifyNameDobVerficationConfirmedByMoe">
					<input id="chkNameDOBForce" type="checkbox" data-bind="checked: isNameDobVerificationMoeConfirmed" />
					<label for="chkNameDOBForce" data-bind="text: resources.get('ModifyStudentView_VerificationConfirmedByMoE_Label')"></label>
				</div>
				<div class="row" data-bind="visible: checks.isNameDobProviderSectionVisible() && checks.canDisplayReadonlyNameDobVerficationConfirmedByMoe">
					<span id="txtVerifiedByMOE" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_NameDobConfirmedByMOE')" />
					<span aria-labelledby="txtVerifiedByMOE" data-bind="text: currentStudent.NameDobConfirmedByMOE" />
				</div>
			</fieldset>


			<hr />
			<fieldset>
				<legend data-bind="text: resources.get('ModifyStudentView_ResidentDetails_Legend')"></legend>
				<div class="row">
					<label for="selResStatus" data-bind="text: resources.get('ModifyStudentView_ResidentialStatus_Label')"></label>
				    <select id="selResStatus" data-bind="value: currentStudent.ResidentialStatusFK,
															enable: checks.canModifyResidentialStatus,
															options: referenceData.residentialStatus,
															optionsText: 'Value',
															optionsValue: 'Key'">
				    </select>
					<span data-bind="helpIconWidget: {
	helpText: resources.get('ModifyStudentView_ModifyStudentViewResidentialStatusHelp'),
	labelledBy: 'selResStatus'
}"></span>

				</div>
				<div class="row">
					<label for="selResStatusVer" data-bind="text: resources.get('ModifyStudentView_ResidentialStatusVerification_Label')"></label>
				    <select id="selResStatusVer" data-bind="value: currentStudent.ResidentialStatusVerificationMethodFK,
															enable: checks.canModifyResidentialStatusVerification,
															options: referenceData.residentialStatusVerification,
															optionsText: 'Value',
															optionsValue: 'Key'">
				    </select>
                    
<span data-bind="helpIconWidget: { helpText: resources.get('ModifyStudentView_ModifyStudentViewResidentialStatusVerificationHelp'), labelledBy: 'selResStatusVer' }"></span>
	
				</div>
				<div class="row" data-bind="visible: checks.isResidentialStatusVerificationProviderSectionVisible">
					<label for="selResStatusProvVer" data-bind="text: resources.get('ModifyStudentView_VerifiedBy_Label'), visible: checks.canModifyVerified"></label>
					<select id="selResStatusProvVer" 
						data-bind="visible: checks.canModifyVerified,
									value: currentStudent.ResidentialStatusVerifiedByProviderFK,
									options: referenceData.studentProviderRelationships,
									optionsText: 'ProviderName',
									optionsValue: 'ProviderId'">
					</select>

					<label for="text-selResStatusProvVer" data-bind="text: resources.get('ModifyStudentView_VerifiedBy_Label'), visible: !checks.canModifyVerified"></label>
					<input id="text-selResStatusProvVer" readonly="readonly" type="text" data-bind="value: currentStudent.ResidentialStatusVerificationProviderName,
	visible: !checks.canModifyVerified" />
					
				</div>
				<div class="row" data-bind="visible: checks.isResidentialStatusVerificationProviderSectionVisible">
					<label for="selResVerDate" data-bind="text: resources.get('ModifyStudentView_VerificationDate_Label'), visible: checks.canModifyVerified"></label>
					<span data-bind="visible: checks.canModifyVerified">
						<input id="selResVerDate" type="text" aria-required="true" class="small" placeholder="dd/mm/yyyy"
							data-bind="valueAsDatePicker: currentStudent.ResidentialStatusVerificationDateTime" />
					</span>

						<label for="text-selResVerDate" data-bind="text: resources.get('ModifyStudentView_VerificationDate_Label'), visible: !checks.canModifyVerified"></label>
					<input id="text-selResVerDate" readonly="readonly" type="text" data-bind="value: currentStudent.ResidentialStatusVerificationDateTime,
	visible: !checks.canModifyVerified" />

				</div>
				<div class="row check" data-bind="visible: checks.isResidentialStatusVerificationProviderSectionVisible() && checks.canModifyResidentialStatusVerificationConfirmedByMoe">
					<input id="chkResidentialForce" type="checkbox" data-bind="checked: isResidentialStatusVerificationConfirmed" />
					<label for="chkResidentialForce" data-bind="text: resources.get('ModifyStudentView_VerificationConfirmedByMoE_Label')"></label>
				</div>
				<div class="row" data-bind="visible: checks.isResidentialStatusVerificationProviderSectionVisible() && checks.canDisplayReadonlyResidentialStatusVerficationConfirmedByMoe">
					<span class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_ResidentialStatusConfirmedByMOE')" />
					<span aria-labelledby="txtVerifiedByMOE" data-bind="text: currentStudent.ResidentialStatusConfirmedByMOE" />
				</div>
			</fieldset>


			<hr />
			<div class="row">
				<label for="selGender" data-bind="text: resources.get('ModifyStudentView_Gender_Label')"></label>
				<select id="selGender" class="small" data-bind="value: currentStudent.GenderFK,
																options: referenceData.gender,
																optionsText: 'Value',
																optionsValue: 'Key'">
				</select>
			</div>
			<div class="row">
				<label for="selRecordStatus" data-bind="text: resources.get('ModifyStudentView_RecordStatus_Label'), visible: checks.canModifyStudentStatus"></label>
			    <select id="selRecordStatus" name="selRecordStatus" class="small" 
					data-bind="visible: checks.canModifyStudentStatus,
								value: currentStudent.StudentStatusFK,
								options: referenceData.studentStatus,
								optionsText: 'Value',
								optionsValue: 'Key'">
				</select>
			    <label for="selRecordStatusReason" class="hidden" data-bind="text: resources.get('ModifyStudentView_RecordStatusReason_Label')"></label>    
			    <select id="selRecordStatusReason" name="selRecordStatus" class="mediumLong" 
					data-bind="visible: checks.canModifyStudentStatus,
								value: currentStudent.StudentStatusReasonFK,
								options: referenceData.studentStatusReason,
								optionsText: 'Value',
								optionsValue: 'Key'">
				</select>
				<label for="text-selRecordStatus" data-bind="text: resources.get('ModifyStudentView_RecordStatus_Label'), visible: !checks.canModifyStudentStatus"></label>
				<input id="text-selRecordStatus" readonly="readonly" type="text" data-bind="value: currentStudent.StudentStatusSummary, visible: !checks.canModifyStudentStatus" />
                 
			</div>
			<div class="row" data-bind="visible: checks.isDeathDateVisible">
				<label for="txtDeathDate" data-bind="text: resources.get('ModifyStudentView_DateOfDeath_Label')"></label>
				<input id="txtDeathDate" type="text" class="small" placeholder="dd/mm/yyyy" data-bind="valueAsDatePicker: currentStudent.DateOfDeath" />
			</div>
		</fieldset>
	</div>
	<p>
		<span data-bind="text: resources.get('ModifyStudentView_RecordCreatedBy_Label')"></span>
		<strong data-bind="text: currentStudent.CreatedByProviderName"></strong><span data-bind="	text: resources.get('ModifyStudentView_On_Label')"></span>
		<strong data-bind="text: currentStudent.CreatedOn"></strong>
	</p>
</div>


<!-- START Grouping Container -->
<div class="inline min-width600">
	<h2 data-bind="text: resources.get('ModifyStudentView_AlternativeName(s)_Heading')"></h2>
	
	<table data-bind="dataTable: altNamesTableConfig">
		<thead>
			<tr>
				<th class="small" data-bind="visible: $root.checks.canDeleteAltName"></th>
				<th>Family name</th>
				<th>Given name(s)</th>
				<th>Verification</th>
				<th class="small allowWrap center width100">Set as preferred name</th>
				<th>Created by</th>
			</tr>
		</thead>
	</table>
</div>
<div class="min-width600">
	<!-- ko editNewAltNamesWidget: editNewAltNamesWidgetConfig -->
	<!-- /ko -->

	<h2 data-bind="visible: isChallengeChangeVisible(),
					text: resources.get('ModifyStudentView_ChallengeChange_Heading')"></h2>
	<table data-bind="dataTable: challengeChangeTableConfig,
						visible: isChallengeChangeVisible()">
		<thead>
			<tr>
				<th>Status</th>
                <th>Challenge type</th>
				<th>Date</th>
				<th>Raised by</th>
			</tr>
		</thead>

	</table>

</div>
<!-- END Grouping Container -->

<hr />
<div class="clear container">
	<input id="btnSave" type="button" class="pie" 
	       data-bind="click: onSave,
						isPending: isRunningSubmitEdit,
						value: resources.get('ModifyStudentView_Save_Button')" />
	<input id="btnCancel" type="button" class="pie cancel" data-bind="click: onCancel, value: resources.get('ModifyStudentView_Cancel_Button')" />
</div>

<!-- END Primary Content Area -->
