﻿<div data-bind="breadcrumbWidget: {}"></div>

<!-- START Primary Content Area -->
<div id="main" role="main" class="primary">

	<h1 data-bind="text: resources2.get('StudentSearchView_StudentSearch_Heading')"></h1>

	<div data-bind="validationSummaryWidget: {}"></div>

	<div class="slide-overlay" data-bind="slideVisible: ((staticErrors().length > 0 || requiredNSN() == true) && canShowErrors()), slideDuration: 300">
		<!--<div class="slide-overlay" data-bind="slideVisible: staticErrors().length > 0  && canShowErrors(), slideDuration: 300">-->
		<div class="message error"  aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> <span data-bind="text: resources2.get('StudentSearchView_StudentSearch_ErrorHeader')"></span></p>
			<ul data-bind="foreach: staticErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>


	<!-- START Search Area -->
	<div class="floatLeft" data-bind="validationOptions: { insertMessages: false, decorateElement: false }">
		<div class="toggle search">
			<a href="#" class="hider closed">
				<span class="hide" data-bind="text: resources2.get('StudentSearchView_StudentSearch_Hide')"></span>
				<span class="hide hidden" data-bind="text: resources2.get('StudentSearchView_StudentSearch_Show')"></span><span data-bind="	text: resources2.get('StudentSearchView_StudentSearch_SearchToggle')"></span>
				<span class="icon">hide/show toggle</span>
			</a>
			<div class="form container toggleMe">
				<!-- NSN Search -->
				<fieldset class="small">
					<legend data-bind="text: resources2.get('StudentSearchView_StudentNsnSearch_Fieldset')"></legend>
					<div class="row">
						<label for="numNSN" data-bind="css: notValidCss(searchCriteria.nsn, 'NSN'), text: resources2.get('StudentSearchView_StudentNsn_Label')"></label>
						<input id="numNSN" type="text" maxlength="10" data-bind="value: searchCriteria.nsn,
	valueUpdate: 'input',
	css: notValidBorderCss(searchCriteria.nsn, 'NSN'),
	placeholder: resources2.get('StudentSearchView_StudentSearchViewNsnDefaultValue')()" />

						<span data-bind="visible: notValidField(searchCriteria.nsn, 'NSN'), text: valMsg" class="error"></span>
						<span data-bind="helpIconWidget: { helpText: resources.get('StudentSearchView_StudentSearchViewNsnHelp'), labelledBy: 'numNSN' }"></span>

					</div>
					<input id="btnSearchNSN" type="button" class="pie"
						data-bind="click: onSearchByNsn,
	isPending: isRunningNsnSearch,
	value: resources2.get('StudentSearchView_StudentDetailsSearch_Button')" />
				</fieldset>

				<span data-bind="text: resources2.get('StudentSearchView_StudentOr_Heading')"></span>

				<!-- Fuzzy search -->
				<fieldset>
					<legend data-bind="text: resources2.get('StudentSearchView_StudentDetailsSearch_Fieldset')"></legend>
					<p><span class="mandatory">* </span><span data-bind="text: resources2.get('StudentSearchView_StudentSearch_Mandatory')"></span></p>
					<div class="row">
						<label for="txtName" data-bind="css: notValidCss(searchCriteria.name, 'Criteria')"><span data-bind="	text: resources2.get('StudentSearchView_StudentName_Label')"></span><span class="mandatory">*</span></label>
						<input id="txtName" type="text" aria-required="true" maxlength="403"
							data-bind="value: searchCriteria.name,
	css: notValidBorderCss(searchCriteria.name, 'Criteria'),
	placeholder: resources2.get('StudentSearchView_StudentSearchViewNameDefaultValue')" />
						<span data-bind="visible: notValidField(searchCriteria.name, 'Criteria'), text: valMsg" class="error"></span>

						<span data-bind="helpIconWidget: { helpText: resources.get('StudentSearchView_StudentSearchViewNameHelp'), labelledBy: 'txtName' }"></span>


					</div>
					<div class="row">
						<label for="txtDOB" data-bind="css: notValidCss(searchCriteria.dob, 'Criteria'), text: resources2.get('StudentSearchView_StudentBirthDate_Label')"></label>
						<input id="txtDOB" type="text" class="small"
							data-bind="valueAsDOBDatePicker: searchCriteria.dob,
	css: notValidBorderCss(searchCriteria.dob, 'Criteria'),
	placeholder: resources2.get('StudentSearchView_StudentSearchViewBirthDateDefaultValue')" />
						<span data-bind="visible: notValidField(searchCriteria.dob, 'Criteria'), text: valMsg" class="error"></span>

						<span class="tooltip-wrapper" data-bind="helpIconWidget: { helpText: resources.get('StudentSearchView_StudentSearchViewBirthDateHelp'), labelledBy: 'txtDOB', hasDatepicker: true }"></span>


					</div>
					<div class="row">
						<label for="selGender" data-bind="text: resources2.get('StudentSearchView_StudentGender_Label')"></label>
						<select id="selGender" class="small"
							data-bind="value: searchCriteria.gender,
	options: referenceData.get('Gender_wBlank'),
	optionsText: 'Value',
	optionsValue: 'Key'">
						</select>

						<span data-bind="helpIconWidget: { helpText: resources.get('StudentSearchView_StudentSearchViewGenderHelp'), labelledBy: 'selGender' }"></span>

					</div>
					<div class="row">
						<label for="selResStatus" data-bind="text: resources2.get('StudentSearchView_StudentResidentialStatus_Label')"></label>

						<select id="selResStatus" data-bind="value: searchCriteria.residentialStatus,
	options: referenceData.get('ResidentialStatus_wBlank'),
	optionsText: 'Value',
	optionsValue: 'Key'">
						</select>
						<span data-bind="helpIconWidget: { helpText: resources.get('StudentSearchView_StudentSearchViewResidentialStatusHelp'), labelledBy: 'selResStatus' }"></span>

					</div>
					<input id="btnDetailsSearch" type="button" class="pie"
						data-bind="click: onCriteriaSearch,
	isPending: isRunningDetailsSearch,
	value: resources2.get('StudentSearchView_StudentDetailsSearch_Button')" />
				</fieldset>
			</div>
		</div>
	</div>
	<!-- END Search Area -->

	<!-- ko compose: 'viewModels/students/_searchResultsGrid' -->
	<!-- /ko -->

	<!-- ko compose: 'viewModels/students/_searchRecordsToMerge' -->
	<!-- /ko -->

</div>
