<div data-bind="breadcrumbWidget: {}"></div>

<!-- Start Primary Content Area -->
<div id="main" role="main" class="primary">
	<h1 data-bind="text: resources2.get('StudentHistoryView_StudentHistory_Title')"></h1>
	<p class="message info" data-bind="visible: !(currentStudent.isMaster())">
		<span class="icon">Information Message.</span><span id="infoSlave" data-bind="text: slaveMessage()"></span><a data-bind="text: currentStudent.MasterNSN(), attr: { href: '#/students/view/' + currentStudent.MasterNSN() }"></a><span>.</span>
	</p>
	<div>
		<button id="btnRelationships" class="pie viewModal" data-modal="#relationships" aria-controls="relationships" 
		        data-bind="visible: shouldShowRelationships, click: onShowSprModal">
			<!-- ko text: resources2.get('StudentDetailsView_ViewStudent_RelationshipsButton') --><!-- /ko -->
			<span class="pie" data-bind="text: sprCount"></span>
		</button>
	</div>

	<!-- Start Form Container Area -->
	<div class="floatLeft">
		<div class="form container">
			<div class="row enLarge">
				<span id="verMod" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_CurrentVersion')()" />
				<span aria-labelledby="verModOn" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ModifiedOn')() + ' ' + currentStudent.ModifiedDateTime()" />
			</div>
			<hr />
			<div class="row">
				<span id="numNSN" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_NSN')" />
				<span aria-labelledby="numNSN" data-bind="text: currentStudent.NSN" />
			</div>
			<hr />
			<div class="row">
				<span id="txtFamilyName" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_FamilyName')" />
				<span aria-labelledby="txtFamilyName" data-bind="text: currentStudent.FamilyName" />
			</div>
			<div class="row">
				<span id="txtGivenName" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_GivenNames')" />
				<span aria-labelledby="txtGivenName" data-bind="text: currentStudent.GivenNames" />
			</div>
			<div class="row">
				<span id="txtPreferredName" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_PreferredName')" />
				<span aria-labelledby="txtPreferredName" data-bind="text: currentStudent.PreferredNameIndicatorDisplay" />
			</div>
			<div class="row">
				<span id="txtDOB" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_BirthDate')" />
				<span aria-labelledby="txtDOB" data-bind="text: currentStudent.BirthDate" />
			</div>
			<div class="row">
				<span id="txtDOBVer" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_NameandBirthDateVerification')" />
				<span aria-labelledby="txtDOBVer" data-bind="text: currentStudent.NameBirthDateVerificationSummary" />
			</div>
			<div class="row" data-bind="visible: shouldShowNameDobConfirmed">
				<span id="txtVerifiedByMOE" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_NameDobConfirmedByMOE')" />
				<span aria-labelledby="txtVerifiedByMOE" data-bind="text: currentStudent.NameDobConfirmedByMOE" />
			</div>
			<hr />
			<div class="row">
				<span id="txtResStatus" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ResidentialStatus')" />
				<span aria-labelledby="txtResStatus" data-bind="text: currentStudent.ResidentialStatus" />
			</div>
			<div class="row">
				<span id="txtResStatusVer" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ResidentalStatusVerification')" />
				<span aria-labelledby="txtResStatusVer" data-bind="text: currentStudent.ResidentialStatusVerificationSummary" />
			</div>
			<div class="row" data-bind="visible: shouldShowResidentialStatusConfirmed">
				<span id="Span1" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ResidentialStatusConfirmedByMOE')" />
				<span aria-labelledby="txtVerifiedByMOE" data-bind="text: currentStudent.ResidentialStatusConfirmedByMOE" />
			</div>
			<hr />
			<div class="row">
				<span id="txtGender" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_Gender')" />
				<span aria-labelledby="txtGender" data-bind="text: currentStudent.Gender" />
			</div>
			<div class="row">
				<span id="txtRecordStatus" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_RecordStatus')" />
				<span aria-labelledby="txtRecordStatus" data-bind="text: currentStudent.StudentStatus() + ' (' + currentStudent.StudentStatusReason() + ')'" />
			</div>
			<div class="row" data-bind="visible: isDeathDateVisible()">
				<span id="txtDateOfDeath" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_DateOfDeath')" />
				<span aria-labelledby="txtDateOfDeath" data-bind="text: currentStudent.DateOfDeath" />
			</div>
			<hr />
			<div class="row">
				<span id="txtAltNames" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_AssociatedAltNames')"></span>
				<span data-bind="visible: currentStudent.AltNames().length < 1, text: resources2.get('StudentHistoryView_StudentHistory_AssociatedAltNamesNone') "></span>
				<ul aria-labelledby="txtAltNames" data-bind="foreach: sortedAltNames">
					<li><span data-bind="text: FullName()" />
						<!-- <span data-bind="    text: $root.isVerified(NameBirthDateVerificationMethodFK())"></span></li>-->
				</ul>
			</div>
			<hr data-bind="visible: isSlaveRecordsVisible()" />
			<div class="row" data-bind="visible: isSlaveRecordsVisible()">
				<span id="txtSlaves" class="fauxLabel" data-bind="text: resources2.get('StudentHistoryView_StudentHistory_AssociatedSlaveRecords')" />
				<ul class="inline" aria-labelledby="txtSlaves" data-bind="foreach: sortedSlaveRecords">
					<li><a data-bind="text: NSN, click: $root.navigateToSlaveDetails.bind($data, NSN())" /></li>
				</ul>
			</div>


		</div>
		<p>
			<span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_RecordCreatedBy')" />
			<strong data-bind="	text: currentStudent.CreatedByProviderName" />
			<span data-bind="	text: resources2.get('StudentHistoryView_StudentHistory_RecordCreatedOn')" />
			<strong data-bind="	textAsDate: currentStudent.CreatedOn" />
		</p>
	</div>
	<!-- END Form Container Area -->

	<!-- END Primary Content Area -->

    <div class="floatLeft" data-bind="visible: studentUpdateHistory.records().length > 0">
		<h2 data-bind="text: resources2.get('StudentHistoryView_StudentHistory_RecordUpdateHistory')"></h2>
		<table id="tbl_RecordUpdateHistory" data-bind="dataTable: recordUpdateHistoryTableConfig" class="fullWidth">
			<thead>
				<tr>
					<th id="modifyDateHeader"><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ModifiedDate')()"></span></th>
					<th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ModifiedBy')()"></span></th>
					<th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_UpdateType')()"></span></th>
					<th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_FieldUpdated')()"></span></th>
					<th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_OldValue')()"></span></th>
					<th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_NewValue')()"></span></th>
				</tr>
			</thead>

			<!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
                See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
                -->
		</table>
    </div>
    
    
    <div class="floatLeft" data-bind="visible: studentUpdateHistory.records().length === 0">
        <h2 data-bind="text: resources2.get('StudentHistoryView_StudentHistory_RecordUpdateHistory')"></h2>
        <table id="Table1" class="fullWidth">
            <thead>
                <tr>
                    <th id="Th1"><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ModifiedDate')()"></span></th>
                    <th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_ModifiedBy')()"></span></th>
                    <th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_UpdateType')()"></span></th>
                    <th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_FieldUpdated')()"></span></th>
                    <th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_OldValue')()"></span></th>
                    <th><span data-bind="text: resources2.get('StudentHistoryView_StudentHistory_NewValue')()"></span></th>
                </tr>
            </thead>

            <!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
                See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
                -->
        </table>
    </div>

</div>


