<div class="simplemodal-container sprModalContainer" id="simplemodal-container">
	<a title="Close" class="modalCloseImg simplemodal-close" data-bind="click: onClose">Close</a>
	<div tabindex="-1" class="simplemodal-wrap">
		<div class="modalBox simplemodal-data" id="modal-deny" aria-labelledby="btnDeny" style="display: block;">
			<div data-bind="validationSummaryWidget: { validationErrors: allValidationErrors }"></div>

			<h3 class="pie">
				<span data-bind="text: studentName + ' - ' + studentNsn"></span>
				<br />
				<span data-bind="text: 'Student-Provider Relationships'" />
			</h3>
			<div class="inner">

				<div data-bind="visible: !isInAddMode()">
					<table id="tblStudentProviderRelationships" class="fullWidth" data-bind="dataTable: sprTableConfig">
						<thead>
							<tr>
								<th class="width200" data-bind="text: 'Provider name'"></th>
								<th class="width50" data-bind="text: 'Date created'"></th>
								<th class="" data-bind="text: 'Until date'">
									<!--<span ></span>-->
								</th>
							</tr>
						</thead>
					</table>

					<input type="button" data-bind="value: 'Edit', click: onEnableEditMode, visible: checks.isEditModeAvailable" />
					<input type="button" data-bind="value: 'Add', click: onEnableAddMode, enterKey: onEnableAddMode, visible: checks.isEditModeAvailable" />
				</div>

				<div class="pageBtns" data-bind="visible: isInEditMode">
					<input class="pie" id="btnSave" type="button" value="Save" data-bind="click: onSave">
					<input type="button" id="btnCancel" class="pie cancel simplemodal-close" value="Cancel" data-bind="click: onCancelEdit" />
				</div>

				<div data-bind="visible: isInAddMode">

					<div data-bind="foreach: sprsToAdd">
						<div class="rowLeftSided">
							<label for="txtProviderCode"><span data-bind="text: 'Provider code'"></span><span class="mandatory">*</span></label>
							<input id="txtProviderCode" type="text" aria-required="true" maxlength="10" placeholder="9999999999"
								data-bind="value: ProviderCode" />
						<span class="float-left" data-bind="helpIconWidget: { helpText: 'Enter the provider code of the provider you wish to edit or add a student provider relationship for.', labelledBy: 'txtProviderCode' }"></span>

						</div>
					</div>

					<input type="button" value="Add" class="css_right" data-bind="click: onAddProvider" />
				</div>


			</div>
		</div>
	</div>
</div>
