<div data-bind="breadcrumbWidget: {}"></div>

<!-- Start Primary Content Area -->
<div id="main" role="main" class="primary">
    <h1 data-bind="text: resources.get('StudentDetailsView_ViewStudent_Title')"></h1>
    <p class="message info" data-bind="visible: !(currentStudent.isMaster())">
	    <span class="icon">Information Message.</span><span id="infoSlave" data-bind="text: slaveMessage()"></span><a data-bind="text: currentStudent.MasterNSN(), attr: { href: '#/students/view/' + currentStudent.MasterNSN() }"></a><span>.</span>
    </p>

    <p class="message success" data-bind="visible: showSuccessMessage">
        <span class="icon">Success Message.</span><span data-bind="text: successMessage"></span>
    </p>
    <br />

    <div>
	    <input id="btnChallenge" type="button" class="pie" 
			data-bind="value: resources.get('StudentDetailsView_ViewStudent_ChallengeButton'),
						visible: shouldShowChallenge,
						enable: currentStudent.isMaster,
						click: navToChallengeChange" />
	  <input id="btnHistory" type="button" class="pie" 
			data-bind="value: resources.get('StudentDetailsView_ViewStudent_HistoryButton'),
						visible: shouldShowHistory,
						click: navToStudentHistory" />
	    <button id="btnRelationships" type="button" class="pie viewModal" data-modal="#relationships" aria-controls="relationships" 
	            data-bind="
									visible: shouldShowRelationships,
									click: onShowStudentProviderRelationships
	">
		    <!-- ko text: resources.get('StudentDetailsView_ViewStudent_RelationshipsButton') --><!-- /ko -->
		    <span class="pie" data-bind="text: sprCount"></span>

	    </button>
	    <input id="btnModify" type="button" class="pie" 
			data-bind="value: resources.get('StudentDetailsView_ViewStudent_ModifyButton'),
						visible: shouldShowModify,
						enable: shouldEnableModify,
						click: navToModifyStudent" />
	    <input id="btnUnmerge" type="button" class="pie" 
			data-bind="value: resources.get('StudentDetailsView_ViewStudent_UnmergeButton'),
						visible: shouldShowUnmerge,
						click: showUnmergeModal" />
    </div>

    <!-- Start Form Container Area -->
    <div class="floatLeft">
        <div class="form container">
            <div class="row">
                <h2 data-bind="text: currentStudent.GivenName1() + ' ' + currentStudent.FamilyName()" />
            </div>
            <hr />
            <div class="row">
                <span id="numNSN" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_NSN')" />
                <span aria-labelledby="numNSN" data-bind="text: currentStudent.NSN" />
            </div>
            <hr />
            <div class="row">
                <span id="txtFamilyName" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_FamilyName')" />
                <span aria-labelledby="txtFamilyName" data-bind="text: currentStudent.FamilyName" />
            </div>
            <div class="row">
                <span id="txtGivenName" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_GivenNames')" />
                <span aria-labelledby="txtGivenName" data-bind="text: currentStudent.GivenNames " />
            </div>
            <div class="row">
                <span id="txtPreferredName" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_PreferredName')" />
                <span aria-labelledby="txtPreferredName" data-bind="text: currentStudent.PreferredNameIndicatorDisplay" />
            </div>
            <div class="row">
                <span id="txtDOB" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_BirthDate')"></span>
                <span aria-labelledby="txtDOB" data-bind="text: currentStudent.BirthDate" />
            </div>
            <div class="row">
                <span id="txtDOBVer" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_NameandBirthDateVerification')" />
                <span aria-labelledby="txtDOBVer" data-bind="text: currentStudent.NameBirthDateVerificationSummary" />
            </div>
            <div class="row" data-bind="visible: shouldShowNameDobConfirmed">
                <span id="txtVerifiedByMOE" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_NameDobConfirmedByMOE')" />
                <span aria-labelledby="txtVerifiedByMOE" data-bind="text: currentStudent.NameDobConfirmedByMOE" />
            </div>
            <hr />
            <div class="row">
                <span id="txtResStatus" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_ResidentialStatus')" />
                <span aria-labelledby="txtResStatus" data-bind="text: currentStudent.ResidentialStatus" />
            </div>
            <div class="row">
                <span id="txtResStatusVer" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_ResidentalStatusVerification')" />
                <span aria-labelledby="txtResStatusVer" data-bind="text: currentStudent.ResidentialStatusVerificationSummary" />
            </div>
            <div class="row" data-bind="visible: shouldShowResidentialStatusConfirmed">
                <span id="residentialStatusVerifiedByMOE" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_ResidentialStatusConfirmedByMOE')" />
                <span aria-labelledby="residentialStatusVerifiedByMOE" data-bind="text: currentStudent.ResidentialStatusConfirmedByMOE" />
            </div>
            <hr />
            <div class="row">
                <span id="txtGender" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_Gender')" />
                <span aria-labelledby="txtGender" data-bind="text: currentStudent.Gender" />
            </div>
            <div class="row">
                <span id="txtRecordStatus" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_RecordStatus')" />
                <span aria-labelledby="txtRecordStatus" data-bind="text: currentStudent.StudentStatus() + ' (' + currentStudent.StudentStatusReason() + ')'" />
            </div>
            <div class="row" data-bind="visible: isDeathDateVisible()">
                <span id="txtDateOfDeath" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_DateOfDeath')" />
                <span aria-labelledby="txtDateOfDeath" data-bind="text: currentStudent.DateOfDeath" />
            </div>
            <hr data-bind="visible: isSlaveRecordsVisible()" />
            <div class="row" data-bind="visible: isSlaveRecordsVisible()">
                <span id="txtSlaves" class="fauxLabel" data-bind="text: resources.get('StudentDetailsView_ViewStudent_AssociatedSlaveRecords')" />
                <ul class="inline" aria-labelledby="txtSlaves" data-bind="foreach: sortedSlaveRecords">
                    <li><a data-bind="text: NSN, click: $root.navigateToSlaveDetails.bind($data, NSN())" /></li>
                </ul>
            </div>
        </div>
        <!--<span data-bind="text: currentStudent.StudentStatusFK"></span>-->
	    <p>
		    <span data-bind="text: resources.get('StudentDetailsView_ViewStudent_RecordCreatedBy')" />
		    <strong data-bind="text: currentStudent.CreatedByProviderName" />
		    <span data-bind="text: resources.get('StudentDetailsView_ViewStudent_RecordCreatedOn')" />
			<strong data-bind="textAsDate: currentStudent.CreatedOn" />
	    </p>
    </div>

    <!-- END Form Container Area -->

    <!-- START Grouping Container -->
    <div class="floatLeft">
        <h2 data-bind="text: resources.get('StudentDetailsView_ViewStudent_AltNamesTitle')"></h2>


        <table id="tbl_AltName" data-bind="dataTable: altNamesTableConfig" class="fullWidth">
            <thead>
                <tr>
                    <th></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_FamilyName')"></span></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_GivenNames')"></span></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_AltNamesVerification')"></span></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_PreferredName')"></span></th>
                </tr>
            </thead>

            <!-- TEMP WORKAROUND: Template is defined in shell.js - Durandal gets stroppy with templates - Looking into it - GB 
		        See: http://stackoverflow.com/questions/15689069/ko-cannot-find-template-with-id 
				-->

        </table>

        <h2 data-bind="text: resources.get('StudentDetailsView_ViewStudent_ChallengeChangeTitle'), visible: isChallengeChangeVisible()"></h2>


        <table id="tbl_Challenges" data-bind="dataTable: challengesTableConfig, visible: isChallengeChangeVisible()" class="fullWidth" >
            <thead>
                <tr>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_ChallengeChangeStatus')"></span></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_ChallengeChangeType')"></span></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_ChallengeChangeDateRaised')"></span></th>
                    <th><span data-bind="text: resources.get('StudentDetailsView_ViewStudent_ChallengeChangeRaisedBy')"></span></th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- END Grouping Container -->

</div>
<!-- END Primary Content Area -->
