﻿<div role="tooltip"  aria-haspopup="true" data-bind="css: tooltipCss, attr: { 'aria-labelledby': labelledBy }">
 
    <p role="heading" >Input Help Information</p>
       <div class="helptext">
        <span class="angle" role="presentation"></span>
        <div class="tip pie">
            <p data-bind="text: helpText, visible: helpText"></p>
            <p data-bind="html: styledHelpText, visible: styledHelpText"></p>
        </div>
    </div>
</div>