// Sprite mixin
// -------------------------------------------------------------

// Sprite defaults
// -------------------------------------------------------------

$sprite-selector: '*.png'; // Spriting is only supported for .png (based on chunky png gem)
$sprite-spacing: 100;
$sprite-1x-folder: 'sprite';
$sprite-prefix: 'sprite';
$sprite-path: ''; // Don't use / as this is the root

// List of all sprite spacings
$sprite-spacing-store: ();
// The make-sprite mixin will add items to this list
// To see the content on the list, add this line of SCSS to any element and compile:
// &:after{ content: "#{ $sprite-spacing-store }"; white-space: nowrap; }
// You can then see the list content on a page with the element


// Helper Functions
// -------------------------------------------------------------

@function return-sprite-map( $folder-name ){
    // Referencing sprite map by folder name
    $sprite-map: sprite-map( '#{ $sprite-path }#{ $folder-name }/#{ $sprite-1x-folder }/#{ $sprite-selector }',
                    $spacing: $sprite-spacing,
                    $repeat: no-repeat ); //  
    @return $sprite-map;
}

@function sprite-width( $folder-name, $icon ){
    @return image-width( sprite-file( return-sprite-map( $folder-name ), $icon) );
}

@function sprite-height( $folder-name, $icon ){
    @return image-height( sprite-file( return-sprite-map( $folder-name ), $icon ) );
}

// Mixin to create sprites
// -------------------------------------------------------------
@mixin make-sprite( 
                    $folder-name, 
                    $sprite-spacing:    $sprite-spacing
                ) {

    // Storing sprite spacing
    // This is necessary when calling a sprite, 
    // as a sprite might have a custom spacing
    $sprite-spacing-store: append( $sprite-spacing-store, ( $folder-name $sprite-spacing ), comma );

    $sprite: sprite-map( '#{ $sprite-path }#{ $folder-name }/#{ $sprite-1x-folder }/#{ $sprite-selector }',
                    $spacing: $sprite-spacing,
                    $repeat: no-repeat );

    // make a generic class so we only have one @media declaration per sprite that every selector extends.

    %#{ $sprite-prefix }-#{ $folder-name } {
        background-image: sprite-url( $sprite );
        background-repeat: no-repeat;
    }

} // end


// Mixin to use the sprite
// -------------------------------------------------------------

@mixin background-sprite( 
                            $folder-name, 
                            $image-name, 
                            $offset-x: 0, 
                            $offset-y: 0, 
                            $print-dimensions: false
                        ) {

    // Assuming the make-sprite mixin has been called first
    @extend %#{ $sprite-prefix }-#{ $folder-name };

    $current-sprite-spacing: $sprite-spacing;
	

    // Checking for stored spacing
    @each $spacing in $sprite-spacing-store {
        @if ( nth( $spacing, 1 ) == $folder-name ){
            $current-sprite-spacing: nth( $spacing, 2 );
        }
    } // end each

    $sprite: sprite-map( '#{ $sprite-path }#{ $folder-name }/#{ $sprite-1x-folder }/#{ $sprite-selector }', $spacing: $current-sprite-spacing, $repeat: no-repeat );
	
    background-position: sprite-position( $sprite, $image-name, $offset-x, $offset-y );
	
    @if ( $print-dimensions == true ) {
        width: sprite-width( $folder-name, $image-name );
        height: sprite-height( $folder-name, $image-name );
    }
}