@import "lib/susy";
@include establish-baseline;

body { 
	color: $bodyText;
	font-family: $baseFont; 
}

* { 
	@include box-sizing(border-box); 
}

a {
	color: $link;
	cursor: pointer;
	text-decoration: underline;
	
	&:focus { color: #000; }
	&:hover { color: $secondary; }
}

strong { font-weight: 900; }
b { font-weight: 700; }
em { font-style: italic; }

p { 
	clear: both;
	margin-bottom: .5em; 
}

hr {
	border: 1px solid $boxLine;
	border-width: 1px 0 0;
	clear: both;
	margin-bottom: $spacing;
}

legend { @extend .hidden; }

input[type="text"], select { 
	border: 1px solid $borderLineDark;
	color: $bodyText;
	font-family: $baseFont;
	font-size: $base-font-size;
	padding: $spacing / 3;

	&.small { width: pem(95); }

	&.medium { width: pem(100); }

	body &:focus { 
		@include box-shadow($secondary 0 0 5px);

		border: 1px solid $secondary; 
	}
}

.outer {
	@include container(); 
	@include susy-grid-background();  

	clear: both;
	padding: $spacing 0;	
	position: relative;
}

.inner { 
	@extend .outer;

	padding: 0;
	position: static;
}

