.hidden { /* Used to remove spacing left by element but still read by page reader */
	position: absolute;
	margin: -9999px;
}
.noDisplay { /* Element removed completley, not read by page reader */
	display: none;
}

.outer {
	.invisible { /* Element spacing remains but is hidden visually from user but still read by page reader */
		visibility: hidden;

		+ span { font-weight: bold; }
	}

	.noDisplay { /* Element removed completley, not read by page reader */
		@extend .noDisplay;
	}

	.hidden { @extend .hidden; }

	.noFloat { float: none; }
}

.center { text-align: center; }
.alignRight  { text-align: right; }

.block { display: block; } 

.clear { clear: both; }
.clearLeft { clear: left; }

.mandatory { 
	color: $mandatory; 

	th & { color: $primary; }
}

.floatLeft { 
	float: left; 

	.ie7 & { max-width: 35%; }

	&.readability { 
		margin-right: $spacing * 2;
		max-width: 450px; 
	}

	+ .floatLeft { 
		max-width: 68%;
			
		@media all and (max-width: $medium-window-large) { max-width: 56%; } 
		@media all and (max-width: $medium-window) { max-width: 100%; } 
	}
}

.floatRight { float: right; }

.fullWidth { 
	clear: both;
	width: 100%; 

	.ie7 & { max-width: 100%; }
}
.primary .autoWidth { width: auto; }

.inline { @include inline-block; }

.enLarge { @include adjust-font-size-to(16px); }

%controlDefault {
	@include inline-block;

	width: pem(250);

	&[readonly] {
		background-color: transparent;
		border-color: transparent;
	}
}
%controlDisable {
	&[disabled] {
		@include background-image(linear-gradient(#f8f8f8, #d8d8d8));
			-pie-background: linear-gradient(#f8f8f8, #d8d8d8);
			
		background-color: #d8d8d8;
		border-color: $borderLineDark;
		cursor: default;
		color: lighten($bodyText, 30%);
		text-shadow: 0 0 0 $borderLineDark;	

		&:hover { 
			@include background-image(linear-gradient(#f8f8f8, #d8d8d8));
				-pie-background: linear-gradient(#f8f8f8, #d8d8d8);		
		}
	}
}