.icon { 
	@include hide-text('left');
	@include inline-block;

	.ie7 table & { float: left; }

	&.edit {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-edit');

		height: #{sprite-height('sprite-base', 'icon-edit')};
		width: #{sprite-width('sprite-base', 'icon-edit')};

		&:focus,
		&:hover { @extend .edit; }
	}
	&.view {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-view');

		height: #{sprite-height('sprite-base', 'icon-view')};
		width: #{sprite-width('sprite-base', 'icon-view')};
	}
	&.decision {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-decision');

		height: #{sprite-height('sprite-base', 'icon-decision')};
		width: #{sprite-width('sprite-base', 'icon-decision')};
	}
	&.link {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-link');

		height: #{sprite-height('sprite-base', 'icon-link')};
		width: #{sprite-width('sprite-base', 'icon-link')};

		.key & { height: #{sprite-height('sprite-base', 'icon-edit')}; }
	}
	&.merge {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-merge');

		height: #{sprite-height('sprite-base', 'icon-merge')};
		width: #{sprite-width('sprite-base', 'icon-merge')};		
	}
	&.download {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-download');

		height: #{sprite-height('sprite-base', 'icon-download')};
		width: #{sprite-width('sprite-base', 'icon-download')};		
	}
	&.add {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-plus');

		height: #{sprite-height('sprite-base', 'icon-plus')};
		width: #{sprite-width('sprite-base', 'icon-plus')};		
	}
	&.remove {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-minus');

		height: #{sprite-height('sprite-base', 'icon-minus')};
		width: #{sprite-width('sprite-base', 'icon-minus')};		
	}
	&.delete {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-delete');

		height: #{sprite-height('sprite-base', 'icon-delete')};
		width: #{sprite-width('sprite-base', 'icon-delete')};		
	}
	&.altName {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-alt');

		height: #{sprite-height('sprite-base', 'icon-alt')};
		width: #{sprite-width('sprite-base', 'icon-alt')};		

		.key & { 
			@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-alt', $offset-y: 4);

			height: #{sprite-height('sprite-base', 'icon-edit')}; 
		}
	}
	&.inactive {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-inactive');

		height: #{sprite-height('sprite-base', 'icon-inactive')};
		margin-left: $spacing / 2;
		width: #{sprite-width('sprite-base', 'icon-inactive')};		

		.key & { 
			@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-inactive', $offset-y: 6);

			height: #{sprite-height('sprite-base', 'icon-edit')}; 
		}
	}
	&.help {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-help');

		height: #{sprite-height('sprite-base', 'icon-help')};
		width: #{sprite-width('sprite-base', 'icon-help')};		
	}
	&.date {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-calender');

		height: #{sprite-height('sprite-base', 'icon-calender')};
		width: #{sprite-width('sprite-base', 'icon-calender')};	
	}

	

	&.first {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-left');

		.ie7 & { display: block; }

		height: #{sprite-height('sprite-base', 'arrow-left')};
		width: #{sprite-width('sprite-base', 'arrow-left')};		
	}
	&.last {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-right');

		.ie7 & { display: block; }

		height: #{sprite-height('sprite-base', 'arrow-right')};
		width: #{sprite-width('sprite-base', 'arrow-right')};		
	}

	.message & {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-info');

		height: #{sprite-height('sprite-base', 'icon-info')};
		left: $spacing;
		position: absolute;
		top: $spacing;
		width: #{sprite-width('sprite-base', 'icon-info')};		
	}
	.error & {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-error');

		height: #{sprite-height('sprite-base', 'icon-error')};
		width: #{sprite-width('sprite-base', 'icon-error')};		
	}
	.success & {
		@include background-sprite( $folder-name: 'sprite-base', $image-name: 'icon-tick');

		height: #{sprite-height('sprite-base', 'icon-tick')};
		width: #{sprite-width('sprite-base', 'icon-tick')};		
	}
}

