h1, h2, h3, h4 { font-family: $secondaryFonts; }

h1 { 
	@include adjust-font-size-to(25px);

	margin-bottom: $spacing / 2;	

	+ h2 { margin-top: 0; }
}

h2 { 
	@include adjust-font-size-to(20px);

	clear: both;
	margin-top: $spacing;	
}

h3 { 
	@include adjust-font-size-to(16px);

	font-weight: bold;
	margin: ($spacing / 2) 0;	
}

h4 { @include adjust-font-size-to(14px); }

