$total-columns: 12;              // a 4-column grid for Mobile First
$column-width: 4em;            // each column is 4em wide
$gutter-width: 1em;            // 1em gutters between columns
$grid-padding: 0;  
$spacing: $gutter-width;

$container-style: fluid;
$container-width: 99%;

.ie7 { $container-width: 95%; }

$base-font-size: 12px;
$base-line-height: 15px;

$show-grid-backgrounds: false;
$experimental-support-for-svg: true;

$medium-window: 1400px;
$medium-window-large: 1550px;

$primary:  #e7f1f9; /* Light blue */
$secondary:  #003865; /* Dark blue */

$bodyText: #333;
$baseFont: verdana, arial, sans-serif;
$secondaryFonts: arial, arial, sans-serif;

$link: #1f26c4; /* Blue */

$boxLine: #7ab2dd; /* Blue */ 
$boxLineBright: #eaaa00; /* Gold */
$borderLine: #e9e9e9;
$borderLineDark: #CBCEB4;
$borderLineLight: #c3c6a8;

$mandatory: #990000; /* Maroon */
$error: #990000; /* Red */

$shade: #fbeccc; /* Peach */
$highlight: #b2e389; /* Green */
