﻿@using System.Web
@using System.Web.Optimization
@{Layout = "~/Views/Shared/_MVCLayout.cshtml";}
@model App.Core.AppHost.Models.IndexViewModel


@{/*For intellisense, without rendering to client*/if (false){<script src="~/Scripts/_references.js"></script>}}
@Html.AntiForgeryToken()


<div>
    
    <img src="~/content/images/creator/logo.png"/>
</div>
