footer {
	@include span-columns($total-columns); 

	border-top: 1px solid $borderLineDark;
	margin-top: $spacing * 2;
	padding-top: $spacing * 2;

	ul { 
		@include horizontal-list; 
		@include inline-block;

		float: left;
		width: auto;

		&:first-child {
			li {
				border-left: 1px solid $borderLineDark;

				&:first-child { border: 0; }
			}
		}
	}

	.logo { 
		float: right;
		margin-left: $spacing * 2;
	}
}

