header {
	@include span-columns($total-columns);

	background-image: url(../images/pattern-header.png);
	margin-bottom: $spacing; 
	overflow: hidden;

	ul { @include horizontal-list; }	

	.logo { 	
		float: left;		
		padding: ($spacing * 3 ) ($spacing * 1.4); 
	}

	.login {
		float: right; 

		li { @include adjust-leading-to(2); } 
	}

	.title {
		@extend h2;

		clear: none;
		float: left;
		font-weight: bold;
		color: $secondary;
		margin: ($spacing * 2.5) 0 0 $spacing; 
	}
	
	nav {
		@include pie-clearfix;

		background-color: #fff;
		border-bottom: 1px solid $borderLineLight; 
		padding-top: $spacing / 2; 
		
		> ul { 
			@extend .inner;

			margin-bottom: -1px; 
	
			ul { 
				@extend .hidden; 

				background-color: lighten($borderLineLight, 20%);
			}

			li { 
				padding: 0;

				a {
					&:focus { 
						background-color: $primary; 
						color: #000;
					}
				}

				&:hover {		
					> a { 
						background-color: $secondary;
						color: #fff;
					}

					ul { 
						border: 1px solid darken($borderLineLight, 5%);
						margin: 0; 
						z-index: 999;

						li {
							border-left: 1px solid darken($borderLineLight, 5%); 

							&:first-child { border: 0; }

							a { padding: $spacing; }
						}
					}
				}			

				&.current { 
					> a {
						@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-current', $offset-x: 60%, $offset-y: 30);

						background-color: $secondary;
						color: #fff;
						text-decoration: none;

						&:focus { 
							background-color: $primary; 
							color: #000;
						}
					}
				}
			}
			> li { 
				> a  { 
					@include adjust-font-size-to(16px); 

					font-family: $secondaryFonts;
				}
			}
		}

		a {
			color: $bodyText;
			display: block;
			padding: ($spacing / 3) $spacing;
			text-decoration: none;
		}
	}
}

