﻿<nav class="breadcrumb">
    <ol data-bind="foreach: breadcrumbChain">
	    <li>
		    <a data-bind="text: name, attr: { href: link }, click: $parent.doClickAction, visible: link">Home</a>
		    <span data-bind="visible: link">&raquo;</span>
			<span data-bind="text: name, visible: !(link)"></span>
	    </li>
    </ol>
</nav>