@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/**
 * XAct theme for reveal.js.
 * 
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #F0F0FF;
  background: -moz-radial-gradient(center, circle cover, white 0%, #F0F0FF 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #F0F0FF));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #F0F0FF 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #F0F0FF 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #F0F0FF 100%);
  background: radial-gradient(center, circle cover, white 0%, #F0F0FF 100%);
  background-color: white;
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333;
}

::selection {
  color: white;
  background: #134674;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #3b759e;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover {
  color: #74a7cb;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #264c66;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid #F0F0FF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3b759e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #3b759e;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #3b759e;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #3b759e;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #3b759e;
}

.reveal .controls div.left.enabled:hover {
  border-right-color: #74a7cb;
}

.reveal .controls div.right.enabled:hover {
  border-left-color: #74a7cb;
}

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #74a7cb;
}

.reveal .controls div.down.enabled:hover {
  border-top-color: #74a7cb;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #3b759e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

p {}

li small {position:relative;top:0.5em;color:#606060;}

/* 
p {text-align:left; margin-left:20em;}

p:before {
content: url(/client/images/bulletpoint03.png);
} */