dl {
	dt {
		@include adjust-font-size-to(15px);

		border-top: 1px solid $borderLine;
		clear: both;
		float: left;
		font-weight: bold;
		margin: ($spacing / 2) 0;
		padding-top: $spacing;
		width: 100%; 

		span { float: left; }

		&:first-child { 
			border: 0; 
			margin-top: 0;
			padding: 0;
		}
		
		.buttons { 
			margin-left: $spacing * 1.5;
		}
	}

	dd {
		clear: both;
		float: left;
		margin-left: $spacing * 2;
		padding-bottom: $spacing;
		width: 100%;

		span {
			float: left;

			&:first-child { 
				font-weight: bold;
				padding-right: $spacing * 2; 
				width: pem(150);

				+ span { 
					width: pem(100);
					
					+ span { width: pem(300); } 
				}
			}

			&.strong { font-weight: 700; }
		}
	}
}