.row {
	clear: both;
	margin-bottom: $spacing;

	ul { 
		@include inline-block; 

		&.inline {
			width: pem(280);

			li { 
				@include inline-block;  

				margin: 0 ($spacing / 2) ($spacing / 2) 0;
				padding: 0;
				vertical-align: top;
				width: pem(80);
			}
		}
	}

	input{
		@extend %controlDefault;
		@extend %controlDisable;
	
		+ a {
			+ label { 
				display: inline-block;
				float: none;
			}
		}

		&::-webkit-input-placeholder { color: lighten($bodyText, 50%); }
			&:-moz-placeholder { color: lighten($bodyText, 50%); /* Firefox 18- */ }
			&::-moz-placeholder { color: lighten($bodyText, 50%); /* Firefox 19+ */ }
			&:-ms-input-placeholder { color: lighten($bodyText, 50%); }
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
	}

	select { 
		@extend %controlDefault; 
		@extend %controlDisable;

		&.small { width: pem(100); }
	}

	textarea {
		@extend %controlDefault;

		float: left;
		font-family: $baseFont;
		margin: 0 ($spacing / 2) $spacing 0;
	}

	&.radio {
		label { 			
			float: none; 
			text-align: left;
			width: auto;
		}
		.fauxLabel {
			float: left;
			margin-right: $spacing;
			text-align: right;
			width: pem(190);
		}
		
		input[type=radio] {
			border: 0;
			margin: pem(-3) 0 0 200px;
			padding: 0;
		}

		ul { 
			@include horizontal-list; 

			vertical-align: top;

			li { margin: 0; }

			input[type=radio] { margin-left: 1px; }
		}
	}
	&.check {
		@extend .radio;

		input[type=checkbox] { 
			@extend input[type=radio];

			+ label { margin-right: 0; }
		}

		.chk-medWidth {
			@include inline-block;

			width: pem(90);
		}

		.inline {
			margin-top: $spacing / 3;

			label + span { 
				@include inline-block;
				width: pem(180); 
			}
		}

		&.check-row {
			.fauxLabel { margin-top: $spacing / 2; }

			input[type=checkbox] { margin-top: 0; }
		}
	}
	
	 

	&.textOnly { 
		margin: 0 0 $spacing (pem(205)); 
		width: pem(230);
	}

	.small & {
		label { width: pem(35); }
		input[type=number],
		input[type=text] { width: pem(100); }
			
	}
	.medium & {
		label { width: pem(100); }
		input[type=number],
		input[type=text] { width: pem(100); }
	}

	label {
		float: left;
		font-weight: bold;
		margin: ($spacing / 2) $spacing 0 0;
		text-align: right;
		width: pem(190);

		&.small { width: pem(20); }

		.mediumLabels & { width: pem(100); }
		.longLabels & { width: pem(220); }
	}
	.fauxLabel { 
		@extend label; 
		margin: 0 $spacing $spacing 0;

		&.multi { 
			margin-top: ($spacing / 2);

			+ input[type=checkbox] {
				margin-top: -$spacing / 2;

				+ label { @include adjust-leading-to(1.9); }
			}
		}

		+ input[type="checkbox"] { margin-left: 0; }

		+ span {
			@extend input;
			float: left;
			border: 0; 
			margin-bottom: $spacing;
			padding: 0 0 0 ($spacing / 2);
		}
	}

	&.enLarge { 
		.fauxLabel { 
			margin-right: $spacing / 1.7;
			width: pem(144); 
		} 
	}
}




.rowLeftSided {
	

	input{
		@extend %controlDefault;
		@extend %controlDisable;
	
		&::-webkit-input-placeholder { color: lighten($bodyText, 50%); }
			&:-moz-placeholder { color: lighten($bodyText, 50%); /* Firefox 18- */ }
			&::-moz-placeholder { color: lighten($bodyText, 50%); /* Firefox 19+ */ }
			&:-ms-input-placeholder { color: lighten($bodyText, 50%); }
	}
}

.shim {
	@include inline-block; 

	position: relative;
	
	span.placeholderText { 
		background-color: transparent;
		color: lighten($bodyText, 50%); 
		cursor: text;
		display: inline;
		float: none; 
		font-weight: normal;
		left: 4px;
		overflow: hidden;  
		margin: 0;
		position: absolute; 
		text-align: left;
		top: 4px;
		white-space: nowrap;   
		z-index: 99;  
	}	
}

.gemma {
	color: $bodyText !important;
	font-style: normal !important;	
}