.message {
	background-color: #fff;
	border: 3px double $boxLineBright;
	line-height: 1.5;
	margin-top: $spacing;
	padding: $spacing $spacing $spacing ($spacing * 3); 
	position: relative;

	.ie7 & { padding-bottom: $spacing * 1.5; }

	&.error {	
		border-color: $error;
		color: $error;
		float: left;

		.slide-overlay & {
			margin: 0 auto;
			width: 100%;
		}
	}
	&.success {	border-color: #4a7729; }

	&.info {
		border-color: $boxLine;
		margin-bottom: $spacing * 2;
	}

	p[role=heading] { 
		@extend h2; 

		margin: 0 0 0 ($spacing / 2); 
	}

	ul {
		list-style-type: disc;
		margin: ($spacing / 2) 0 0 ($spacing * 2);

		li { margin-bottom: $spacing / 2; }
	}

	.ie8 & { max-width: 100%; }

	@media all and (min-width: $medium-window) { 
		max-width: 50%; 

		.slide-overlay & { max-width: 95%;  }
	}
}