.search {
	fieldset {
		background-color: #fff;
		float: left;
		padding: $spacing;

		label { width: pem(150); }

		+ span { 
			@extend h4;

			float: left; 
			font-weight: bold;
			margin: $spacing ($spacing * 2);
		} 

		> input[type=button] { margin-left: pem(164); }

		&.small { input[type=button] { margin-left: pem(48); } }
		&.medium { input[type=button] { margin-left: pem(113); } }
	}
}