body {
	table {
		margin: $spacing 0;

		&.table-addRows { border-collapse: separate; }

		.highlight { background-color: $highlight; }

		&.autoWidth {
			a { 
				display: block; 
				margin-bottom: $spacing / 2;
			}
		}

		a { white-space: nowrap; }
	}

	th,td { 
		padding: $spacing / 2; 

		&.allowBreak {
			max-width: 30%;
			white-space: normal; 
			word-break: break-all;		
		}
	}

	th {
		background-color: $secondary;
		border: 1px solid #333;
		color: #fff;
		white-space: nowrap;

		&.small { 
			border-width: 1px 0;
			width: 17px;
		}

		&.allowWrap { white-space: normal; }

		&.width50 { width: 50px; }
		&.width100 { width: 100px; }
		&.width110 { width: 110px; }
		&.width135 { width: 135px; }
		&.width150 { width: 150px; }
		&.width200 { width: 200px; }

		&.sorting_asc {
			@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-triangle-up-white', $offset-x: 7px, $offset-y: 10px);

			padding-left: $spacing * 2; 
		}
		&.sorting_desc {
			@extend .sorting_asc;
			@include background-sprite( $folder-name: 'sprite-base', $image-name: 'arrow-triangle-down-white', $offset-x: 7px, $offset-y: 10px); 
		}

		&.sortable, &.sorting, &.sorting_desc, &.sorting_asc  { cursor: pointer; }
	}

	tbody {
		.sub-total {
			td { 
				background-color: $primary;
				font-weight: bold; 
				text-align: right;
			}		
		}
		.total {
			td { 
				background-color: $shade;
				border: 2px solid $borderLineDark;
				border-width: 2px 0 3px;
				font-weight: bold; 
				text-align: right;
			}
		}
	}

	td { 
		border-bottom: 1px solid $borderLine; 
		vertical-align: top;

		input[type="text"] { 
			margin-bottom: $spacing / 3;
			
			@media all and (max-width: $medium-window) { max-width: pem(132); } 

			&:-ms-input-placeholder { color: lighten($bodyText, 50%); }

			
		}
		input[type="radio"] { 
			margin-top: -$spacing; 

			.ie7 & { margin-top: -$spacing / 4; }
		}

		input[type="checkbox"] { 
			
			@extend input[type="radio"]; 

			.ie7 & { margin-top: -$spacing / 4; }
		}

		select { 
			margin: 0 0 ($spacing / 2); 

			+ input { clear: left; }
		}
	}

	.removePadding { 
		padding: 0; 

		li { padding: ($spacing / 2) 0; }
	}

	.noWrap { white-space: nowrap; }

	.noRadio { padding-left: $spacing * 2.5; }

	.addBorder { border-bottom: 1px solid $borderLine; }

	.noBorder {
		td { border: 0; }
	}
}