﻿<div>
	<div class="slide-overlay" data-bind="slideVisible: isVisible, slideDuration: 300">
		<div class="message error"  aria-live="assertive">
			<p role="heading"><span class="icon">Error Message.</span> <span data-bind="text: headerText"></span></p>
			<ul data-bind="foreach: validationErrors">
				<li data-bind="html: $data"></li>
			</ul>
		</div>
	</div>
</div>