/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
.mainNav, .search, .breadcrumb, .paginate_numbers {
  display: none; }

.banner {
  background-image: none; }
