html, body, div, span, applet, object, iframe,
h1, h2, header .title, .message p[role=heading], h3, h4, .search fieldset + span, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, .row .fauxLabel, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.icon.edit, .icon.edit:focus, .icon.edit:hover, .icon.view, .icon.decision, .icon.link, .icon.merge, .icon.download, .icon.add, .icon.remove, .icon.delete, .icon.altName, .key .icon.altName, .icon.inactive, .key .icon.inactive, .icon.help, .icon.date, .icon.first, .icon.last, .message .icon, .error .icon, .success .icon, header nav > ul li.current > a, .toggle .hider .icon, .toggle .hider .icon.closed, .tooltip [role=heading], .tooltip:hover .angle, #simplemodal-container .modalCloseImg, body th.sorting_asc, body th.sorting_desc, .tabs li.current .icon {
  background-image: url('../../Content/images/sprite-base/sprite-s6d6d2e6ede.png');
  background-repeat: no-repeat; }

/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */
/* Default font size in pixels if not overridden. */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.
 
Examples:
 
@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
/* Light blue */
/* Dark blue */
/* Blue */
/* Blue */
/* Gold */
/* Maroon */
/* Red */
/* Peach */
/* Green */
* html {
  font-size: 75%; }

html {
  font-size: 12px;
  line-height: 1.25em; }

body {
  color: #333333;
  font-family: verdana, arial, sans-serif; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #1f26c4;
  cursor: pointer;
  text-decoration: underline; }
  a:focus {
    color: #000; }
  a:hover {
    color: #003865; }

strong {
  font-weight: 900; }

b {
  font-weight: 700; }

em {
  font-style: italic; }

p {
  clear: both;
  margin-bottom: .5em; }

hr {
  border: 1px solid #7ab2dd;
  border-width: 1px 0 0;
  clear: both;
  margin-bottom: 1em; }

input[type="text"], .row .fauxLabel + span[type="text"], select {
  border: 1px solid #cbceb4;
  color: #333333;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  padding: 0.33333em; }
  input[type="text"].small, .row .fauxLabel + span[type="text"].small, select.small {
    width: 7.91667em; }
  input[type="text"].medium, .row .fauxLabel + span[type="text"].medium, select.medium {
    width: 8.33333em; }
  body input[type="text"]:focus, body .row .fauxLabel + span[type="text"]:focus, .row body .fauxLabel + span[type="text"]:focus, body select:focus {
    -webkit-box-shadow: #003865 0 0 5px;
    -moz-box-shadow: #003865 0 0 5px;
    box-shadow: #003865 0 0 5px;
    border: 1px solid #003865; }

.outer, .inner, header nav > ul {
  *zoom: 1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  clear: both;
  padding: 1em 0;
  position: relative; }
  .outer:after, .inner:after, header nav > ul:after {
    content: "";
    display: table;
    clear: both; }

.inner, header nav > ul {
  padding: 0;
  position: static; }

h1, h2, header .title, .message p[role=heading], h3, h4, .search fieldset + span {
  font-family: arial, arial, sans-serif; }

h1 {
  font-size: 2.08333em;
  line-height: 1.2em;
  margin-bottom: 0.5em; }
  h1 + h2, header h1 + .title, .message h1 + p[role=heading] {
    margin-top: 0; }

h2, header .title, .message p[role=heading] {
  font-size: 1.66667em;
  line-height: 1.5em;
  clear: both;
  margin-top: 1em; }

h3 {
  font-size: 1.33333em;
  line-height: 1.875em;
  font-weight: bold;
  margin: 0.5em 0; }

h4, .search fieldset + span {
  font-size: 1.16667em;
  line-height: 2.14286em; }

.hidden, legend, .outer .hidden, .inner .hidden, header nav > ul .hidden, header nav > ul ul {
  /* Used to remove spacing left by element but still read by page reader */
  position: absolute;
  margin: -9999px; }

.noDisplay, .outer .noDisplay, .inner .noDisplay, header nav > ul .noDisplay {
  /* Element removed completley, not read by page reader */
  display: none; }

.outer .invisible, .inner .invisible, header nav > ul .invisible {
  /* Element spacing remains but is hidden visually from user but still read by page reader */
  visibility: hidden; }
  .outer .invisible + span, .inner .invisible + span, header nav > ul .invisible + span {
    font-weight: bold; }
.outer .noDisplay, .inner .noDisplay, header nav > ul .noDisplay {
  /* Element removed completley, not read by page reader */ }
.outer .noFloat, .inner .noFloat, header nav > ul .noFloat {
  float: none; }

.center {
  text-align: center; }

.alignRight {
  text-align: right; }

.block {
  display: block; }

.clear {
  clear: both; }

.clearLeft {
  clear: left; }

.mandatory {
  color: #990000; }
  th .mandatory {
    color: #e7f1f9; }

.floatLeft {
  float: left; }
  .ie7 .floatLeft {
    max-width: 35%; }
  .floatLeft.readability {
    margin-right: 2em;
    max-width: 450px; }
  .floatLeft + .floatLeft {
    max-width: 68%; }
    @media all and (max-width: 1550px) {
      .floatLeft + .floatLeft {
        max-width: 56%; } }
    @media all and (max-width: 1400px) {
      .floatLeft + .floatLeft {
        max-width: 100%; } }

.floatRight {
  float: right; }

.fullWidth {
  clear: both;
  width: 100%; }
  .ie7 .fullWidth {
    max-width: 100%; }

.primary .autoWidth {
  width: auto; }

.inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.enLarge {
  font-size: 1.33333em;
  line-height: 1.875em; }

.row input, .row .fauxLabel + span, .row select, .row textarea, .rowLeftSided input {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 20.83333em; }
  .row input[readonly], .row .fauxLabel + span[readonly], .row select[readonly], .row textarea[readonly], .rowLeftSided input[readonly] {
    background-color: transparent;
    border-color: transparent; }

.outer input[disabled][type=button], .inner input[disabled][type=button], header nav > ul input[disabled][type=button], .outer input[disabled][type=submit], .inner input[disabled][type=submit], header nav > ul input[disabled][type=submit], .outer button[disabled], .inner button[disabled], header nav > ul button[disabled], .row input[disabled], .row .fauxLabel + span[disabled], .row select[disabled], .rowLeftSided input[disabled] {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d8d8d8));
  background-image: -webkit-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: -o-linear-gradient(#f8f8f8, #d8d8d8);
  background-image: linear-gradient(#f8f8f8, #d8d8d8);
  -pie-background: linear-gradient(#f8f8f8, #d8d8d8);
  background-color: #d8d8d8;
  border-color: #cbceb4;
  cursor: default;
  color: gray;
  text-shadow: 0 0 0 #cbceb4; }
  .outer input[disabled][type=button]:hover, .inner input[disabled][type=button]:hover, header nav > ul input[disabled][type=button]:hover, .outer input[disabled][type=submit]:hover, .inner input[disabled][type=submit]:hover, header nav > ul input[disabled][type=submit]:hover, .outer button[disabled]:hover, .inner button[disabled]:hover, header nav > ul button[disabled]:hover, .row input[disabled]:hover, .row .fauxLabel + span[disabled]:hover, .row select[disabled]:hover, .rowLeftSided input[disabled]:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d8d8d8));
    background-image: -webkit-linear-gradient(#f8f8f8, #d8d8d8);
    background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8);
    background-image: -o-linear-gradient(#f8f8f8, #d8d8d8);
    background-image: linear-gradient(#f8f8f8, #d8d8d8);
    -pie-background: linear-gradient(#f8f8f8, #d8d8d8); }

.icon {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }
  .ie7 table .icon {
    float: left; }
  .icon.edit, .icon.edit:focus, .icon.edit:hover {
    background-position: 0 -945px;
    height: 28px;
    width: 34px; }
  .icon.view {
    background-position: 0 -362px;
    height: 28px;
    width: 34px; }
  .icon.decision {
    background-position: 0 -234px;
    height: 28px;
    width: 34px; }
  .icon.link {
    background-position: 0 -3120px;
    height: 17px;
    width: 17px; }
    .key .icon.link {
      height: 28px; }
  .icon.merge {
    background-position: 0 -1523px;
    height: 28px;
    width: 34px; }
  .icon.download {
    background-position: 0 -106px;
    height: 28px;
    width: 34px; }
  .icon.add {
    background-position: 0 -1907px;
    height: 28px;
    width: 34px; }
  .icon.remove {
    background-position: 0 -2035px;
    height: 28px;
    width: 34px; }
  .icon.delete {
    background-position: 0 -1651px;
    height: 28px;
    width: 34px; }
  .icon.altName {
    background-position: 0 -2163px;
    height: 18px;
    width: 18px; }
    .key .icon.altName {
      background-position: 0 -2159px;
      height: 28px; }
  .icon.inactive {
    background-position: 0 -4037px;
    height: 11px;
    margin-left: 0.5em;
    width: 7px; }
    .key .icon.inactive {
      background-position: 0 -4031px;
      height: 28px; }
  .icon.help {
    background-position: 0 -2758px;
    height: 22px;
    width: 22px; }
  .icon.date {
    background-position: 0 -2880px;
    height: 25px;
    width: 25px; }
  .icon.first {
    background-position: 0 -719px;
    height: 16px;
    width: 10px; }
    .ie7 .icon.first {
      display: block; }
  .icon.last {
    background-position: 0 -3808px;
    height: 16px;
    width: 10px; }
    .ie7 .icon.last {
      display: block; }
  .message .icon {
    background-position: 0 -2281px;
    height: 16px;
    left: 1em;
    position: absolute;
    top: 1em;
    width: 16px; }
  .error .icon {
    background-position: 0 -1291px;
    height: 16px;
    width: 16px; }
  .success .icon {
    background-position: 0 -1407px;
    height: 16px;
    width: 16px; }

.breadcrumb {
  clear: both;
  margin: 2em 0 1em; }
  .breadcrumb ol {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    .breadcrumb ol li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .breadcrumb ol li:first-child, .breadcrumb ol li.first {
        padding-left: 0; }
      .breadcrumb ol li:last-child {
        padding-right: 0; }
      .breadcrumb ol li.last {
        padding-right: 0; }
  .breadcrumb a {
    padding-right: 0.25em; }

header {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-image: url(../images/pattern-header.png);
  margin-bottom: 1em;
  overflow: hidden; }
  header ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    header ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      header ul li:first-child, header ul li.first {
        padding-left: 0; }
      header ul li:last-child {
        padding-right: 0; }
      header ul li.last {
        padding-right: 0; }
  header .logo {
    float: left;
    padding: 3em 1.4em; }
  header .login {
    float: right; }
    header .login li {
      line-height: 2.5em; }
  header .title {
    clear: none;
    float: left;
    font-weight: bold;
    color: #003865;
    margin: 2.5em 0 0 1em; }
  header nav {
    *zoom: 1;
    background-color: #fff;
    border-bottom: 1px solid #c3c6a8;
    padding-top: 0.5em; }
    header nav:after {
      content: "";
      display: table;
      clear: both; }
    header nav > ul {
      margin-bottom: -1px; }
      header nav > ul ul {
        background-color: #eeeee6; }
      header nav > ul li {
        padding: 0; }
        header nav > ul li a:focus {
          background-color: #e7f1f9;
          color: #000; }
        header nav > ul li:hover > a {
          background-color: #003865;
          color: #fff; }
        header nav > ul li:hover ul {
          border: 1px solid #b8bc99;
          margin: 0;
          z-index: 999; }
          header nav > ul li:hover ul li {
            border-left: 1px solid #b8bc99; }
            header nav > ul li:hover ul li:first-child {
              border: 0; }
            header nav > ul li:hover ul li a {
              padding: 1em; }
        header nav > ul li.current > a {
          background-position: 60% -805px;
          background-color: #003865;
          color: #fff;
          text-decoration: none; }
          header nav > ul li.current > a:focus {
            background-color: #e7f1f9;
            color: #000; }
      header nav > ul > li > a {
        font-size: 1.33333em;
        line-height: 1.875em;
        font-family: arial, arial, sans-serif; }
    header nav a {
      color: #333333;
      display: block;
      padding: 0.33333em 1em;
      text-decoration: none; }

footer {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  border-top: 1px solid #cbceb4;
  margin-top: 2em;
  padding-top: 2em; }
  footer ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left;
    width: auto; }
    footer ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      footer ul li:first-child, footer ul li.first {
        padding-left: 0; }
      footer ul li:last-child {
        padding-right: 0; }
      footer ul li.last {
        padding-right: 0; }
    footer ul:first-child li {
      border-left: 1px solid #cbceb4; }
      footer ul:first-child li:first-child {
        border: 0; }
  footer .logo {
    float: right;
    margin-left: 2em; }

.outer input[type=button], .inner input[type=button], header nav > ul input[type=button], .outer input[type=submit], .inner input[type=submit], header nav > ul input[type=submit], .outer .row .fauxLabel + span[type=submit], .row .outer .fauxLabel + span[type=submit], .inner .row .fauxLabel + span[type=submit], .row .inner .fauxLabel + span[type=submit], header nav > ul .row .fauxLabel + span[type=submit], .row header nav > ul .fauxLabel + span[type=submit], .outer button, .inner button, header nav > ul button, .outer .row .fauxLabel + span[type=button], .row .outer .fauxLabel + span[type=button], .inner .row .fauxLabel + span[type=button], .row .inner .fauxLabel + span[type=button], header nav > ul .row .fauxLabel + span[type=button], .row header nav > ul .fauxLabel + span[type=button] {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjJmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDg0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0062f8), color-stop(100%, #000842));
  background-image: -webkit-linear-gradient(#0062f8, #000842);
  background-image: -moz-linear-gradient(#0062f8, #000842);
  background-image: -o-linear-gradient(#0062f8, #000842);
  background-image: linear-gradient(#0062f8, #000842);
  -pie-background: linear-gradient(#0062f8, #000842);
  background-color: #005ea9;
  border: 1px solid #003865;
  color: #fff;
  cursor: pointer;
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
  height: 2.5em;
  overflow: visible;
  margin-right: 1em;
  padding: 0 0.5em;
  position: relative;
  text-shadow: 1px 1px 0 #003865;
  width: auto;
  z-index: 1; }
  .outer input[type=button]::-moz-focus-inner, .inner input[type=button]::-moz-focus-inner, header nav > ul input[type=button]::-moz-focus-inner, .outer input[type=submit]::-moz-focus-inner, .inner input[type=submit]::-moz-focus-inner, header nav > ul input[type=submit]::-moz-focus-inner, .outer .row .fauxLabel + span[type=submit]::-moz-focus-inner, .row .outer .fauxLabel + span[type=submit]::-moz-focus-inner, .inner .row .fauxLabel + span[type=submit]::-moz-focus-inner, .row .inner .fauxLabel + span[type=submit]::-moz-focus-inner, header nav > ul .row .fauxLabel + span[type=submit]::-moz-focus-inner, .row header nav > ul .fauxLabel + span[type=submit]::-moz-focus-inner, .outer button::-moz-focus-inner, .inner button::-moz-focus-inner, header nav > ul button::-moz-focus-inner, .outer .row .fauxLabel + span[type=button]::-moz-focus-inner, .row .outer .fauxLabel + span[type=button]::-moz-focus-inner, .inner .row .fauxLabel + span[type=button]::-moz-focus-inner, .row .inner .fauxLabel + span[type=button]::-moz-focus-inner, header nav > ul .row .fauxLabel + span[type=button]::-moz-focus-inner, .row header nav > ul .fauxLabel + span[type=button]::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: -1px 0; }
  .outer input[type=button]:focus, .inner input[type=button]:focus, header nav > ul input[type=button]:focus, .outer input[type=submit]:focus, .inner input[type=submit]:focus, header nav > ul input[type=submit]:focus, .outer .row .fauxLabel + span[type=submit]:focus, .row .outer .fauxLabel + span[type=submit]:focus, .inner .row .fauxLabel + span[type=submit]:focus, .row .inner .fauxLabel + span[type=submit]:focus, header nav > ul .row .fauxLabel + span[type=submit]:focus, .row header nav > ul .fauxLabel + span[type=submit]:focus, .outer button:focus, .inner button:focus, header nav > ul button:focus, .outer .row .fauxLabel + span[type=button]:focus, .row .outer .fauxLabel + span[type=button]:focus, .inner .row .fauxLabel + span[type=button]:focus, .row .inner .fauxLabel + span[type=button]:focus, header nav > ul .row .fauxLabel + span[type=button]:focus, .row header nav > ul .fauxLabel + span[type=button]:focus, .outer input[type=button]:hover, .inner input[type=button]:hover, header nav > ul input[type=button]:hover, .outer input[type=submit]:hover, .inner input[type=submit]:hover, header nav > ul input[type=submit]:hover, .outer .row .fauxLabel + span[type=submit]:hover, .row .outer .fauxLabel + span[type=submit]:hover, .inner .row .fauxLabel + span[type=submit]:hover, .row .inner .fauxLabel + span[type=submit]:hover, header nav > ul .row .fauxLabel + span[type=submit]:hover, .row header nav > ul .fauxLabel + span[type=submit]:hover, .outer button:hover, .inner button:hover, header nav > ul button:hover, .outer .row .fauxLabel + span[type=button]:hover, .row .outer .fauxLabel + span[type=button]:hover, .inner .row .fauxLabel + span[type=button]:hover, .row .inner .fauxLabel + span[type=button]:hover, header nav > ul .row .fauxLabel + span[type=button]:hover, .row header nav > ul .fauxLabel + span[type=button]:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAzM2M4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDUzYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #033c87), color-stop(100%, #00053b));
    background-image: -webkit-linear-gradient(#033c87, #00053b);
    background-image: -moz-linear-gradient(#033c87, #00053b);
    background-image: -o-linear-gradient(#033c87, #00053b);
    background-image: linear-gradient(#033c87, #00053b);
    -pie-background: linear-gradient(#033c87, #00053b);
    background-color: #003865; }
  .outer input[type=button]:active, .inner input[type=button]:active, header nav > ul input[type=button]:active, .outer input[type=submit]:active, .inner input[type=submit]:active, header nav > ul input[type=submit]:active, .outer .row .fauxLabel + span[type=submit]:active, .row .outer .fauxLabel + span[type=submit]:active, .inner .row .fauxLabel + span[type=submit]:active, .row .inner .fauxLabel + span[type=submit]:active, header nav > ul .row .fauxLabel + span[type=submit]:active, .row header nav > ul .fauxLabel + span[type=submit]:active, .outer button:active, .inner button:active, header nav > ul button:active, .outer .row .fauxLabel + span[type=button]:active, .row .outer .fauxLabel + span[type=button]:active, .inner .row .fauxLabel + span[type=button]:active, .row .inner .fauxLabel + span[type=button]:active, header nav > ul .row .fauxLabel + span[type=button]:active, .row header nav > ul .fauxLabel + span[type=button]:active {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxYjJkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ5YTNlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #71b2dc), color-stop(100%, #49a3e3));
    background-image: -webkit-linear-gradient(#71b2dc, #49a3e3);
    background-image: -moz-linear-gradient(#71b2dc, #49a3e3);
    background-image: -o-linear-gradient(#71b2dc, #49a3e3);
    background-image: linear-gradient(#71b2dc, #49a3e3);
    -pie-background: linear-gradient(#71b2dc, #49a3e3); }
  .outer input[type=button].cancel, .inner input[type=button].cancel, header nav > ul input[type=button].cancel, .outer input.cancel[type=submit], .inner input.cancel[type=submit], header nav > ul input.cancel[type=submit], .outer .row .fauxLabel + span.cancel[type=submit], .row .outer .fauxLabel + span.cancel[type=submit], .inner .row .fauxLabel + span.cancel[type=submit], .row .inner .fauxLabel + span.cancel[type=submit], header nav > ul .row .fauxLabel + span.cancel[type=submit], .row header nav > ul .fauxLabel + span.cancel[type=submit], .outer button.cancel, .inner button.cancel, header nav > ul button.cancel, .outer .row .fauxLabel + span[type=button].cancel, .row .outer .fauxLabel + span[type=button].cancel, .inner .row .fauxLabel + span[type=button].cancel, .row .inner .fauxLabel + span[type=button].cancel, header nav > ul .row .fauxLabel + span[type=button].cancel, .row header nav > ul .fauxLabel + span[type=button].cancel {
    background: none;
    -pie-background: none;
    color: #1f26c4;
    border: 0;
    margin-left: 1em;
    text-decoration: underline;
    text-shadow: 0 0 0; }
  .outer input[type=button].indent, .inner input[type=button].indent, header nav > ul input[type=button].indent, .outer input.indent[type=submit], .inner input.indent[type=submit], header nav > ul input.indent[type=submit], .outer .row .fauxLabel + span.indent[type=submit], .row .outer .fauxLabel + span.indent[type=submit], .inner .row .fauxLabel + span.indent[type=submit], .row .inner .fauxLabel + span.indent[type=submit], header nav > ul .row .fauxLabel + span.indent[type=submit], .row header nav > ul .fauxLabel + span.indent[type=submit], .outer button.indent, .inner button.indent, header nav > ul button.indent, .outer .row .fauxLabel + span[type=button].indent, .row .outer .fauxLabel + span[type=button].indent, .inner .row .fauxLabel + span[type=button].indent, .row .inner .fauxLabel + span[type=button].indent, header nav > ul .row .fauxLabel + span[type=button].indent, .row header nav > ul .fauxLabel + span[type=button].indent {
    margin-left: 15.25em; }
  .small .outer input[type=button], .small .inner input[type=button], .small header nav > ul input[type=button], header .small nav > ul input[type=button], .small .outer input[type=submit], .small .inner input[type=submit], .small header nav > ul input[type=submit], header .small nav > ul input[type=submit], .small .outer .row .fauxLabel + span[type=submit], .small .row .outer .fauxLabel + span[type=submit], .row .small .outer .fauxLabel + span[type=submit], .small .inner .row .fauxLabel + span[type=submit], .small .row .inner .fauxLabel + span[type=submit], .row .small .inner .fauxLabel + span[type=submit], .small header nav > ul .row .fauxLabel + span[type=submit], header .small nav > ul .row .fauxLabel + span[type=submit], .small .row header nav > ul .fauxLabel + span[type=submit], .row .small header nav > ul .fauxLabel + span[type=submit], .row header .small nav > ul .fauxLabel + span[type=submit], .small .outer button, .small .inner button, .small header nav > ul button, header .small nav > ul button, .small .outer .row .fauxLabel + span[type=button], .row .small .outer .fauxLabel + span[type=button], .small .inner .row .fauxLabel + span[type=button], .row .small .inner .fauxLabel + span[type=button], .small header nav > ul .row .fauxLabel + span[type=button], .row .small header nav > ul .fauxLabel + span[type=button], header .small nav > ul .row .fauxLabel + span[type=button], .row header .small nav > ul .fauxLabel + span[type=button] {
    margin-left: 3.5em; }
  .medium .outer input[type=button], .medium .inner input[type=button], .medium header nav > ul input[type=button], header .medium nav > ul input[type=button], .medium .outer input[type=submit], .medium .inner input[type=submit], .medium header nav > ul input[type=submit], header .medium nav > ul input[type=submit], .medium .outer .row .fauxLabel + span[type=submit], .medium .row .outer .fauxLabel + span[type=submit], .row .medium .outer .fauxLabel + span[type=submit], .medium .inner .row .fauxLabel + span[type=submit], .medium .row .inner .fauxLabel + span[type=submit], .row .medium .inner .fauxLabel + span[type=submit], .medium header nav > ul .row .fauxLabel + span[type=submit], header .medium nav > ul .row .fauxLabel + span[type=submit], .medium .row header nav > ul .fauxLabel + span[type=submit], .row .medium header nav > ul .fauxLabel + span[type=submit], .row header .medium nav > ul .fauxLabel + span[type=submit], .medium .outer button, .medium .inner button, .medium header nav > ul button, header .medium nav > ul button, .medium .outer .row .fauxLabel + span[type=button], .row .medium .outer .fauxLabel + span[type=button], .medium .inner .row .fauxLabel + span[type=button], .row .medium .inner .fauxLabel + span[type=button], .medium header nav > ul .row .fauxLabel + span[type=button], .row .medium header nav > ul .fauxLabel + span[type=button], header .medium nav > ul .row .fauxLabel + span[type=button], .row header .medium nav > ul .fauxLabel + span[type=button], .mediumLabels .outer input[type=button], .mediumLabels .inner input[type=button], .mediumLabels header nav > ul input[type=button], header .mediumLabels nav > ul input[type=button], .mediumLabels .outer input[type=submit], .mediumLabels .inner input[type=submit], .mediumLabels header nav > ul input[type=submit], header .mediumLabels nav > ul input[type=submit], .mediumLabels .outer .row .fauxLabel + span[type=submit], .mediumLabels .row .outer .fauxLabel + span[type=submit], .row .mediumLabels .outer .fauxLabel + span[type=submit], .mediumLabels .inner .row .fauxLabel + span[type=submit], .mediumLabels .row .inner .fauxLabel + span[type=submit], .row .mediumLabels .inner .fauxLabel + span[type=submit], .mediumLabels header nav > ul .row .fauxLabel + span[type=submit], header .mediumLabels nav > ul .row .fauxLabel + span[type=submit], .mediumLabels .row header nav > ul .fauxLabel + span[type=submit], .row .mediumLabels header nav > ul .fauxLabel + span[type=submit], .row header .mediumLabels nav > ul .fauxLabel + span[type=submit], .mediumLabels .outer button, .mediumLabels .inner button, .mediumLabels header nav > ul button, header .mediumLabels nav > ul button, .mediumLabels .outer .row .fauxLabel + span[type=button], .row .mediumLabels .outer .fauxLabel + span[type=button], .mediumLabels .inner .row .fauxLabel + span[type=button], .row .mediumLabels .inner .fauxLabel + span[type=button], .mediumLabels header nav > ul .row .fauxLabel + span[type=button], .row .mediumLabels header nav > ul .fauxLabel + span[type=button], header .mediumLabels nav > ul .row .fauxLabel + span[type=button], .row header .mediumLabels nav > ul .fauxLabel + span[type=button] {
    margin-left: 8.5em; }
  .longLabels .outer input[type=button], .longLabels .inner input[type=button], .longLabels header nav > ul input[type=button], header .longLabels nav > ul input[type=button], .longLabels .outer input[type=submit], .longLabels .inner input[type=submit], .longLabels header nav > ul input[type=submit], header .longLabels nav > ul input[type=submit], .longLabels .outer .row .fauxLabel + span[type=submit], .longLabels .row .outer .fauxLabel + span[type=submit], .row .longLabels .outer .fauxLabel + span[type=submit], .longLabels .inner .row .fauxLabel + span[type=submit], .longLabels .row .inner .fauxLabel + span[type=submit], .row .longLabels .inner .fauxLabel + span[type=submit], .longLabels header nav > ul .row .fauxLabel + span[type=submit], header .longLabels nav > ul .row .fauxLabel + span[type=submit], .longLabels .row header nav > ul .fauxLabel + span[type=submit], .row .longLabels header nav > ul .fauxLabel + span[type=submit], .row header .longLabels nav > ul .fauxLabel + span[type=submit], .longLabels .outer button, .longLabels .inner button, .longLabels header nav > ul button, header .longLabels nav > ul button, .longLabels .outer .row .fauxLabel + span[type=button], .row .longLabels .outer .fauxLabel + span[type=button], .longLabels .inner .row .fauxLabel + span[type=button], .row .longLabels .inner .fauxLabel + span[type=button], .longLabels header nav > ul .row .fauxLabel + span[type=button], .row .longLabels header nav > ul .fauxLabel + span[type=button], header .longLabels nav > ul .row .fauxLabel + span[type=button], .row header .longLabels nav > ul .fauxLabel + span[type=button] {
    margin-left: 17.5em; }
.outer button span, .inner button span, header nav > ul button span {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjJmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDg0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0062f8), color-stop(100%, #000842));
  background-image: -webkit-linear-gradient(#0062f8, #000842);
  background-image: -moz-linear-gradient(#0062f8, #000842);
  background-image: -o-linear-gradient(#0062f8, #000842);
  background-image: linear-gradient(#0062f8, #000842);
  -pie-background: linear-gradient(#0062f8, #000842);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #003865;
  padding: 0.16667em 0.5em;
  position: absolute;
  right: -1em;
  top: -1em; }
.outer .longLabels input.indent, .inner .longLabels input.indent, header nav > ul .longLabels input.indent, .outer .longLabels .row .fauxLabel + span.indent, .row .outer .longLabels .fauxLabel + span.indent, .inner .longLabels .row .fauxLabel + span.indent, .row .inner .longLabels .fauxLabel + span.indent, header nav > ul .longLabels .row .fauxLabel + span.indent, .row header nav > ul .longLabels .fauxLabel + span.indent {
  margin-left: 17.5em; }

.pageBtns {
  clear: both;
  margin-top: 2em; }
  .pageBtns input:first-child, .pageBtns .row .fauxLabel + span:first-child, .row .pageBtns .fauxLabel + span:first-child {
    margin-left: 0; }

.primary form {
  clear: left; }

.container {
  background-color: #e7f1f9;
  border: 1px solid #7ab2dd;
  float: left;
  margin: 1em 1em 1em 0;
  max-width: 70.83333em;
  padding: 1em;
  width: auto; }
  .container h2, .container header .title, header .container .title, .container .message p[role=heading], .message .container p[role=heading] {
    margin: 0;
    text-align: center; }
  .home .container {
    margin-top: 4em;
    padding: 2em 3em 3em; }
  .welcome .container {
    min-height: 19.16667em;
    padding: 1em 3em;
    width: 35.83333em; }
    .welcome .container h2, .welcome .container header .title, header .welcome .container .title, .welcome .container .message p[role=heading], .message .welcome .container p[role=heading] {
      text-align: left; }
      .welcome .container h2 + p, .welcome .container header .title + p, header .welcome .container .title + p, .welcome .container .message p[role=heading] + p, .message .welcome .container p[role=heading] + p {
        margin-top: 1em; }
    .welcome .container ul {
      float: left;
      width: 100%; }
  .container li {
    margin-top: 1em; }
    .container li:first-child {
      margin-top: 0; }
  .container nav {
    margin: 1em 0; }
  .container + p {
    max-width: 35.83333em; }
    .container + p strong {
      white-space: nowrap; }
    .container + p span:first-child {
      display: block; }

.paging {
  line-height: 3.125em;
  clear: both;
  width: 100%; }
  .ie7 .paging {
    line-height: 1.25em;
    margin-top: 2em; }
  .paging div {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
  .paging ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: -0.66667em 1em 0; }
    .paging ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .paging ul li:first-child, .paging ul li.first {
        padding-left: 0; }
      .paging ul li:last-child {
        padding-right: 0; }
      .paging ul li.last {
        padding-right: 0; }
    .paging ul li {
      font-weight: bold; }
      .paging ul li a {
        font-weight: normal; }
  input + .paging, .row .fauxLabel + span + .paging {
    margin-left: 2em; }
  table + .paging {
    line-height: 2.5em; }

.key {
  border: 1px solid #7ab2dd;
  float: right;
  font-weight: bold;
  margin-top: -2em;
  padding: 1em;
  position: relative; }
  @media all and (max-width: 1400px) {
    .key {
      margin-top: 0; } }
  .key .title {
    font-size: 1.33333em;
    line-height: 1.875em;
    line-height: 1.25em;
    margin-bottom: 0.5em; }
  .key ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1; }
    .key ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .key ul li:first-child, .key ul li.first {
        padding-left: 0; }
      .key ul li:last-child {
        padding-right: 0; }
      .key ul li.last {
        padding-right: 0; }
    .key ul li {
      margin-left: 0.5em; }
      .key ul li:first-child {
        margin-left: 0; }
      .key ul li.match {
        background-color: #b2e389;
        padding: 0.4em; }
  .key .icon {
    margin-right: 0.5em; }
    .ie7 .key .icon {
      float: left; }

.toggle {
  clear: both;
  float: left;
  margin: 1em 0; }
  .toggle .hider {
    background-color: #e7f1f9;
    border: 1px solid #7ab2dd;
    border-bottom: 0;
    float: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 1em;
    position: relative;
    width: 10.25em;
    white-space: nowrap;
    z-index: 1; }
    .ie7 .toggle .hider {
      margin-bottom: -4px; }
    .student-history .toggle .hider {
      background-color: transparent;
      border: 0;
      margin: 0 1em 0 0;
      padding: 0;
      width: auto; }
    .toggle .hider .icon {
      background-position: 0 -4148px;
      height: 6px;
      margin-left: 0.5em;
      width: 12px; }
      .ie7 .toggle .hider .icon {
        float: right;
        margin-top: -12px; }
      .toggle .hider .icon.closed {
        background-position: 0 0;
        height: 6px;
        width: 12px; }
  .toggle .toggleMe {
    clear: left;
    float: left;
    margin: 0;
    padding: 1em; }
    .student-history .toggle .toggleMe {
      float: none;
      padding: 0.5em 0 0; }

.tooltip {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  cursor: pointer;
  z-index: 0; }
  .tooltip [role=heading] {
    background-position: 0 -2758px;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    height: 22px;
    width: 22px; }
  .tooltip .tip,
  .tooltip .angle {
    display: none;
    position: absolute; }
  .tooltip .helptext {
    position: relative;
    top: -30px; }
  .tooltip:hover .angle {
    background-position: 0 -1779px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    height: 28px;
    left: 20px;
    top: -3px;
    width: 16px;
    z-index: 200; }
  .tooltip:hover .tip {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background-color: #fff;
    border: 1px solid #eaaa00;
    display: block;
    font-size: 90%;
    padding: 0.5em 1em 0;
    top: -3px;
    left: 35px;
    min-width: 220px;
    z-index: 100; }

/*
	SimpleModal Basic Modal Dialog
	http://simplemodal.com
	Copyright (c) 2013 Eric Martin - http://ericmmartin.com
	Licensed under the MIT license:
	http://www.opensource.org/licenses/mit-license.php
*/
.modalBox {
  display: none;
  clear: both;
  padding-bottom: 1em;
  width: 100%; }
  .modalBox .inner, .modalBox header nav > ul, header .modalBox nav > ul {
    padding: 0 1em;
    width: 100%; }
  .modalBox h3 {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZjFmOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e7f1f9));
    background-image: -webkit-linear-gradient(#ffffff, #e7f1f9);
    background-image: -moz-linear-gradient(#ffffff, #e7f1f9);
    background-image: -o-linear-gradient(#ffffff, #e7f1f9);
    background-image: linear-gradient(#ffffff, #e7f1f9);
    -pie-background: linear-gradient(#ffffff, #e7f1f9);
    background-color: #e7f1f9;
    border-bottom: 2px solid #e9e9e9;
    margin: 0 0 1em;
    padding: 0.25em 0;
    text-align: center; }
  .modalBox .row {
    clear: both;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden; }
    .modalBox .row * {
      white-space: normal; }
    .modalBox .row .fauxLabel {
      margin-bottom: 0;
      width: 16.66667em; }
      .modalBox .row .fauxLabel + span {
        float: none;
        margin-bottom: 0; }
    .modalBox .row label, .modalBox .row .fauxLabel {
      width: 16.66667em; }
    .modalBox .row .textInput {
      border: 1px dashed #cbceb4;
      border-width: 0 1px;
      display: inline-block;
      padding: 0 1em 1em;
      vertical-align: top;
      width: 20.83333em; }
      .modalBox .row .textInput + .textInput {
        border: 0;
        margin-right: 2em; }
      .modalBox .row .textInput.change {
        background-color: #e7f1f9;
        font-weight: bold; }
      .modalBox .row .textInput span {
        font-weight: normal; }
    .modalBox .row li {
      list-style-position: outside; }
    .modalBox .row input, .modalBox .row .fauxLabel + span,
    .modalBox .row textarea {
      float: left;
      width: 16.66667em; }
    .modalBox .row select {
      width: auto; }
  .modalBox .rollback {
    margin-top: 1em; }
    .modalBox .rollback textarea {
      width: 33.33333em; }
    .modalBox .rollback.noDisplay {
      display: none; }
  .modalBox .indent {
    clear: both;
    margin-left: 17.75em; }
  .modalBox.modalBox-small .inner, .modalBox.modalBox-small header nav > ul, header .modalBox.modalBox-small nav > ul {
    padding: 1em 2em; }
  .modalBox.modalBox-small .row .fauxLabel, .modalBox.modalBox-small .row label, .modalBox.modalBox-small .row .fauxLabel {
    width: 10em; }
  .modalBox.modalBox-small .row textarea {
    max-width: 60%; }
    .ie8 .modalBox.modalBox-small .row textarea {
      max-width: 50%; }
  .modalBox.modalBox-small .row input[type=radio], .modalBox.modalBox-small .row.check input[type=checkbox], .modalBox.modalBox-small .row.check .fauxLabel + span[type=checkbox], .modalBox.modalBox-small .row .fauxLabel + span[type=radio] {
    margin: 0 0.33333em 0 0; }
  .modalBox.modalBox-small .indent {
    margin-left: 11.08333em; }

#simplemodal-overlay {
  background-color: #000; }

#simplemodal-container {
  background-color: #fff;
  border: 10px solid #fff; }
  #simplemodal-container .modalCloseImg {
    background-position: 0 -2631px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    cursor: pointer;
    height: 27px;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 29px;
    z-index: 9999; }
  #simplemodal-container .simplemodal-wrap {
    border: 3px solid #003865; }

.slide-overlay {
  left: 0;
  position: fixed;
  top: 1em;
  width: 100%;
  z-index: 999; }

body table {
  margin: 1em 0; }
  body table.table-addRows {
    border-collapse: separate; }
  body table .highlight {
    background-color: #b2e389; }
  body table.autoWidth a {
    display: block;
    margin-bottom: 0.5em; }
  body table a {
    white-space: nowrap; }
body th, body td {
  padding: 0.5em; }
  body th.allowBreak, body td.allowBreak {
    max-width: 30%;
    white-space: normal;
    word-break: break-all; }
body th {
  background-color: #003865;
  border: 1px solid #333;
  color: #fff;
  white-space: nowrap; }
  body th.small {
    border-width: 1px 0;
    width: 17px; }
  body th.allowWrap {
    white-space: normal; }
  body th.width50 {
    width: 50px; }
  body th.width100 {
    width: 100px; }
  body th.width110 {
    width: 110px; }
  body th.width135 {
    width: 135px; }
  body th.width150 {
    width: 150px; }
  body th.width200 {
    width: 200px; }
  body th.sorting_asc, body th.sorting_desc {
    background-position: 7px -2387px;
    padding-left: 2em; }
  body th.sorting_desc {
    background-position: 7px -1175px; }
  body th.sortable, body th.sorting, body th.sorting_desc, body th.sorting_asc, body th.sorting_desc {
    cursor: pointer; }
body tbody .sub-total td {
  background-color: #e7f1f9;
  font-weight: bold;
  text-align: right; }
body tbody .total td {
  background-color: #fbeccc;
  border: 2px solid #cbceb4;
  border-width: 2px 0 3px;
  font-weight: bold;
  text-align: right; }
body td {
  border-bottom: 1px solid #e9e9e9;
  vertical-align: top; }
  body td input[type="text"], body td .row .fauxLabel + span[type="text"], .row body td .fauxLabel + span[type="text"] {
    margin-bottom: 0.33333em; }
    @media all and (max-width: 1400px) {
      body td input[type="text"], body td .row .fauxLabel + span[type="text"], .row body td .fauxLabel + span[type="text"] {
        max-width: 11em; } }
    body td input[type="text"]:-ms-input-placeholder, body td .row .fauxLabel + span[type="text"]:-ms-input-placeholder, .row body td .fauxLabel + span[type="text"]:-ms-input-placeholder {
      color: #b3b3b3; }
  body td input[type="radio"], body td input[type="checkbox"], body td .row .fauxLabel + span[type="checkbox"], .row body td .fauxLabel + span[type="checkbox"], body td .row .fauxLabel + span[type="radio"], .row body td .fauxLabel + span[type="radio"] {
    margin-top: -1em; }
    .ie7 body td input[type="radio"], .ie7 body td input[type="checkbox"], .ie7 body td .row .fauxLabel + span[type="checkbox"], .ie7 .row body td .fauxLabel + span[type="checkbox"], .row .ie7 body td .fauxLabel + span[type="checkbox"], .ie7 body td .row .fauxLabel + span[type="radio"], .row .ie7 body td .fauxLabel + span[type="radio"] {
      margin-top: -0.25em; }
  .ie7 body td input[type="checkbox"], .ie7 body td .row .fauxLabel + span[type="checkbox"], .row .ie7 body td .fauxLabel + span[type="checkbox"] {
    margin-top: -0.25em; }
  body td select {
    margin: 0 0 0.5em; }
    body td select + input, body td .row select.fauxLabel + span, .row body td select.fauxLabel + span {
      clear: left; }
body .removePadding {
  padding: 0; }
  body .removePadding li {
    padding: 0.5em 0; }
body .noWrap {
  white-space: nowrap; }
body .noRadio {
  padding-left: 2.5em; }
body .addBorder {
  border-bottom: 1px solid #e9e9e9; }
body .noBorder td {
  border: 0; }

.row {
  clear: both;
  margin-bottom: 1em; }
  .row ul {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }
    .row ul.inline {
      width: 23.33333em; }
      .row ul.inline li {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        zoom: 1;
        *display: inline;
        margin: 0 0.5em 0.5em 0;
        padding: 0;
        vertical-align: top;
        width: 6.66667em; }
  .row input + a + label, .row .fauxLabel + span + a + label, .row input + a + .fauxLabel, .row .fauxLabel + span + a + .fauxLabel {
    display: inline-block;
    float: none; }
  .row input::-webkit-input-placeholder, .row .fauxLabel + span::-webkit-input-placeholder {
    color: #b3b3b3; }
  .row input:-moz-placeholder, .row .fauxLabel + span:-moz-placeholder {
    color: #b3b3b3;
    /* Firefox 18- */ }
  .row input::-moz-placeholder, .row .fauxLabel + span::-moz-placeholder {
    color: #b3b3b3;
    /* Firefox 19+ */ }
  .row input:-ms-input-placeholder, .row .fauxLabel + span:-ms-input-placeholder {
    color: #b3b3b3; }
  .row input[type="checkbox"], .row .fauxLabel + span[type="checkbox"],
  .row input[type="radio"],
  .row body td input[type="checkbox"],
  body td .row input[type="checkbox"],
  body td .row .fauxLabel + span[type="checkbox"],
  .row body td .fauxLabel + span[type="checkbox"],
  .row .fauxLabel + span[type="radio"] {
    width: auto; }
  .row select.small {
    width: 8.33333em; }
  .row textarea {
    float: left;
    font-family: verdana, arial, sans-serif;
    margin: 0 0.5em 1em 0; }
  .row.radio label, .row.check label, .row.radio .fauxLabel, .row.check .fauxLabel {
    float: none;
    text-align: left;
    width: auto; }
  .row.radio .fauxLabel, .row.check .fauxLabel {
    float: left;
    margin-right: 1em;
    text-align: right;
    width: 15.83333em; }
  .row.radio input[type=radio], .row.check input[type=radio], .row.check input[type=checkbox], .row.check .fauxLabel + span[type=checkbox], .row.radio .fauxLabel + span[type=radio], .row.check .fauxLabel + span[type=radio] {
    border: 0;
    margin: -0.25em 0 0 200px;
    padding: 0; }
  .row.radio ul, .row.check ul {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    vertical-align: top; }
    .row.radio ul li, .row.check ul li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .row.radio ul li:first-child, .row.check ul li:first-child, .row.radio ul li.first, .row.check ul li.first {
        padding-left: 0; }
      .row.radio ul li:last-child, .row.check ul li:last-child {
        padding-right: 0; }
      .row.radio ul li.last, .row.check ul li.last {
        padding-right: 0; }
    .row.radio ul li, .row.check ul li {
      margin: 0; }
    .row.radio ul input[type=radio], .row.check ul input[type=radio], .row.radio ul .row.check input[type=checkbox], .row.check ul input[type=checkbox], .row.radio ul .row.check .fauxLabel + span[type=checkbox], .row.check ul .fauxLabel + span[type=checkbox], .row.radio ul .fauxLabel + span[type=radio], .row.check ul .fauxLabel + span[type=radio] {
      margin-left: 1px; }
  .row.check input[type=checkbox] + label, .row.check .fauxLabel + span[type=checkbox] + label, .row.check input[type=checkbox] + .fauxLabel, .row.check .fauxLabel + span[type=checkbox] + .fauxLabel {
    margin-right: 0; }
  .row.check .chk-medWidth {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    width: 7.5em; }
  .row.check .inline {
    margin-top: 0.33333em; }
    .row.check .inline label + span, .row.check .inline .fauxLabel + span {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      width: 15em; }
  .row.check.check-row .fauxLabel {
    margin-top: 0.5em; }
  .row.check.check-row input[type=checkbox], .row.check.check-row .fauxLabel + span[type=checkbox] {
    margin-top: 0; }
  .row.textOnly {
    margin: 0 0 1em 17.08333em;
    width: 19.16667em; }
  .small .row label, .small .row .fauxLabel {
    width: 2.91667em; }
  .small .row input[type=number], .small .row .fauxLabel + span[type=number],
  .small .row input[type=text],
  .small .row .fauxLabel + span[type=text] {
    width: 8.33333em; }
  .medium .row label, .medium .row .fauxLabel {
    width: 8.33333em; }
  .medium .row input[type=number], .medium .row .fauxLabel + span[type=number],
  .medium .row input[type=text],
  .medium .row .fauxLabel + span[type=text] {
    width: 8.33333em; }
  .row label, .row .fauxLabel {
    float: left;
    font-weight: bold;
    margin: 0.5em 1em 0 0;
    text-align: right;
    width: 15.83333em; }
    .row label.small, .row .small.fauxLabel {
      width: 1.66667em; }
    .mediumLabels .row label, .mediumLabels .row .fauxLabel {
      width: 8.33333em; }
    .longLabels .row label, .longLabels .row .fauxLabel {
      width: 18.33333em; }
  .row .fauxLabel {
    margin: 0 1em 1em 0; }
    .row .fauxLabel.multi {
      margin-top: 0.5em; }
      .row .fauxLabel.multi + input[type=checkbox], .row .fauxLabel.multi + span[type=checkbox] {
        margin-top: -0.5em; }
        .row .fauxLabel.multi + input[type=checkbox] + label, .row .fauxLabel.multi + span[type=checkbox] + label, .row .fauxLabel.multi + input[type=checkbox] + .fauxLabel, .row .fauxLabel.multi + span[type=checkbox] + .fauxLabel {
          line-height: 2.375em; }
    .row .fauxLabel + input[type="checkbox"], .row .fauxLabel + span[type="checkbox"] {
      margin-left: 0; }
    .row .fauxLabel + span {
      float: left;
      border: 0;
      margin-bottom: 1em;
      padding: 0 0 0 0.5em; }
  .row.enLarge .fauxLabel {
    margin-right: 0.58824em;
    width: 12em; }

.rowLeftSided input::-webkit-input-placeholder, .rowLeftSided .row .fauxLabel + span::-webkit-input-placeholder, .row .rowLeftSided .fauxLabel + span::-webkit-input-placeholder {
  color: #b3b3b3; }
.rowLeftSided input:-moz-placeholder, .rowLeftSided .row .fauxLabel + span:-moz-placeholder, .row .rowLeftSided .fauxLabel + span:-moz-placeholder {
  color: #b3b3b3;
  /* Firefox 18- */ }
.rowLeftSided input::-moz-placeholder, .rowLeftSided .row .fauxLabel + span::-moz-placeholder, .row .rowLeftSided .fauxLabel + span::-moz-placeholder {
  color: #b3b3b3;
  /* Firefox 19+ */ }
.rowLeftSided input:-ms-input-placeholder, .rowLeftSided .row .fauxLabel + span:-ms-input-placeholder, .row .rowLeftSided .fauxLabel + span:-ms-input-placeholder {
  color: #b3b3b3; }

.shim {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative; }
  .shim span.placeholderText {
    background-color: transparent;
    color: #b3b3b3;
    cursor: text;
    display: inline;
    float: none;
    font-weight: normal;
    left: 4px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    text-align: left;
    top: 4px;
    white-space: nowrap;
    z-index: 99; }

.gemma {
  color: #333333 !important;
  font-style: normal !important; }

.search fieldset {
  background-color: #fff;
  float: left;
  padding: 1em; }
  .search fieldset label, .search fieldset .row .fauxLabel, .row .search fieldset .fauxLabel {
    width: 12.5em; }
  .search fieldset + span {
    float: left;
    font-weight: bold;
    margin: 1em 2em; }
  .search fieldset > input[type=button], .search .outer fieldset > input[type=submit], .outer .search fieldset > input[type=submit], .search .inner fieldset > input[type=submit], .inner .search fieldset > input[type=submit], .search header nav > ul fieldset > input[type=submit], header nav > ul .search fieldset > input[type=submit], .search .outer .row fieldset > .fauxLabel + span[type=submit], .outer .row .search fieldset > .fauxLabel + span[type=submit], .search .row .outer fieldset > .fauxLabel + span[type=submit], .row .outer .search fieldset > .fauxLabel + span[type=submit], .search .inner .row fieldset > .fauxLabel + span[type=submit], .inner .row .search fieldset > .fauxLabel + span[type=submit], .search .row .inner fieldset > .fauxLabel + span[type=submit], .row .inner .search fieldset > .fauxLabel + span[type=submit], .search header nav > ul .row fieldset > .fauxLabel + span[type=submit], header nav > ul .row .search fieldset > .fauxLabel + span[type=submit], .search .row header nav > ul fieldset > .fauxLabel + span[type=submit], .row header nav > ul .search fieldset > .fauxLabel + span[type=submit], .search .outer fieldset > button, .outer .search fieldset > button, .search .inner fieldset > button, .inner .search fieldset > button, .search header nav > ul fieldset > button, header nav > ul .search fieldset > button, .search .row fieldset > .fauxLabel + span[type=button], .row .search fieldset > .fauxLabel + span[type=button] {
    margin-left: 13.66667em; }
  .search fieldset.small input[type=button], .search fieldset.small .outer input[type=submit], .outer .search fieldset.small input[type=submit], .search fieldset.small .inner input[type=submit], .inner .search fieldset.small input[type=submit], .search fieldset.small header nav > ul input[type=submit], header nav > ul .search fieldset.small input[type=submit], .search fieldset.small .outer .row .fauxLabel + span[type=submit], .outer .row .search fieldset.small .fauxLabel + span[type=submit], .search fieldset.small .row .outer .fauxLabel + span[type=submit], .row .outer .search fieldset.small .fauxLabel + span[type=submit], .search fieldset.small .inner .row .fauxLabel + span[type=submit], .inner .row .search fieldset.small .fauxLabel + span[type=submit], .search fieldset.small .row .inner .fauxLabel + span[type=submit], .row .inner .search fieldset.small .fauxLabel + span[type=submit], .search fieldset.small header nav > ul .row .fauxLabel + span[type=submit], header nav > ul .row .search fieldset.small .fauxLabel + span[type=submit], .search fieldset.small .row header nav > ul .fauxLabel + span[type=submit], .row header nav > ul .search fieldset.small .fauxLabel + span[type=submit], .search fieldset.small .outer button, .outer .search fieldset.small button, .search fieldset.small .inner button, .inner .search fieldset.small button, .search fieldset.small header nav > ul button, header nav > ul .search fieldset.small button, .search fieldset.small .row .fauxLabel + span[type=button], .row .search fieldset.small .fauxLabel + span[type=button] {
    margin-left: 4em; }
  .search fieldset.medium input[type=button], .search fieldset.medium .outer input[type=submit], .outer .search fieldset.medium input[type=submit], .search fieldset.medium .inner input[type=submit], .inner .search fieldset.medium input[type=submit], .search fieldset.medium header nav > ul input[type=submit], header nav > ul .search fieldset.medium input[type=submit], .search fieldset.medium .outer .row .fauxLabel + span[type=submit], .outer .row .search fieldset.medium .fauxLabel + span[type=submit], .search fieldset.medium .row .outer .fauxLabel + span[type=submit], .row .outer .search fieldset.medium .fauxLabel + span[type=submit], .search fieldset.medium .inner .row .fauxLabel + span[type=submit], .inner .row .search fieldset.medium .fauxLabel + span[type=submit], .search fieldset.medium .row .inner .fauxLabel + span[type=submit], .row .inner .search fieldset.medium .fauxLabel + span[type=submit], .search fieldset.medium header nav > ul .row .fauxLabel + span[type=submit], header nav > ul .row .search fieldset.medium .fauxLabel + span[type=submit], .search fieldset.medium .row header nav > ul .fauxLabel + span[type=submit], .row header nav > ul .search fieldset.medium .fauxLabel + span[type=submit], .search fieldset.medium .outer button, .outer .search fieldset.medium button, .search fieldset.medium .inner button, .inner .search fieldset.medium button, .search fieldset.medium header nav > ul button, header nav > ul .search fieldset.medium button, .search fieldset.medium .row .fauxLabel + span[type=button], .row .search fieldset.medium .fauxLabel + span[type=button] {
    margin-left: 9.41667em; }

dl dt {
  font-size: 1.25em;
  line-height: 2em;
  border-top: 1px solid #e9e9e9;
  clear: both;
  float: left;
  font-weight: bold;
  margin: 0.5em 0;
  padding-top: 1em;
  width: 100%; }
  dl dt span {
    float: left; }
  dl dt:first-child {
    border: 0;
    margin-top: 0;
    padding: 0; }
  dl dt .buttons {
    margin-left: 1.5em; }
dl dd {
  clear: both;
  float: left;
  margin-left: 2em;
  padding-bottom: 1em;
  width: 100%; }
  dl dd span {
    float: left; }
    dl dd span:first-child {
      font-weight: bold;
      padding-right: 2em;
      width: 12.5em; }
      dl dd span:first-child + span {
        width: 8.33333em; }
        dl dd span:first-child + span + span {
          width: 25em; }
    dl dd span.strong {
      font-weight: 700; }

.message {
  background-color: #fff;
  border: 3px double #eaaa00;
  line-height: 1.5;
  margin-top: 1em;
  padding: 1em 1em 1em 3em;
  position: relative; }
  .ie7 .message {
    padding-bottom: 1.5em; }
  .message.error {
    border-color: #990000;
    color: #990000;
    float: left; }
    .slide-overlay .message.error {
      margin: 0 auto;
      width: 100%; }
  .message.success {
    border-color: #4a7729; }
  .message.info {
    border-color: #7ab2dd;
    margin-bottom: 2em; }
  .message p[role=heading] {
    margin: 0 0 0 0.5em; }
  .message ul {
    list-style-type: disc;
    margin: 0.5em 0 0 2em; }
    .message ul li {
      margin-bottom: 0.5em; }
  .ie8 .message {
    max-width: 100%; }
  @media all and (min-width: 1400px) {
    .message {
      max-width: 50%; }
      .slide-overlay .message {
        max-width: 95%; } }

.tabs {
  margin-top: 4.1em;
  position: relative;
  float: left; }
  .ie8 .tabs {
    clear: both; }
  .tabs li {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d1d1d1));
    background-image: -webkit-linear-gradient(#ffffff, #d1d1d1);
    background-image: -moz-linear-gradient(#ffffff, #d1d1d1);
    background-image: -o-linear-gradient(#ffffff, #d1d1d1);
    background-image: linear-gradient(#ffffff, #d1d1d1);
    font-size: 1.25em;
    line-height: 2em;
    border: 1px solid #cbceb4;
    cursor: pointer;
    float: left; }
    .oldie .tabs li {
      background-color: #d1d1d1; }
    .tabs li a {
      color: #333333;
      display: block;
      padding: 0.5em 1em;
      text-decoration: none; }
    .tabs li:first-child {
      border-right: 0; }
    .tabs li.current {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMzg2NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #003865), color-stop(100%, #003865));
      background-image: -webkit-linear-gradient(#003865, #003865);
      background-image: -moz-linear-gradient(#003865, #003865);
      background-image: -o-linear-gradient(#003865, #003865);
      background-image: linear-gradient(#003865, #003865); }
      .oldie .tabs li.current {
        background-color: #003865; }
      .tabs li.current a {
        color: #fff; }
      .tabs li.current .icon {
        background-position: 0 -1185px;
        height: 6px;
        margin-left: 0.5em;
        width: 12px; }
  .tabs + table {
    margin-top: 0; }
    .tabs + table + table {
      margin-top: 0; }
