﻿<div class="floatLeft">
	<h2>
		<!-- ko text: title -->
		<!-- /ko -->
		<a href="#" class="icon add" title="Add alternative name. "
			data-bind="click: onAddAltName,
	attr: { title: resources.get('ModifyStudentView_ModifyStudentViewAddSymbolButtonTip') }">add</a>
	</h2>
	<table class="table-addRows" data-bind="visible: shouldViewTable">
		<thead>
			<tr>
				<th class="small width50"></th>
				<th class="width200">Family name <span class="mandatory">*</span></th>
				<!--data-bind="visible: newAltNames().length > 0 "-->
				<th class="width150">Given name(s) <span class="mandatory">*</span></th>
				<th class="width150">Verification</th>
				<th class="small allowWrap center width100">Set as preferred name</th>
				<th class="width200" data-bind="visible: checks.canEditCreatedBy">Created by</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: newAltNames">
			<tr>
				<td><a class="icon delete" 
					data-bind="click: $parent.onDeleteNewAltName, attr: { title: resources.get('ModifyStudentView_ModifyStudentViewDeleteSymbolButtonTip') }">delete</a></td>
			    <td>
			        <input type="text" aria-required="true" placeholder="Family name" maxlength="100"
			               data-bind="attr: { title: resources.get('AddStudentView_AddStudentViewAltFamilyNameTip') }, value: FamilyName,
    uniqueId: { prefix: 'txtAltFamilyName'}, valueUpdate: 'change'" />
			    </td>
			    <td>
			        <input id="txtAltGivenName1"type="text" class="width150" aria-required="true" placeholder="Given name(1)" maxlength="100"
			               data-bind="attr: { title: resources.get('AddStudentView_AddStudentViewAltGivenName1Tip') }, value: GivenName1, valueUpdate: 'change',
    uniqueId: { prefix: 'txtAltGivenName'}" />
			        <input type="text" class="width150" placeholder="Given name(2)" maxlength="100"
			               data-bind="attr: { title: resources.get('AddStudentView_AddStudentViewAltGivenName2Tip') }, value: GivenName2, valueUpdate: 'change',
    uniqueId: { prefix: 'txtAltGivenName'}" />
			        <input type="text" class="width150" placeholder="Given name(3)" maxlength="100"
			               data-bind="attr: { title: resources.get('AddStudentView_AddStudentViewAltGivenName3Tip') }, value: GivenName3, valueUpdate: 'change',
    uniqueId: { prefix: 'txtAltGivenName'}" />
			    </td>
			    <td>
			      
				    <select data-bind="value: NameBirthDateVerificationMethodFK,
										options: $parent.referenceData.nameDobVerification,
										optionsText: 'Value',
										optionsValue: 'Key',
										uniqueId: { prefix: 'selAltVer'},
										attr: { title: resources.get('AddStudentView_AddStudentViewAltVerificationTip') }">
			        </select>
			    </td>
			    <td class="center">
				    <input type="radio" name="radPrefName" 
				           data-bind="radioChecked: PreferredNameIndicator,
										uniqueId: { prefix: 'radPreferredName'},
										attr: { title: resources.get('AddStudentView_AddStudentViewAltSetAsPreferredNameTip') }" />
			    </td>
			    <td data-bind="visible: $parent.checks.canEditCreatedBy">
				    <select data-bind="value: CreatedByProviderFK,
															options: $parent.referenceData.linkedProviders,
															optionsText: 'ProviderName',
															optionsValue: 'ProviderId',
															uniqueId: { prefix: 'radPreferredName'},
															attr: { title: resources.get('ModifyStudentView_ModifyStudentViewAltCreatedByTip') }">
			        </select>
				    <div class="clear-fix"></div>
					<span class="noWrap">
				    <input type="text" aria-required="true" class="small" placeholder="dd/mm/yyyy"
				           data-bind="valueAsDatePicker: CreatedDateTime,
										attr: { title: resources.get('ModifyStudentView_ModifyStudentViewAltCreatedDateTip') }" />
					</span>
			    </td>
			</tr>

		</tbody>

	</table>
</div>

<div class="clear"></div>
